<div class="row">
  <div class="col-12">

    <!-- definicion -->
    <div class="card card-munay"
      style="background-image: url('../../../assets/img/munay/recursos/banner-sintillaRecurso-8.png'); background-repeat: repeat-x;">

      <div class="card-img overlap animated fade-in-up">
        <div class="row justify-content-center">
          <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6 mx-auto">
            <img alt="element 06" class="img-fluid" src="assets/img/munay/titulos/COMPARSA.png">
          </div>
        </div>
      </div>

      <div class="card-body px-3 pb-4 animated fade-in-down">
        <div class="container">

          <div class="row mt-3">
            <div class="col-md-12">

              <ngb-carousel>
                <ng-template ngbSlide>
                  <img src="assets/img/banner/comparsa2.png" alt="Random first slide">
                  <div class="carousel-caption">

                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img src="assets/img/banner/comparsa3.png" alt="Random second slide">
                  <div class="carousel-caption">

                  </div>
                </ng-template>
              </ngb-carousel>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-6">
              <p class="text-justify">
                Es la identificación de la modalidad de Comparsa del CNB, pero en la escala del
                carnavalito, de acuerdo al reglamento de participación de Corpocarnaval (2012)
                se reconoce que es el motivo “constituido por un grupo de niños no menor a siete (7)
                } y no mayor a doce (12) personas, quienes portarán sobre si figuras carnavalescas,
                máscaras o mascarones; complementados con vestidos alusivos al tema. El máximo de
                acompañantes es de ocho (8) personas que harán parte de la coreografía, completando
                un número de total veinte (20) integrantes” (p.9) Esta estructura se ha mantenido
                con el paso del tiempo, aunque con algunos cambios en la distribución de
                participantes.
              </p>
              <p>Desde luego para esta modalidad, se adapta los valores de composición,
                la dimensión y el peso de las estructuras que están reglamentadas para los adultos,
                por cuanto los temas se realizan en materiales más livianos y su tamaño, al igual que
                el diseño son proporcionales a las características de los niños.</p>

            </div>

            <div class="col-md-6">
              <ngb-carousel>
                <ng-template ngbSlide>
                  <img src="assets/img/banner/comparsa1.png" alt="Random first slide">
                  <div class="carousel-caption">

                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img src="assets/img/banner/comparsa4.png" alt="Random second slide">
                  <div class="carousel-caption">

                  </div>
                </ng-template>
              </ngb-carousel>
            </div>

          </div>


          <div class="row mt-3">
            <div class="col-md-12">
              <p class="text-justify">
                Desde luego para esta modalidad, se adapta los valores de composición, la dimensión
                y el peso de las estructuras que están reglamentadas para los adultos, por cuanto los
                temas se realizan en materiales más livianos y su tamaño, al igual que el diseño son
                proporcionales a las características de los niños.
              </p>
            </div>
          </div>

        </div>
      </div>


    </div>




    

    <div class="card card-munay mt-5"
      style="background-image: url('../../../assets/img/munay/textura/sintilla_foother_card.png'); background-repeat: repeat-x; background-position: bottom;">

      <div class="card-img overlap animated fade-in-up">
        <div class="row justify-content-center">
          <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4 mx-auto">
            <img alt="element 06" class="img-fluid" src="assets/img/munay/titulos/aporte.png">
          </div>
        </div>
      </div>

      
    </div>

<!--Aporte pedagogico Starts -->

    <div class="row">

      <!-- el saber del carnaval Starts-->
      <div class="col-xl-4 col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="ft-bell font-large-1 float-left mr-2"></i>
            <h4 class="card-title mb-0">El saber del carnaval</h4>

          </div>
          <div class="card-content">
            <div class="card-body">
              <ul class="list-group">
                <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'El saber del carnaval')">
                  <span class="badge bg-primary float-left mr-2">
                    <i class="ft-file-text text-white"></i>
                  </span> Imaginación pura
                </li>
                <li class="list-group-item cursor-pointer" (click)="GetDetails(content2, 'El saber del carnaval')">
                  <span class="badge bg-primary float-left mr-2">
                    <i class="ft-file-text text-white"></i>
                  </span> El niño y su identidad
                </li>
                
              </ul>
            </div>
          </div>

        </div>
      </div>
      <!-- fin el saber del carnaval Starts-->

      <!-- El hacer del carnaval en el sistema educativo Starts-->
      <div class="col-xl-4 col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="ft-star font-large-1 float-left mr-2"></i>
            <h4 class="card-title mb-0">El hacer del carnaval en el sistema educativo</h4>

          </div>
          <div class="card-content">
            <div class="card-body">
              <ul class="list-group">
                <li class="list-group-item cursor-pointer" (click)="GetDetails(content3, 'El hacer del carnaval en el sistema educativo')">
                  <span class="badge bg-danger float-left mr-2">
                    <i class="ft-file-text text-white"></i>
                  </span> Construcción colectiva 
                </li>
                <li class="list-group-item cursor-pointer" (click)="GetDetails(content4, 'El hacer del carnaval en el sistema educativo')">
                  <span class="badge bg-danger float-left mr-2">
                    <i class="ft-file-text text-white"></i>
                  </span> Tener buen gusto 
                </li>
                
              </ul>
            </div>
          </div>

        </div>
      </div>
      <!-- fin El hacer del carnaval en el sistema educativo-->


      <!-- Cuerpo y carnaval Starts-->
      <div class="col-xl-4 col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="ft-award font-large-1 float-left mr-2"></i>
            <h4 class="card-title mb-0">Cuerpo y carnaval</h4>

          </div>
          <div class="card-content">
            <div class="card-body">
              <ul class="list-group">
                <li class="list-group-item cursor-pointer" (click)="GetDetails(content5, 'Cuerpo y carnaval')">
                  <span class="badge bg-warning float-left mr-2">
                    <i class="ft-file-text text-white"></i>
                  </span> Cuerpo social 
                </li>
                <li class="list-group-item cursor-pointer" (click)="GetDetails(content6, 'Cuerpo y carnaval')">
                  <span class="badge bg-warning float-left mr-2">
                    <i class="ft-file-text text-white"></i>
                  </span> Trabajo en equipo
                </li>
                <li class="list-group-item cursor-pointer" (click)="GetDetails(content7, 'Cuerpo y carnaval')">
                  <span class="badge bg-warning float-left mr-2">
                    <i class="ft-file-text text-white"></i>
                  </span> Mundo irreal 
                </li>
                <li class="list-group-item cursor-pointer" (click)="GetDetails(content8, 'Cuerpo y carnaval')">
                  <span class="badge bg-warning float-left mr-2">
                    <i class="ft-file-text text-white"></i>
                  </span> Enfrentando sus miedos
                </li>
                

                
              </ul>
            </div>
          </div>

        </div>
      </div>
      <!-- fin Cuerpo y carnaval -->

    </div>

    <!-- el saber del carnaval content-->

    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header bg-info">
        <h4 class="modal-title white">{{title}}</h4>
        <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-bold-500">Imaginación pura</p>
        <p>
          Es definitivo el desarrollo del pensamiento que permite
           volver realidad los sueños y anhelos de los niños a 
           través de la elaboración de los “muñecos” o esculturas.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
      </div>
    </ng-template>

    <ng-template #content2 let-c="close" let-d="dismiss">
      <div class="modal-header bg-info">
        <h4 class="modal-title white">{{title}}</h4>
        <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-bold-500">El niño y su identidad</p>
        <p>
          Poder construir con sus propias manos y habilidades aquellos
           personajes que les han acompañado durante la infancia y los
            temas que son reconocidos como parte del lugar.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
      </div>
    </ng-template>


 <!-- El hacer del carnaval en el sistema educativo content-->

    <ng-template #content3 let-c="close" let-d="dismiss">
      <div class="modal-header bg-info">
        <h4 class="modal-title white">{{title}}</h4>
        <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-bold-500">Construcción colectiva</p>
        <p>
          El dar vida a una comparsa de carnaval, generalmente
           permite organizar ideas y concretarlas en torno a cada 
           uno de los aspectos que requiere tener en cuenta para
            su motivo.
        </p>
        <p>
          Una construcción que además debe desarrollarse colectivamente 
          por sus diseños, tamaño y peso para cargar y jugar durante el
           desfile. Así, esta modalidad permite el reconocimiento de 
           dimensiones y proporciones entre las figuras.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
      </div>
    </ng-template>

    <ng-template #content4 let-c="close" let-d="dismiss">
      <div class="modal-header bg-info">
        <h4 class="modal-title white">{{title}}</h4>
        <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-bold-500">Tener buen gusto</p>
        <p>
          El terminado o acabados y la combinación de colores entre 
          los motivos, permiten desarrollar toda una serie de habilidades
           cognitivas y sensibles a la hora de enfrentar a los niños en
            un proceso de creación.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
      </div>
    </ng-template>

    

    <!-- Cuerpo y carnaval content-->

    <ng-template #content5 let-c="close" let-d="dismiss">
      <div class="modal-header bg-info">
        <h4 class="modal-title white">{{title}}</h4>
        <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-bold-500">Cuerpo social</p>
        <p>
          La dimensión y cantidad de figuras de la comparsa, permite
           comprender distintas relaciones sociales e interpretar los 
           personajes-motivos que se exaltan en la propuesta.
      
        </p>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
      </div>
    </ng-template>

    <ng-template #content6 let-c="close" let-d="dismiss">
      <div class="modal-header bg-info">
        <h4 class="modal-title white">{{title}}</h4>
        <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-bold-500">Trabajo en equipo</p>
        <p>
          Además de dimensionar y valorar el trabajo en equipo que 
          requiere esta modalidad, se resalta la necesidad de 
          interacción y organización con los demás integrantes
           que participan en la comparsa.
        </p>
        <p>
          Ello permite un lenguaje común a la hora de presentar el
           motivo en la senda, de tal manera que se vuelva un tema
            con una secuencia de figuras que se complementan entre sí. 
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
      </div>
    </ng-template>

    <ng-template #content7 let-c="close" let-d="dismiss">
      <div class="modal-header bg-info">
        <h4 class="modal-title white">{{title}}</h4>
        <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-bold-500">Mundo irreal</p>
        <p>
          Los conceptos y percepciones entre lo real y lo subjetivo, 
          le brinda al niño una manera distinta de ver el mundo, que 
          se complementa con las sensaciones, emociones y sentimientos.
           Al experimentar organización, liderazgo y cohesión al momento
            de mostrar su trabajo o motivo como un ejemplo de su creación.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
      </div>
    </ng-template>

    <ng-template #content8 let-c="close" let-d="dismiss">
      <div class="modal-header bg-info">
        <h4 class="modal-title white">{{title}}</h4>
        <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-bold-500">Enfrentando sus miedos</p>
        <p>
            En algunas IEM son identificados como muñecos; en Nariño, es una 
            modalidad característica que se relaciona con otras prácticas de
             elaboración manual como los años viejos. Los niños al tener mayor
              exposición o cercanía con esta modalidad superan temores ante
               figuras grotescas, desproporcionadas y desconocidas, en ciertos
                casos alusivas a mitos locales.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
      </div>
    </ng-template>

   
    <!--Aporte pedagogico End-->



    <!--Datos Historicos Starts -->

    <div class="card card-munay mt-5"
      style="background-image: url('../../../assets/img/munay/textura/sintilla_foother_card.png'); background-repeat: repeat-x; background-position: bottom;">

      <div class="card-img overlap animated fade-in-up">
        <div class="row justify-content-center">
          <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4 mx-auto">
            <img alt="element 06" class="img-fluid" src="assets/img/munay/titulos/datos.png">
          </div>
        </div>
      </div>

      <div class="card-body">

        <div class="card-block">
          <p>
            Muñoz (1991, p.10) identifica a las comparsas como un motivo que tiene
            un origen en lo parateatral, las figuras de las comparsas estarían
            relacionadas con la identificación del tótem desde los rituales de
            las comunidades de Pastos y Quillacingas, y con la probabilidad en
            la conexión con los Incas.
          </p>
          <p>
            Desde 1926, se reconoce en el Festival Estudiantil del Municipio de Pasto,
            la presencia de comparsas dentro del desfile del Carnaval, con temas
            relacionados a España, oriente y algunas alusivas a la región; en los
            inicios del carnaval lo local tenía una participación mínima en comparación
            con los referentes externos (Muñoz, 1991).

          </p>

          <p>Las primeras temáticas de los motivos de las comparsas estaban influenciadas
            por los referentes visuales y cinematográficos de la época, por esta razón,
            se presume que el cine mexicano inspiró en la elaboración de mascarones bajo
            la figura del mexicano. También era usual la presencia de algunos personajes
            de la literatura universal, como el Quijote y Sancho Panza.
          </p>

          <p>
            Desde los inicios de la comparsa se identifica la presencia de la danza como
            parte de la presentación del motivo, es así que en la crónica de 1927 (Muñoz, 1991)
            señala en el programa la presencia de Comparsas Danzantes. Así mismo, que,
            existió en la programación una muestra de comparsas a caballo y comparsas femeninas.
          </p>

          <p>
            En 1929 se identifica la presencia de la comparsa “Familia Machuca” dirigida
            por el Batallón Boyacá, haciendo una alusión a los arrieros antioqueños, Muñoz
            (1991, p.20), elemento que va a ser incorporado con la Familia Castañeda
          </p>

        </div>

      </div>

    </div>

    <!--Datos Historicos End-->

    <!--Estadisticas Starts -->
    <div class="card card-munay mt-5"
      style="background-image: url('../../../assets/img/munay/textura/sintilla_foother_card.png'); background-repeat: repeat-x; background-position: bottom;">

      <div class="card-img overlap animated fade-in-up">
        <div class="row justify-content-center">
          <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4 mx-auto">
            <img alt="element 06" class="img-fluid" src="assets/img/munay/titulos/estadisticas.png">
          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="card-block">

          <div class="container">
            <div class="row">
              <div class="col-md-12 mb-4">
                <canvas height="400" baseChart class="chart" [datasets]="lineChartData" [labels]="lineChartLabels"
                  [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                  [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
          </div>

          <div class="container mt-3">
            <div class="row">
              <div class="col-md-12 mb-4">
                <canvas height="400" baseChart class="chart" [datasets]="lineChartData2" [labels]="lineChartLabels2"
                  [options]="lineChartOptions2" [colors]="lineChartColors2" [legend]="lineChartLegend"
                  [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!--EstadisticasEnd-->

  </div>
</div>
