<div class="container-fluid">
  <div class="todo">
    <mat-sidenav-container>
      <mat-sidenav #sidenav opened>

        <!-- Contenido de tu sidenav aquí -->
        <div class="sidenav-content">
          <div class="testeo position-relative d-flex flex-column">
            <!-- hola -->
            <div class="logo">

            </div>

            <div class="iconos position-relative d-flex flex-column">
              <div *ngFor="let route of routes">
                <a>
                  <img class="icon" [src]="route.image" alt=""><span (click)="route.action()">{{route.span}}</span>
                </a>
              </div>
              <img class="icon2" src="../../../assets/img/newSidenav/hovers/graficoComplemento.svg" alt="">


            </div>

          </div>

        </div>
      </mat-sidenav>

    </mat-sidenav-container>
  </div>
</div>