<div class="container-fluid">
  <div class="todo">
    <mat-sidenav-container>
      <mat-sidenav #sidenav opened>

        <!-- Contenido de tu sidenav aquí -->
        <div class="sidenav-content">
          <div class="testeo position-relative d-flex flex-column">
            <!-- hola -->
            <div class="logo">

            </div>

            <div class="iconos position-relative d-flex flex-column">
              <img class="icon" src="../../../assets/img/newSidenav/iconos/1.svg" alt=""><span>Descripción</span>
              <img class="icon" src="../../../../assets/img/newSidenav/iconos/2.svg" alt=""><span>Reseña
                Histórica</span>
              <img class="icon" src="../../../assets/img/newSidenav/iconos/3.svg" alt=""><span>Relatos</span>
              <img class="icon" src="../../../assets/img/newSidenav/iconos/4.svg" alt=""><span>Reflexiones</span>
              <img class="icon" src="../../../assets/img/newSidenav/iconos/5.svg" alt=""><span>Galería</span>
              <img class="icon" src="../../../assets/img/newSidenav/iconos/6.svg" alt=""><span>Enlaces de
                interés</span>
              <img class="icon2" src="../../../assets/img/newSidenav/hovers/graficoComplemento.svg" alt="">


            </div>

          </div>

        </div>
      </mat-sidenav>

    </mat-sidenav-container>
  </div>
</div>