<section id="timeline" class="timeline-center timeline-wrapper">




  <div class="card card-munay"
    style="background-image: url('../../../assets/img/munay/recursos/banner-sintillaRecurso-8.png'); background-repeat: repeat-x;">

    <div class="card-img overlap">
      <div class="row justify-content-center">
        <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6 mx-auto">
          <img alt="element 06" class="img-fluid" src="assets/img/munay/titulos/MUSICA.png">
        </div>
      </div>
    </div>

    <!----------------------------------------- Card taller  ---------------------------------------->
    <div class="card-body">
      <div class="card-block">
        <p class="card-text ">Aprende a interpretar los instrumentos típicos, a identificar
          y ejecutar ritmos musicales propios del gran sur, empezando por el reconocimiento de la
          estructura percusiva del Bambuco Sonsureño para estructurar temas y melodías que animen
          la fiesta, llenen de armonía y sentido lúdico la senda del carnaval.</p>

      </div>
    </div>

    <div class="row ">
      <div class="col-xs-9 col-md-9 my-auto">
        <img alt="element 06" class="img-fluid" src="assets/img/munay/recursos/VIDEO_TALLER.png">
      </div>
    </div>


    <div class="embed-responsive embed-responsive-4by3 col-xs-9 col-md-9 mx-auto">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/4SJPAxI5ESY" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="card-body">
      <div class="card-block">
        <p class="card-text text-center">El maestro Leonardo Yépez comparte sus orientaciones
          sobre la estructura musical del Bambuco Sonsureño</p>

      </div>
    </div>
    <!----------------------------------------- Card taller  ---------------------------------------->



    <!-------------------------------------------------- MARCADOR  ------------------------------------------------->
    <ul class="timeline">
      <li class="timeline-line"></li>
     
      <li class="timeline-group">
        <a href="" class="col-xs-9 col-md-9 my-auto"> <img alt="element 06" class="img-fluid"
            src="assets/img/munay/botones/taller_musica.PNG"></a>
      </li>
      <li class="timeline-group">
        <a href="assets/pdf/guiones/musica.pdf" target="blank" class="col-xs-9 col-md-9 my-auto" id="btn-download">
          <img alt="element 06" class="img-fluid" src="assets/img/munay/botones/DESCARGA.png">
        </a>
      </li>
      
    </ul>
    <!-------------------------------------------------- MARCADOR  ------------------------------------------------->




    <!----------------------------------------- Video Instructivo   ---------------------------------------->
    <div class="row ">
      <div class="col-xs-9 col-md-9 my-auto">
        <img alt="element 06" class="img-fluid" src="assets/img/munay/recursos/VIDEO_TUTORIAL.png">
      </div>
    </div>


    <div class="embed-responsive embed-responsive-4by3 col-xs-9 col-md-9 mx-auto">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/8r0a72QDB7Q" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="card-body">
      <div class="card-block">
        <p class="card-text text-center">El maestro Leonardo Yépez comparte sus orientaciones
          sobre la estructura musical del Bambuco Sonsureño </p>

      </div>
    </div>
    <!----------------------------------------- Video Instructivo   ---------------------------------------->


  </div>

  <!------------------------------------------- Card tips maestro -------------------------------------------->
  <div class="timeline-card card border-grey border-lighten-2">
    <div class="card-header">
      <div class="text-center">
        <p><i class="fa fa-bar-chart font-medium-4"></i></p>
        <h4>TIPS PARA EL MAESTRO</h4>


      </div>
      <div>
        <li>Se debe reconocer la importancia del bombo en la estructura rítmica del bambuco
          sureño o son sureño, pues este da la métrica y es la base de conexión con los demás
          instrumentos.</li>
        <li>
          El hecho de no tener instrumentos adecuados, no puede ser una limitante para reconocer
          el ritmo del bambuco sureño. A través del ritmo del cuerpo, de las palmas y de la voz,
          se puede aprender los ritmos de los instrumentos.
        </li>

        <li>
          Es posible adaptar material reciclado para la elaboración de instrumentos,
          como canecas, mangueras, botellas.
        </li>
        <li>
          Después de identificar el ritmo musical de cada instrumento con el cuerpo,
          se recomienda explorar los instrumentos reales.
        </li>
        <li>
          Se pueden usar onomatopeyas para entender el ritmo de cada instrumento, es decir
          reemplazar con fonemas los sonidos que deben producirse en la interpretación,
          ejemplo: ta cu tun tá, ta cu tun tá.
        </li>
        <li>Los estudiantes deben tener un mínimo conocimiento sobre agarre de baquetas,
          postura y algunos ritmos musicales tanto en el bombo, como en el redoblante y percusión menor.

        </li>

        <li>
          Es necesario realizar cada uno de los ejercicios de manera lenta y progresiva
          hasta alcanzar un nivel de dominio de los elementos y sonidos a gran velocidad.
        </li>
        <li>
          Tener en cuenta que esta propuesta es un primer acercamiento con
          la estructura rítmica, en este caso de bambuco sureño.
        </li>
      </div>

    </div>
    <div class="card-body">
    </div>
  </div>
  <!------------------------------------------- Card tips maestro-------------------------------------------->


</section>