<div class="row">
  <div class="col-12">

    <!-- definicion -->
    <div class="card card-munay"
      style="background-image: url('../../../assets/img/munay/recursos/banner-sintillaRecurso-8.png'); background-repeat: repeat-x;">

      <div class="card-img overlap animated fade-in-up">
        <div class="row justify-content-center">
          <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6 mx-auto">
            <img alt="element 06" class="img-fluid" src="assets/img/munay/titulos/CARROCITA.png">
          </div>
        </div>
      </div>


      <div class="card-body px-3 pb-4 animated fade-in-down">
        <div class="container">
          <div class="row mt-3">

            <div class="col-md-12">
              <ngb-carousel>
                <ng-template ngbSlide>
                  <img src="assets/img/banner/CARROCITA_1.JPG" alt="Random first slide">
                  <div class="carousel-caption">

                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img src="assets/img/banner/CARROCITA_2.JPG" alt="Random second slide">
                  <div class="carousel-caption">

                  </div>
                </ng-template>
              </ngb-carousel>
            </div>


            <div class="col-md-12">
              <p class="text-justify">
                Pequeña construcción de un motivo con figuras escultóricas y alegóricas
                elaboradas en papel maché y montadas en estructuras que generalmente se
                desplazan por tracción mecánica. Su dimensión generalmente alcanza un (1) m.
                de alto por dos (2) m de largo.

              </p>

              <p>
                Se evidencia una evolución en la técnica, en sus temáticas y el tamaño,
                puesto que en sus inicios las carrocitas se plasmaron como pequeños autos
                de juguete que se vestían con adornos para pasearlos durante el desfile.
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>




    

    <div class="card card-munay mt-5"
      style="background-image: url('../../../assets/img/munay/textura/sintilla_foother_card.png'); background-repeat: repeat-x; background-position: bottom;">

      <div class="card-img overlap animated fade-in-up">
        <div class="row justify-content-center">
          <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4 mx-auto">
            <img alt="element 06" class="img-fluid" src="assets/img/munay/titulos/aporte.png">
          </div>
        </div>
      </div>

      </div>
<!--Aporte pedagogico Starts -->

<div class="row">

  <!-- el saber del carnaval Starts-->
  <div class="col-xl-4 col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="ft-bell font-large-1 float-left mr-2"></i>
        <h4 class="card-title mb-0">El saber del carnaval</h4>

      </div>
      <div class="card-content">
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'El saber del carnaval')">
              <span class="badge bg-primary float-left mr-2">
                <i class="ft-file-text text-white"></i>
              </span> Saber decidir
            </li>
            <li class="list-group-item cursor-pointer" (click)="GetDetails(content2, 'El saber del carnaval')">
              <span class="badge bg-primary float-left mr-2">
                <i class="ft-file-text text-white"></i>
              </span> Saber crear
            </li>
            
            
          </ul>
        </div>
      </div>

    </div>
  </div>
  <!-- fin el saber del carnaval Starts-->

  <!-- El hacer del carnaval en el sistema educativo Starts-->
  <div class="col-xl-4 col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="ft-star font-large-1 float-left mr-2"></i>
        <h4 class="card-title mb-0">El hacer del carnaval en el sistema educativo</h4>

      </div>
      <div class="card-content">
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item cursor-pointer" (click)="GetDetails(content3, 'El hacer del carnaval en el sistema educativo')">
              <span class="badge bg-danger float-left mr-2">
                <i class="ft-file-text text-white"></i>
              </span> Reconoce el oficio
            </li>
            <li class="list-group-item cursor-pointer" (click)="GetDetails(content4, 'El hacer del carnaval en el sistema educativo')">
              <span class="badge bg-danger float-left mr-2">
                <i class="ft-file-text text-white"></i>
              </span> Lo interdisciplinar
            </li>
            
            
          </ul>
        </div>
      </div>

    </div>
  </div>
  <!-- fin El hacer del carnaval en el sistema educativo-->


  <!-- Cuerpo y carnaval Starts-->
  <div class="col-xl-4 col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="ft-award font-large-1 float-left mr-2"></i>
        <h4 class="card-title mb-0">Cuerpo y carnaval</h4>

      </div>
      <div class="card-content">
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item cursor-pointer" (click)="GetDetails(content5, 'Cuerpo y carnaval')">
              <span class="badge bg-warning float-left mr-2">
                <i class="ft-file-text text-white"></i>
              </span> Un mundo fantástico 
            </li>
            <li class="list-group-item cursor-pointer" (click)="GetDetails(content6, 'Cuerpo y carnaval')">
              <span class="badge bg-warning float-left mr-2">
                <i class="ft-file-text text-white"></i>
              </span> Cuerpo irreverente
            </li>
            
            
          </ul>
        </div>
      </div>

    </div>
  </div>
  <!-- fin Cuerpo y carnaval -->

</div>

<!-- el saber del carnaval content-->

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header bg-info">
    <h4 class="modal-title white">{{title}}</h4>
    <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="text-bold-500">Saber decidir</p>
    <p>
      La selección del tema para el diseño o motivo de la carrocita, 
      genera procesos de indagación, reconocimiento de las tradiciones
       regionales, interés por los aspectos o temas propios de la fantasía
        y creatividad infantil. Pero a la vez, implica organizarse, buscar
         alianzas en el grupo de amigos, espacio en el taller para iniciar 
         la construcción de elementos y figuras.
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>

<ng-template #content2 let-c="close" let-d="dismiss">
  <div class="modal-header bg-info">
    <h4 class="modal-title white">{{title}}</h4>
    <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="text-bold-500">Saber crear</p>
    <p>
      Tomar como referente de investigación y de creación los temas de 
      fantasía e imaginación de los niños se convierte en  aprendizaje 
      significativo, el niño pasa de ser un aprendiz receptor a ser 
      protagonista de sus propias creaciones, en lugar de cumplir con
       una actividad pasa a ser parte de ella.
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>





<!-- El hacer del carnaval en el sistema educativo content-->

<ng-template #content3 let-c="close" let-d="dismiss">
  <div class="modal-header bg-info">
    <h4 class="modal-title white">{{title}}</h4>
    <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="text-bold-500">Reconoce el oficio</p>
    <p>
      La identificación y manipulación de elementos para la elaboración
       de figuras, así como para el armado de la estructura que servirá 
       para transportar la carrocita, le permite al niño un saber esencial
        en el oficio que lo nutre de una lógica para su formación desde lo 
        artesanal y lo interdisciplinar.
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>

<ng-template #content4 let-c="close" let-d="dismiss">
  <div class="modal-header bg-info">
    <h4 class="modal-title white">{{title}}</h4>
    <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="text-bold-500">Lo interdisciplinar </p>
    <p>
      ayuda a la comprensión de cada aspecto favoreciendo 
      la proporcionalidad en espacios, tamaños, dimensión 
      en las figuras de tal manera que resulte una construcción 
      proporcionada. 
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>



<!-- Cuerpo y carnaval content-->

<ng-template #content5 let-c="close" let-d="dismiss">
  <div class="modal-header bg-info">
    <h4 class="modal-title white">{{title}}</h4>
    <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="text-bold-500">Un mundo fantástico</p>
    <p>
      Las técnicas usadas para las formas y rasgos humanos, 
      de animales, o de cualquier otro elemento o personaje, 
      le transmite en términos de la transposición y transfiguración,
       la posibilidad de representar y dimensionar su comprensión de 
       sí mismo y del mundo que habita.
  
    </p>
    
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>

<ng-template #content6 let-c="close" let-d="dismiss">
  <div class="modal-header bg-info">
    <h4 class="modal-title white">{{title}}</h4>
    <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="text-bold-500">Cuerpo irreverente</p>
    <p>
      La exageración del cuerpo y el uso de lo cómico dentro de 
      la construcción de carrozas para el Carnaval, se identifica 
      como una posibilidad para la generación de pensamiento crítico 
      entre los niños, aspecto que podría ser muy potente a la hora 
      de generar la propuesta artística.
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>



    <!--Aporte pedagogico End-->


    <!--Datos Historicos Starts -->

    <div class="card card-munay mt-5"
      style="background-image: url('../../../assets/img/munay/textura/sintilla_foother_card.png'); background-repeat: repeat-x; background-position: bottom;">

      <div class="card-img overlap animated fade-in-up">
        <div class="row justify-content-center">
          <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4 mx-auto">
            <img alt="element 06" class="img-fluid" src="assets/img/munay/titulos/datos.png">
          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="card-block">
          <p class="text-justify">
            “En 1926 se incluye en la programación del Festival Estudiantil y la Cultura,
            “Desfile de "autos alegóricos": automóviles adornados con serpentinas y carros
            (sic) que portaban "alegorías en papel" (esculturas) de carácter fijo”. (Muñoz 1991. p.22).
          </p>
          <p class="text-justify">
            Estos autos alegóricos, desde luego, hacen alusión al origen de las carrozas.

          </p>
          <p class="text-justify">

            A partir de 1966 las carrocitas fueron las primeras construcciones a escala
            infantil que los niños aprendieron al lado de sus padres, y con los cuales
            empezaron a desfilar no solo como acompañantes, sino como generadores del
            juego más en serio que podían inventar para no perderse de la fiesta.

          </p>



        </div>
      </div>
    </div>
    <!--Datos Historicos End-->

    <!--Estadisticas Starts -->
    <div class="card card-munay mt-5"
      style="background-image: url('../../../assets/img/munay/textura/sintilla_foother_card.png'); background-repeat: repeat-x; background-position: bottom;">

      <div class="card-img overlap animated fade-in-up">
        <div class="row justify-content-center">
          <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4 mx-auto">
            <img alt="element 06" class="img-fluid" src="assets/img/munay/titulos/estadisticas.png">
          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="card-block">

          <div class="container">
            <div class="row">
              <div class="col-md-12 mb-4">
                <canvas height="400" baseChart class="chart" [datasets]="lineChartData" [labels]="lineChartLabels"
                  [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                  [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
          </div>

          <div class="container mt-3">
            <div class="row">
              <div class="col-md-12 mb-4">
                <canvas height="400" baseChart class="chart" [datasets]="lineChartData2" [labels]="lineChartLabels2"
                  [options]="lineChartOptions2" [colors]="lineChartColors2" [legend]="lineChartLegend"
                  [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
    <!--EstadisticasEnd-->


  </div>
</div>
