<section id="timeline" class="timeline-center timeline-wrapper">
  <div class="card card-munay"
    style="background-image: url('../../../assets/img/munay/recursos/banner-sintillaRecurso-8.png'); background-repeat: repeat-x;">

    <div class="card-img overlap animated fade-in-up">
      <div class="row justify-content-center">
        <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6 mx-auto">
          <img alt="element 06" class="img-fluid" src="assets/img/munay/titulos/MODELADO.png">
        </div>
      </div>
    </div>

    <!----------------------------------------- Card taller  ---------------------------------------->
    <div class="card-body animated fade-in-down">
      <div class="card-block">
        <p class="card-text ">
          Los tocados y elementos de la parafernalia que portan los artistas
          en la senda, se convierten en símbolos y accesorios característicos de las muestras de
          carnaval; deben elaborarse manualmente mediante técnicas sencillas que te brindarán
          experiencias agradables en su construcción. Reconoce las propiedades de algunos productos
          que manejados con cuidado se convierten en la materia prima y la oportunidad
          perfecta para idealizar tus obras.
        </p>
      </div>

      <div class="row ">
        <div class="col-xs-9 col-md-9 my-auto">
          <img alt="element 06" class="img-fluid" src="assets/img/munay/recursos/VIDEO_TALLER.png">
        </div>
      </div>

      <div class="embed-responsive embed-responsive-4by3 col-xs-9 col-md-9 mx-auto">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/k4rqiut2s20" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="card-body">
        <div class="card-block">
          <p class="card-text text-center">
            El maestro Jorge Villota comparte sus orientaciones
            sobre el desarrollo del taller de Escultura y Modelado para La Danza de Carnaval.
          </p>
        </div>
      </div>
      <!----------------------------------------- Card taller  ---------------------------------------->
    
    
       
    <!-------------------------------------------------- MARCADOR  ------------------------------------------------->
    <ul class="timeline">
      <li class="timeline-line"></li>
      <li class="timeline-group">
        <a href="" class="col-xs-9 col-md-9 my-auto"> <img alt="element 06" class="img-fluid"
            src="assets/img/munay/botones/taller_modelado.PNG"></a>
      </li>
      <li class="timeline-group">
        <a href="assets/pdf/guiones/modelado.pdf" target="blank" class="col-xs-9 col-md-9 my-auto" id="btn-download">
          <img alt="element 06" class="img-fluid" src="assets/img/munay/botones/DESCARGA.png">
        </a>
      </li>
    </ul>
    <!-------------------------------------------------- MARCADOR  ------------------------------------------------->
    
    <!----------------------------------------- Card tutorial  ---------------------------------------->
    <div class="row ">
        <div class="col-xs-9 col-md-9 my-auto">
          <img alt="element 06" class="img-fluid" src="assets/img/munay/recursos/VIDEO_TUTORIAL.png">
        </div>
      </div>

      <div class="embed-responsive embed-responsive-4by3 col-xs-9 col-md-9 mx-auto">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/NZZ2SmYxi-4" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div class="card-body">
        <div class="card-block">
          <p class="card-text text-center">
            El maestro Jorge Villota comparte sus orientaciones
            sobre el desarrollo del taller de Escultura y Modelado para La Danza de Carnaval.
          </p>
        </div>
      </div>
      <!----------------------------------------- Card tutorial  ---------------------------------------->
    </div>
    <!----------------------------------------- Card taller  ---------------------------------------->
  </div>

  <!------------------------------------------- Card tips maestro -------------------------------------------->
  <div class="timeline-card card border-grey border-lighten-2">
    <div class="card-header">
      <div class="text-center">
        <p><i class="fa fa-bar-chart font-medium-4"></i></p>
        <h4>TIPS PARA EL MAESTRO</h4>


      </div>
      <div>
        <li>Para hacer varias réplicas de una pieza se requiere tener una base o molde, la elaboración del
          modelado le permitirá al maestro realizar varios elementos manteniendo el mismo diseño.</li>
        <li>
          Para hacer el molde, se recomienda el uso de materiales durables como la plasticera,
          que es una mezcla de plastilina, parafina y cera de abeja.
        </li>

        <li>
          Se pueden usar bandejas de aluminio para conservar la plasticera que servirá
          como materia prima para modelar
        </li>
        <li>Este material es maleable, con el calor generado a través de la manipulación
          manual es posible dar la forma que se requiera.
        </li>
        <li>El tema para realizar el modelado tiene que ir en conexión con la propuesta artística,
          generalmente se utilizan animales, personajes fantásticos o elementos representativos de
          la región.

        </li>
        <li>Para empezar el paso de esculpir las figuras, se recomienda imprimir la imagen que se
          quiera modelar, definiendo el tamaño. La figura impresa sirve para calcarla en la plasticera
          para esculpirla en una sola dimensión, marcando los rasgos principales a través de un bisturí,
          punzón o paleta de madera.
        </li>

        <li>La manera de dar volumen a la figura, para que sea bidimensional, se realiza con la
          fricción, el uso de herramientas y con la incorporación del material restante de la figura.
        </li>

        <li>
          El molde es la base para realizar la figura con papel encolado, se debe aplicar una base de
          talco o vaselina para evitar la adherencia del papel con la plasticera.
        </li>

      </div>

    </div>
    <div class="card-body">
    </div>
  </div>
  <!------------------------------------------- Card tips maestro-------------------------------------------->


</section>
