<div id="boybanerini">
  <div class="boybaner">
    <div class="contenedor">
      <img src="../../../assets/img/canto-a-la-tierra/baner3.png" alt="baner" id="banner" />
      <img src="../../../assets/img/desfile-magno/disfrazRecurso 132@mrkiss.png" alt="logo header" id="logoheader" />


    </div>

    <div class="container-fluid">

      <!-- SECCIÓN UNO  DESCRIPCIÓN-->
      <div class="content d-flex flex-column" id="seccion1">
        <div class="imgDescripcion d-flex justify-content-center">
          <img
            src="../../../assets/img/desfile-magno/sections-titles/descripcion canto a la tierra canto a la tierraRecurso 102@mrkiss.svg"
            alt="" class="imageTitle">
        </div>

        <div class="contenidodescripcion d-flex justify-content-center align-items-center">
          <div class="descripcion w-50">
            <p class="textDesc text-center pt-4">El disfraz individual, generalmente, se concibe como la creación
              individual sobre un personaje, que se expresa a través de un mascarón, vestuario y parafernalia. <br> <br>

              Tiene un valor incalculable en el carnaval y para los (as) maestros(as) tradicionales o principiantes,
              pues es la única entrada a las modalidades concursales de tipo escultural.
              Se podría considerar que el disfraz reúne un equilibrio perfecto entre lo escultural y un buen vestuario,
              pues como lo afirma el maestro Andrés Jaramillo (2021), Gerente de Corpocarnaval <br> <br>


              <i>
                Es la única modalidad que rompe esquemas. Que tiene una línea de mascarón y una línea de atuendo,
                como tal, es la única que permite y yo creería que si se abre una categorización en ese escenario,
                permitiría como esa esencia, porque un buen mascarón puede matar un buen disfraz y un buen disfraz
                puede matar un buen mascarón.
              </i>

            </p>
          </div>
        </div>

        <div class="row mt-3 m-0">

          <div class="col d-flex justify-content-center">
            <div class="contornoimg1Descripcion">
              <img class="imgOne" src="../../../assets/img/desfile-magno/fotografiasCarnaval/_MG_9670.jpg" alt="">
            </div>
          </div>

        </div>

        <div class="row mt-5 m-0">
          <div class="col-md-5">

            <div class="contornoimg2Descripcion">
              <img class="imgTwo" src="../../../assets/img/desfile-magno/fotografiasCarnaval/_MG_9261.jpg" alt="">
            </div>
          </div>

          <div class="col d-flex justify-content-center">
            <div class="contText2">
              <section class="text2 text-justify">
                <h5><i>Pero, además, nuestros protagonistas reconocen esta modalidad como:</i></h5>

                <h3><i>Un esfuerzo social y familiar</i></h3>
                <p>Para mi familia, el disfraz individual se ha convertido en la manera como nosotros nos proyectamos.
                  Pues las inversiones que se hacen para estos trajes no están directamente alineadas con los premios.
                  Más bien es como ver la manera en la que nosotros nos proyectamos al carnaval y todos, toda la familia
                  se sienta representada.</p>

                <h3><i>Con una carga ritual</i></h3>
                <p>El disfraz individual para mí, después de este recorrido que he tenido en el carnaval, ya no lo llamo
                  disfraz individual, sino el atuendo ritual del Carnaval de Negros y Blancos de Pasto.</p>

                <h3><i>Como una ventana de conocimiento y cercanía</i></h3>
                <p>El disfraz ha aportado vida, me ha aportado alegría, no sufrimiento, no esperen que diga eso. Gozo,
                  disfrute, desdoble total, nadie me quita lo bailado. Eso sí es lo más bonito. Qué más me ha aportado,
                  conocer gente maravillosa” Piero.</p>
              </section>


            </div>
          </div>
        </div>


        <div class="row mt-5 m-0">
          <div class="col d-flex justify-content-center">
            <div class="contText2">
              <section class="text2 text-center">
                <ul>
                  <li>
                    <h2>Entre sus características se encuentran:</h2>
                  </li>
                </ul>

                <h5><i>De acuerdo con el reglamento 2023.</i></h5>
                <p>Dimensiones: 3,5 mts. de ancho x 2,0 mts. de alto <br>
                  Peso máximo: 30 kgs. <br>
                  Participan 3 personas: Una para llevar el rótulo (título del motivo), un acompañante quien brinda
                  atención o apoyo permanente y el autor o proponente que generalmente carga el disfraz sobre sí. Estas
                  personas van disfrazadas o portan vestuarios distintivos, generalmente bailan, gritan y juegan para
                  animar al público a lo largo y ancho de la senda. <br><br>


                  Los disfraces utilizan técnicas de modelado y escultura, en los últimos años se han visto otros
                  materiales, como telas, fibra de vidrio, entre otros. Sin embargo, un 50% del mascarón debe ser
                  elaborado en papel encolado, es la tradición y uno de los requerimientos para poder participar.
                </p>
              </section>
            </div>
          </div>
        </div>



        <div class="row m-0 mb-5">
          <div class="col d-flex justify-content-center">
            <img src="../../../assets/img/canto-a-la-tierra/contentPages/barra-Amarilla.png" alt="" width="30%">
          </div>
        </div>

      </div>
      <!-- FIN SECCIÓN UNO DESCRIPCIÓN -->


      <!-- SECCIÓN DOS  RESEÑA HISTORICA -->
      <div class="content d-flex flex-column" id="seccion2">
        <div class="imgDescripcion d-flex justify-content-center">
          <img src="../../../assets/img/desfile-magno/sections-titles/resena.png" alt="Reseña historica"
            class="imageTitleLarge" />
        </div>

        <div class="contenttext1 mt-5">
          <p class="text1resena">
            A continuación se resaltan datos importantes para entender la evolución de esta modalidad.
          </p>
        </div>
        <div class="container2resena">
          <div class="contenttext2">
            <section>
              <p><i>El inicio…</i> <br><br> Creo que esto era más simple ¿no? pues era vestirse creo que gran parte de
                la
                gente que participaba de
                esta modalidad antes tenía como un ícono y era campesino ¿no? entonces una camisa de pronto una ruana,
                un pantalón, alpargatas y el cabezón encima.</p>

            </section>
          </div>
          <div class="contentimg1">
            <img src="../../../assets/img/canto-a-la-tierra/img-cantoTierra.jpg" alt="Personas" class="img2" />
          </div>
        </div>
        <div class="container2resena">
          <div class="contendioresena">
            <img src="../../../assets/img/canto-a-la-tierra/img-cantoTierra.jpg" alt="Personas" class="img4" />
          </div>
          <div class="contenttext2">
            <p>
              <i>La primera evolución</i> <br> <br>
              Bueno ahí hay unas cosas muy bonitas por ahí en el álbum familiar aparece mi padre en un día de carnaval
              y se me vienen a la memoria y tal vez los que están mirando esto y que sean mayores que uno, entonces se
              han de acordar, los disfraces individuales eran unos cabezones, eran unas cabezas. Sencillamente se las
              portaba sobre los hombros, eran unos cabezones que eran muy simpáticos y eso como que fue mi primer
              contacto hacia el carnaval. Yo era muy pequeño y me puse una de esas cabezas y adentro el portador de
              esta cabeza conectaba con un alambre en la boca. Entonces, cuando el abre y cerraba la boca ¿Qué pasa?
              el muñeco abría y cerraba los ojos era muy interesante. Había otros que movían la boca o sacaban la
              lengua, cosas así, pero todo lo hacían desde dentro, manipulando con la boca eso fue evolucionando, ha
              ido cambiando; una de las personas que siempre y hasta su último año que tuvo fuerza para salir en la
              senda fue “Mamá Trini” que le decíamos así, cariñosamente, a Doña Trinidad, ella siempre salía con esos
              cabezoncitos y era muy bonito.
            </p>
          </div>
        </div>
        <div class="containerfinalresena">
          <p class="textfinalresena">
            El disfraz ha ido evolucionando
          </p>
          <img src="../../../assets/img/canto-a-la-tierra/contentPages/reseña_historica/icon.svg" alt="Icon reseña"
            class="imgfinal" />
        </div>
      </div>
      <!-- FIN SECCIÓN DOS  RESEÑA HISTORICA-->


      <!-- SECCIÓN TRES  RELATOS-->
      <div class="content d-flex flex-column mb-5 mt-5" id="seccion3">
        <div class="imgDescripcion d-flex justify-content-center">
          <img src="../../../assets/img/desfile-magno/sections-titles/RELATOSRecurso 135@mrkiss.png" alt=""
            class="imageTitle">
        </div>

        <div class="row m-0">
          <div class="col d-flex justify-content-center">
            <div class="pt-4 textInicioRelato w-50 text-center">
              <p>Entonces yo creo que el carnaval a mí lo que me ha regalado es enriquecer de alguna forma la
                estabilidad familiar entre mi padre y yo, somos muy amigos y compartimos mucho y tanto el pensamiento
                como las ideas somos como muy de la misma línea ¿sí? Entonces yo creo que el carnaval me ha regalado es
                eso es tener una familia unida el trabajar en familia y no, y muchas alegrías Ósea a pesar de que uno
                tal vez no últimamente no está en los primeros puestos pero el hecho de pisar la senda y el aplauso de
                la gente es algo indescriptible ósea uno, no hay una palabra para uno decir es esto porqué motiva todos
                los sentidos es un escalofrío que recorre el cuerpo y es algo que no se puede describir, esa emoción de
                estar en la senda es muy gratificante para para uno.
                Yo no yo no concebiría mi vida sin que el carnaval se hubiera cruzado en mi camino
              </p>
            </div>
          </div>
        </div>


        <div class="row m-0 mt-3 pl-5 pr-5">
          <div class="col video  position-relative d-flex justify-content-center align-items-center">

            <!-- DIV DONDE SALE LA REPRODUCCIÓN DE CADA VIDEO  -->
            <div class="videos" #youtubePlayer>
            </div>
          </div>


          <!-- INFORMACIÓN DEL VIDEO -->
          <div class="col-md-3 relato d-flex flex-column p-0">

            <div class="texturaArriba">
            </div>

            <div class="d-flex flex-column" *ngFor="let video of infVideos">
              <div class="contentInformacion d-flex flex-row m-2">
                <div class="contenedorCirculoImagen d-flex justify-content-center align-items-center">
                  <div class="cirlce">
                    <img class="imagenPersona" [src]="video.fotoPersona" alt="">
                  </div>
                </div>

                <div class="info d-flex flex-direction-column pl-1">
                  <div class="todaLaInfo">
                    <a (click)="playVideo(video.idVideo)">
                      <p class="nombrePersona m-0 p-0">{{video.nombrePersona}}</p>
                      <p class="tituloVideo m-0 p-0">{{video.nombreVideo}}</p>
                      <p class="tiempoVideo m-0 p-0">{{video.tiempo}}</p>
                    </a>

                  </div>
                </div>
              </div>
            </div>
            <!-- <div *ngFor="let video of infVideos" class="a">
              <a (click)="playVideo(video.idVideo)">{{video.nombre}}</a>
            </div> -->

          </div>




        </div>
      </div>
      <!-- FIN SECCIÓN TRES RELATOS -->


      <!-- SECCIÓN CUATRO REFLEXIONES-->
      <div class="content d-flex flex-column" id="seccion4">
        <div class="imgDescripcion mt-5 mb-5 d-flex justify-content-center">
          <img src="../../../assets/img/desfile-magno/sections-titles/reflexionesRecurso 117@mrkiss.svg"
            alt="Titulo reflexiones" class="imageTitle" />
        </div>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container mrgbottom">
                <div class="row">
                  <div class="col-12 col-md-6 col-lg-4 contentinf">
                    <img src="../../../assets/img/canto-a-la-tierra/contentPages/reflexiones/contorno.png"
                      class="card-img-top" alt="Contorno" />
                    <img src="../../../assets/img/canto-a-la-tierra/contentPages/reflexiones/perfil.JPG"
                      class="card-img-top" alt="Perfil" />
                    <p class="textotitulo">
                      Hola mundo letal <br />
                      <span class="textotitulocursiva">texto de cursiva</span>
                    </p>
                    <p class="textocontenido">
                      El disfraz individual permite y estimula el desarrollo de la creatividad para volver realidad una
                      idea y plasmarla desde el arte escultórico, en diseños exclusivos donde un protagonista sea el
                      propio creador.
                    </p>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4 contentinf">
                    <img src="../../../assets/img/canto-a-la-tierra/contentPages/reflexiones/contorno.png"
                      class="card-img-top" alt="Contorno" />
                    <img src="../../../assets/img/canto-a-la-tierra/contentPages/reflexiones/perfil.JPG"
                      class="card-img-top" alt="Perfil" />
                    <p class="textotitulo">
                      Hola mundo letal <br />
                      <span class="textotitulocursiva">texto de cursiva</span>
                    </p>
                    <p class="textocontenido">
                      La participación de los maestros en el carnaval tiene como hecho común, la influencia-escuela de
                      sus familiares, quienes no solo siembran semillas de amor por el arte, la modalidad y la fiesta,
                      sino que legan sus saberes representados en las formas de modelar, esculpir, pintar y decorar sus
                      motivos.
                    </p>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4 contentinf">
                    <img src="../../../assets/img/canto-a-la-tierra/contentPages/reflexiones/contorno.png"
                      class="card-img-top" alt="Contorno" />
                    <img src="../../../assets/img/canto-a-la-tierra/contentPages/reflexiones/perfil.JPG"
                      class="card-img-top" alt="Perfil" />
                    <p class="textotitulo">
                      Hola mundo letal <br />
                      <span class="textotitulocursiva">texto de cursiva</span>
                    </p>
                    <p class="textocontenido">
                      Existe una carga emotiva que cada maestro lleva consigo, que se convierte en el motor de impulso
                      para sobreponerse a las adversidades y por encima de ellas, coordinar lo pertinente para no
                      perderse la fiesta reflejada con su presencia en la senda del carnaval, bajo ninguna
                      circunstancia.
                    </p>
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-12 col-md-6 col-lg-4 contentinf">
                    <img src="../../../assets/img/canto-a-la-tierra/contentPages/reflexiones/contorno.png"
                      class="card-img-top" alt="Contorno" />
                    <img src="../../../assets/img/canto-a-la-tierra/contentPages/reflexiones/perfil.JPG"
                      class="card-img-top" alt="Perfil" />
                    <p class="textotitulo">
                      Hola mundo letal <br />
                      <span class="textotitulocursiva">texto de cursiva</span>
                    </p>
                    <p class="textocontenido">
                      Las técnicas, los materiales, los espacios, el presupuesto, son factores determinantes para una
                      buena producción artística, que se conjuga con la habilidad, el buen gusto y la astucia de cada
                      proponente para tener un motivo que lo satisfaga personalmente, pero a la vez, cause grandes
                      emociones e impacto en la senda.
                    </p>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                    <img src="../../../assets/img/canto-a-la-tierra/contentPages/reflexiones/contorno.png"
                      class="card-img-top" alt="Contorno" />
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                    <img src="../../../assets/img/canto-a-la-tierra/contentPages/reflexiones/contorno.png"
                      class="card-img-top" alt="Contorno" />
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container mrgbottom">
                <div class="row">
                  <div class="col-12 col-md-6 col-lg-4">
                    <img src="../../../assets/img/canto-a-la-tierra/contentPages/reflexiones/contorno.png"
                      class="card-img-top" alt="Contorno" />
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                    <img src="../../../assets/img/canto-a-la-tierra/contentPages/reflexiones/contorno.png"
                      class="card-img-top" alt="Contorno" />
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                    <img src="../../../assets/img/canto-a-la-tierra/contentPages/reflexiones/contorno.png"
                      class="card-img-top" alt="Contorno" />
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-12 col-md-6 col-lg-4">
                    <img src="../../../assets/img/canto-a-la-tierra/contentPages/reflexiones/contorno.png"
                      class="card-img-top" alt="Contorno" />
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                    <img src="../../../assets/img/canto-a-la-tierra/contentPages/reflexiones/contorno.png"
                      class="card-img-top" alt="Contorno" />
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                    <img src="../../../assets/img/canto-a-la-tierra/contentPages/reflexiones/contorno.png"
                      class="card-img-top" alt="Contorno" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <!-- FIN SECCIÓN CUATRO REFLEXIONES-->

      <!-- SECCIÓN CINCO  GALERÍA-->
      <div class="contentGaleria " id="seccion5">
        <div class="imgDescripcion mt-5 mb-5 d-flex justify-content-center">
          <img class=" imageTitle" src="../../../assets/img/desfile-magno/sections-titles/galeriaRecurso 121@mrkiss.svg"
            alt="">

        </div>


        <div class="contorno d-flex justify-content-center align-items-center">
          <div class="containerImages">
            <section class="sectionSliderImg d-flex">
              <img *ngFor="let item of imagenesGaleria" class="sliderGaleria" [src]="item.Img" alt="">
            </section>
          </div>
        </div>

      </div>
      <!-- FIN SECCIÓN CINCO  GALERÍA-->


      <!-- SECCIÓN SEIS  ENLACES DE INTERES-->
      <div class="contentEnlacesInteres" id="seccion6">

        <div class="imgDescripcion mt-5 mb-5 d-flex justify-content-center">

          <img class="mb-5" src="../../../assets/img/desfile-magno/sections-titles/enlacesRecurso 123@mrkiss.svg" alt=""
            class="imageTitleLarge">
        </div>



        <div class="contenedorT d-flex justify-content-center align-items-center">

          <div class="contentImagen d-flex flex-row flex-wrap">

            <div class="b pt-1" *ngFor="let interesImg of imagenesInteres">
              <img class="imagen" [src]="interesImg.Img" [alt]="interesImg.alt">

              <div class="textosA">
                <p class="m-0 p-0 nombrePersonaInteres">{{interesImg.nombre}}</p>
                <p class="m-0 p-0 tituloInteres">{{interesImg.titulo}}</p>
                <p class="m-0 p-0 tiempoInteres">{{interesImg.tiempo}}</p>
              </div>

            </div>







          </div>

        </div>


      </div>
      <!-- FIN SECCIÓN SEIS  ENLACES DE INTERES-->


      <div class="footer">
        <div class="contenidofooter mt-5">
          <img src="../../../assets/img/desfile-magno/sections-titles/munayRecursoWHITE.png" alt="footermunay"
            class="imgbodyfooter" />
          <p class="textfooter">Información de las modalidades colectivos coreográficos, su definición,
            características
            y datos históricos. A partir de los testimonios de protagonistas de nuestra fiesta.</p>
          <div class="iconfooter">
            <p><i class="uil uil-facebook-f"></i></p>
            <p><i class="uil uil-twitter"></i></p>
            <p><i class="uil uil-instagram"></i></p>
            <p><i class="uil uil-youtube"></i></p>
          </div>
          <p class="textfooterfinal"><b>@MUNAYYACHAY</b></p>
        </div>
      </div>

    </div>




  </div>
</div>

<app-sidenav-short [routes]="rutasA"></app-sidenav-short>