<div class="row" >
    <div class="col-12">


      <!-- definicion -->
<div class="card card-munay" style="background-image: url('../../../assets/img/munay/recursos/banner-sintillaRecurso-8.png'); background-repeat: repeat-x;">

  <div class="card-img overlap">
    <div class="row justify-content-center">
      <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6 mx-auto">
        <img alt="element 06" class="img-fluid" src="assets/img/munay/titulos/proyectos.png">
      </div>
    </div>
  </div>

  <div class="container">

    <div class="row">



          <div class="card-body ">
              <div class="card-block">
                <p class="text-justify">Amigo(a) Líder de Proceso, este portal permite radicar proyectos 
                  y diligenciar datos personales para el registro histórico como artista del carnaval, 
                  los cuales, servirán además para conocer estadísticas y aspectos relevantes sobre la 
                  participación de los niños en el carnaval; por ello, es fundamental diligenciar cada 
                  una de las casillas con datos verídicos y precisos de sus autores. 
                </p>
                <p>Tenga en cuenta que debe seleccionar en cuál de los eventos 
                  de Carnaval desea participar:</p>

                    <p>
                      <a href="/proyectos/carnavalalegria"><b>CARNAVAL DE LA ALEGRÍA ESTUDIANTIL </b></a> 
                      exclusivo para Establecimientos
                       Educativos oficiales, bajo la coordinación de la Secretaría de Educación
                        Municipal de Pasto.  CLICK AL ENLACE DEL PROYECTO</p>

                        <p>
                          <a href="/proyectos/carnavalito"><b>CARNAVALITO (CARNAVAL DE NEGROS Y BLANCOS DE PASTO) </b> 
                            </a>
                            bajo la coordinación de CORPOCARNAVAL  CLICK AL ENLACE DEL PROYECTO
                            
                           
                        </p>
                        <p>
                            IMPORTANTE: En caso de participación en los dos eventos debe 
                            diligenciarse cada proyecto por separado CUMPLIENDO con los 
                            requisitos y plazos exigidos por la Entidad organizadora.
                        </p>
              </div>
            </div>


            

           

    </div>
  </div>

  
</div>

  


    </div>
  </div>