<div class="row">
  <div class="col-12">
    <!-- definicion -->

    <div class="card card-munay"
      style="background-image: url('../../../assets/img/munay/recursos/banner-sintillaRecurso-8.png'); background-repeat: repeat-x;">

      <div class="card-img overlap animated fade-in-up">
        <div class="row justify-content-center">
          <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6 mx-auto">
            <img alt="element 06" class="img-fluid" src="assets/img/munay/titulos/CARROCITA_2.png">
          </div>
        </div>
      </div>

      <div class="card-body animated fade-in-down">
        <div class="card-block">
          <p class="card-text ">
            El reconocimiento del cuerpo, de ese ser que se forma, permite
            comprender la verdadera función o rol que como niños o adultos podemos cultivar en
            la creación de personajes para una propuesta artística. Descubre aquí, algunas
            experiencias y conceptos sobre la dimensión que cobra una idea desde el mundo
            fantástico de los niños artistas del Carnaval.
          </p>
        </div>
      </div>
    </div>

    <!-- Glosario -->

    <div class="card-columns">


      <div class="card">
        <div class="card-header">
          <h4 class="card-title text-center">ALEGORÍA</h4>

        </div>
        <div class="card-body">

          <div class="card-block">
            <p class="card-text text-justify">
              Es la representación simbólica de una idea o tema sobre la cual se
              inspira una propuesta artística, generalmente usando rasgos o características de
              la identidad cultural.
            </p>
          </div>
        </div>
      </div>



      <div class="card">
        <div class="card-header">
          <h4 class="card-title text-center">CONVERGENCIAS</h4>

        </div>
        <div class="card-body">

          <div class="card-block">
            <p class="card-text text-justify">
              Desplazamiento para cambiar de dirección, donde los
              cabezas de grupo se encuentran y avanzan de manera paralela por el centro.
            </p>
          </div>
        </div>

      </div>




      <div class="card">
        <div class="card-header">
          <h4 class="card-title text-center">PLANIMETRÍA</h4>

        </div>
        <div class="card-body">
          <div class="card-block">
            <p class="card-text text-justify">
              Es el arte de estructurar los desplazamientos de los artistas en el
              escenario, para los desfiles del Carnavalito, se pueden evidenciar los movimientos
              en un plano horizontal por la manera en que el grupo de artistas avanza.
            </p>
          </div>
        </div>

      </div>

      <div class="card">
        <div class="card-header">
          <h4 class="card-title text-center">BLOQUE</h4>

        </div>
        <div class="card-body">

          <div class="card-block">
            <p class="card-text text-justify">
              Es una parte de la cuadrilla, generalmente es una estructura de 16
              personas ubicadas en 4 filas de 4 personas.
            </p>
          </div>
        </div>

      </div>


      <div class="card">
        <div class="card-header">
          <h4 class="card-title text-center">UTILERÍA</h4>

        </div>
        <div class="card-body">

          <div class="card-block">
            <p class="card-text text-justify">
              Elementos que los artistas utilizan para sus coreografías, sin que
              necesariamente formen parte del traje.</p>
          </div>
        </div>

      </div>


      <div class="card">
        <div class="card-header">
          <h4 class="card-title text-center">SENDA</h4>

        </div>
        <div class="card-body">

          <div class="card-block">
            <p class="card-text text-justify">
              Es el escenario calle, donde se hacen visibles las propuestas artísticas
              del CNB a manera de desfile, con un recorrido preestablecido y que
              obligadamente atraviesa por La plaza del Carnaval y La Cultura de Pasto. En el

              desfile del carnavalito, generalmente, las distancias son más cortas y su
              orientación se realiza iniciando de sur a norte con una inclinación menor a los 40º.
            </p>
          </div>
        </div>
      </div>




      <div class="card">
        <div class="card-header">
          <h4 class="card-title text-center">ESTEREOMETRÍA</h4>

        </div>
        <div class="card-body">

          <div class="card-block">
            <p class="card-text text-justify">
              Movimientos que se desprenden del eje corporal y permiten
              decorar la planimetría con pasos y accesorios que se mueven de manera
              coordinada por danzantes, <i>murgueros y comparseros.</i>
            </p>
          </div>
        </div>
      </div>

      

    <div class="card">
      <div class="card-header">
        <h4 class="card-title text-center">CUADRILLA</h4>

      </div>
      <div class="card-body">

        <div class="card-block">
          <p class="card-text text-justify">
            Es la organización (en filas e hileras) de los artistas para el desfile,
            depende del número de participantes, una cuadrilla normalmente se compone de
            dos y hasta 3 bloques.
          </p>
        </div>
      </div>

    </div>

    
    <div class="card">
      <div class="card-header">
        <h4 class="card-title text-center">CARTOGRAFÍA <br> (Corporal)</h4>

      </div>
      <div class="card-body">

        <div class="card-block">
          <p class="card-text text-justify">
            Técnica investigativa cualitativa para mapear
            significados y representaciones sobre la experiencia del carnaval en el cuerpo de
            los artistas.
          </p>
        </div>
      </div>

    </div>

    <div class="card">
      <div class="card-header">
        <h4 class="card-title text-center">INVERSIONES PLANIMÉTRICAS</h4>

      </div>
      <div class="card-body">

        <div class="card-block">
          <p class="card-text text-justify">
            Recorridos que se realizan en sentido de
            adelante – atrás (vertical) del escenario calle, donde los cabezas de hilera se
            desplazan por derecha o izquierda, avanzando de manera progresiva.
          </p>
        </div>
      </div>

    </div>

    <div class="card">
      <div class="card-header">
        <h4 class="card-title text-center">DIVERGENCIAS</h4>

      </div>
      <div class="card-body">

        <div class="card-block">
          <p class="card-text text-justify">
            Desplazamiento para cambiar de dirección cuando los
            cabezas de grupo se separan avanzando por los espacios externos.
          </p>
        </div>
      </div>

    </div>
    
    <div class="card">
      <div class="card-header">
        <h4 class="card-title text-center">ONOMATOPEYA</h4>

      </div>
      <div class="card-body">

        <div class="card-block">
          <p class="card-text text-justify">
            uso de la voz para imitar ritmos y sonidos musicales, a
            partir de fonemas que simulan el sonido de los instrumentos para un
            mayor entendimiento de lo musical.

          </p>
        </div>
      </div>

    </div>

    

    <div class="card">
      <div class="card-header">
        <h4 class="card-title text-center">PURO</h4>

      </div>
      <div class="card-body">

        <div class="card-block">
          <p class="card-text text-justify">
            instrumento idiófono por cuanto el sonido se produce a través de la fricción, 
            el puro es un totumo que ha sido secado y procesado artesanalmente, 
            lleva hendiduras en su borde externo que serán friccionadas por un 
            trinche o raspa de tal manera que se produzca el sonido característico.
          </p>
        </div>
      </div>

    </div>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title text-center">PURO</h4>

      </div>
      <div class="card-body">

        <div class="card-block">
          <p class="card-text text-justify">
            instrumento idiófono por cuanto el sonido se produce a través de la fricción, 
            el puro es un totumo que ha sido secado y procesado artesanalmente, 
            lleva hendiduras en su borde externo que serán friccionadas por un 
            trinche o raspa de tal manera que se produzca el sonido característico.
          </p>
        </div>
      </div>

    </div>

 </div>



  </div>

  <!-- FIN Glosario -->
</div>
