//mixins
@mixin image-properties-slider() {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@mixin contornos() {
  background-size: cover;
  width: 300px; height: 350px;
  padding: 15px;
}

@mixin hoverImg(){
  transform: 1.3;
}
// FIN MIXINS

.container-fluid::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/img/memory-carnaval/2.svg');
  background-color: #7B4090;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.row{
  z-index: 2;
  top: 50%;
  height: 100vh
}

.barra{
  z-index: 2;
  position: fixed;
  bottom: 0;
  padding: 20px;
  width: 50%;
}

.contorno1{
  // border: 1px solid white;
  background-image: url('../../../assets/img/memory-carnaval/contornos/contorno-canto-tierra.svg');
  @include contornos();
}

.contorno2{
  background-image: url('../../../assets/img/memory-carnaval/contornos/contorno-desfileMagno.svg');
  @include contornos()
}

.contorno3{
  background-image: url('../../../assets/img/memory-carnaval/contornos/contorno-carnavalito.svg');
  @include contornos()
}

.cont1{
  width: 100%; /* ancho del div */
  height: 100%; /* altura del div */
  position: relative; /* establecer la posición del div como relativa */
}

.imagen-estatica {
  position: absolute;
  bottom: 0;
}

.img-fluid {
  width:80%;
  height: auto;
}

.img1 {
  border-radius: 50px 0px 0px 0px;
  @include image-properties-slider()
}

.img2{
  @include image-properties-slider()
}

.img3{
  border-radius: 0px 50px 0px 0px;
  @include image-properties-slider()
}
.img1:hover, .img2:hover, .img3:hover {
  transform: scale(1.3);
}