<div class="container-fluid d-flex justify-content-center align-items-center">

  <div
    class="row position-relative d-flex justify-content-center align-items-center animate__animated animate__backInDown animate">
    <div class="col position-relative d-flex justify-content-center align-items-center flex-wrap">
      <div class="contorno1 ">
        <div class="img1 position-relative d-flex align-items-end">
          <img class="position-relative imgA" src="../../../assets/img/memory-carnaval/images/letters/canto-tierra.svg"
            alt="">
        </div>
      </div>

      <div class="contorno2">
        <div class="img2 position-relative d-flex align-items-end">
          <img class="position-relative imgA" src="../../../assets/img/memory-carnaval/images/letters/desfilemagno.svg"
            alt="">
        </div>
      </div>

      <div class="contorno3">
        <div class="img3 position-relative d-flex align-items-end">
          <img class="position-relative imgA" src="../../../assets/img/memory-carnaval/images/letters/carnavalito.svg"
            alt="">
        </div>
      </div>
    </div>
  </div>



  <img class="position-absolute barra" src="../../../../assets/img/welcome/barraAzul.svg" alt="" srcset="">

</div>