<section id="timeline" class="timeline-center timeline-wrapper">




  <div class="card card-munay"
    style="background-image: url('../../../assets/img/munay/recursos/banner-sintillaRecurso-8.png'); background-repeat: repeat-x;">

    <div class="card-img overlap">
      <div class="row justify-content-center">
        <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6 mx-auto">
          <img alt="element 06" class="img-fluid" src="assets/img/munay/titulos/BIENVENIDOS.png">
        </div>
      </div>
    </div>

    <div class="col-md-12 ">
      <p class="text-justify">
        Este medio digital está diseñado como apoyo a las escuelas de Carnaval y pretende convertirse en una herramienta
        didáctica para docentes, líderes de procesos artísticos, niños y jóvenes artistas, interesados en reconocer
        aspectos que permitan una mayor comprensión de cada una de las modalidades de carnaval.

        Su diseño, contiene resultados de la investigación adelantada por los docentes Carolina Avendaño Peña (U.
        Mariana) y Luis Antonio Eraso Caicedo (I.U. CESMAG) que asume las prácticas pedagógicas en los procesos
        formativos desde las Instituciones Educativas de Pasto, que participan y dan vida al carnaval de la Alegría
        Estudiantil y al desfile del Carnavalito durante el Carnaval de Negros y Blancos.

        Se reconoce y agradece el apoyo del Ministerio de Cultura y el aval de la Secretaría de Educación Municipal -
        SEM Pasto y Corpocarnaval.

      </p>
    </div>

    <!----------------------------------------- Card bienvenido  ---------------------------------------->



    <div class="embed-responsive embed-responsive-4by3 col-xs-9 col-md-9 mx-auto">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/oCiCtJGliWo" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="card-body">
      <div class="card-block">


      </div>
    </div>
    <!----------------------------------------- Card bienvenido   ---------------------------------------->

    <div class="card-img overlap mb-5 mt-1">
      <div class="row justify-content-center px-4">
        <div class="col-10 mt-2">
          <img alt="element 06" class="img-fluid" src="assets/img/munay/logos/LOGOS_GENERALES.png">

        </div>
       
      </div>
    </div>

  </div>




</section>