<div class="row">
  <div class="col-12">

    <!-- definicion -->
    <div class="card card-munay pb-4"
      style="background-image: url('../../../assets/img/munay/recursos/banner-sintillaRecurso-8.png'); background-repeat: repeat-x;">

      <div class="card-img overlap animated fade-in-up">
        <div class="row justify-content-center">
          <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6 mx-auto">
            <img alt="element 06" class="img-fluid" src="assets/img/munay/titulos/DISFRAZ_INDIVIDUAL.png">
          </div>
        </div>
      </div>
      <br>

      <div class="card-body px-3 pb-4 animated fade-in-down">
        <div class="container">

          <div class="row mt-3">
            <div class="col-xs-6 col-md-6">
              <ngb-carousel>
                <ng-template ngbSlide>
                  <img src="assets/img/banner/DISFRAZ_1.JPG" alt="Random first slide">
                  <div class="carousel-caption">

                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img src="assets/img/banner/DISFRAZ_2.JPG" alt="Random second slide">
                  <div class="carousel-caption">

                  </div>
                </ng-template>
              </ngb-carousel>
            </div>

            <div class="col-xs-6 col-md-6">
              <p class="text-justify">
                Modalidad que ha tenido una especial aceptación por parte de los niños, sus padres y maestros,
                dada la opción de poder concretar en un menor tiempo, en un espacio más reducido y con menor cantidad
                de materiales, un motivo que colme las expectativas de una creación para exaltar la creatividad, la
                habilidad y la alegría.
              </p>

              <p class="text-justify">
                Se trata de una Representación carnavalesca ejecutada por un solo individuo quien personifica con su
                disfraz, movimientos y actitudes de personajes del ámbito regional, nacional y/o universal.
                El disfraz lo constituye un mascarón o motivo de carnaval, elaborado en su mayoría por
                la técnica en papel mache o encolado, acompañado de un vestuario y una parafernalia acorde al tema.
                Sus características son las de ser portado en hombros, además de ir inmerso en el cuerpo, pero con
                la habilidad para desplazarse en la senda haciendo el juego con el público. (Corpocarnaval, 2018)
              </p>

              <p class="text-justify">
                En el carnavalito, esta modalidad es más lúdica por cuanto las creaciones enfatizan
                y se realizan a partir de diseño de vestuarios, máscaras y maquillajes.
              </p>
            </div>

          </div>

        </div>
      </div>

    </div>




    

    <div class="card card-munay mt-5"
      style="background-image: url('../../../assets/img/munay/textura/sintilla_foother_card.png'); background-repeat: repeat-x; background-position: bottom;">

      <div class="card-img overlap animated fade-in-up">
        <div class="row justify-content-center">
          <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4 mx-auto">
            <img alt="element 06" class="img-fluid" src="assets/img/munay/titulos/aporte.png">
          </div>
        </div>
      </div>

    </div>

<!--Aporte pedagogico Starts -->

    <div class="row">

      <!-- el saber del carnaval Starts-->
      <div class="col-xl-4 col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="ft-bell font-large-1 float-left mr-2"></i>
            <h4 class="card-title mb-0">El saber del carnaval</h4>

          </div>
          <div class="card-content">
            <div class="card-body">
              <ul class="list-group">
                <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'El saber del carnaval')">
                  <span class="badge bg-primary float-left mr-2">
                    <i class="ft-file-text text-white"></i>
                  </span> Sentirse parte de su obra
                </li>
                <li class="list-group-item cursor-pointer" (click)="GetDetails(content2, 'El saber del carnaval')">
                  <span class="badge bg-primary float-left mr-2">
                    <i class="ft-file-text text-white"></i>
                  </span> El Lenguaje corporal 
                </li>
                <li class="list-group-item cursor-pointer" (click)="GetDetails(content3, 'El saber del carnaval')">
                  <span class="badge bg-primary float-left mr-2">
                    <i class="ft-file-text text-white"></i>
                  </span> Un legado generacional
                </li>
                
              </ul>
            </div>
          </div>

        </div>
      </div>
      <!-- fin el saber del carnaval Starts-->

      <!-- El hacer del carnaval en el sistema educativo Starts-->
      <div class="col-xl-4 col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="ft-star font-large-1 float-left mr-2"></i>
            <h4 class="card-title mb-0">El hacer del carnaval en el sistema educativo</h4>

          </div>
          <div class="card-content">
            <div class="card-body">
              <ul class="list-group">
                <li class="list-group-item cursor-pointer" (click)="GetDetails(content4, 'El hacer del carnaval en el sistema educativo')">
                  <span class="badge bg-danger float-left mr-2">
                    <i class="ft-file-text text-white"></i>
                  </span> Creatividad e identidad 
                </li>
                <li class="list-group-item cursor-pointer" (click)="GetDetails(content5, 'El hacer del carnaval en el sistema educativo')">
                  <span class="badge bg-danger float-left mr-2">
                    <i class="ft-file-text text-white"></i>
                  </span> Licencia para divertirse 
                </li>
 
              </ul>
            </div>
          </div>

        </div>
      </div>
      <!-- fin El hacer del carnaval en el sistema educativo-->


      <!-- Cuerpo y carnaval Starts-->
      <div class="col-xl-4 col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="ft-award font-large-1 float-left mr-2"></i>
            <h4 class="card-title mb-0">Cuerpo y carnaval</h4>

          </div>
          <div class="card-content">
            <div class="card-body">
              <ul class="list-group">
                <li class="list-group-item cursor-pointer" (click)="GetDetails(content6, 'Cuerpo y carnaval')">
                  <span class="badge bg-warning float-left mr-2">
                    <i class="ft-file-text text-white"></i>
                  </span> Transmutación 
                </li>
                <li class="list-group-item cursor-pointer" (click)="GetDetails(content7, 'Cuerpo y carnaval')">
                  <span class="badge bg-warning float-left mr-2">
                    <i class="ft-file-text text-white"></i>
                  </span> Sin temores
                </li>
                <li class="list-group-item cursor-pointer" (click)="GetDetails(content8, 'Cuerpo y carnaval')">
                  <span class="badge bg-warning float-left mr-2">
                    <i class="ft-file-text text-white"></i>
                  </span> Placer natural
                </li>
                
              </ul>
            </div>
          </div>

        </div>
      </div>
      <!-- fin Cuerpo y carnaval -->

    </div>

    <!-- el saber del carnaval content-->

    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header bg-info">
        <h4 class="modal-title white">{{title}}</h4>
        <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-bold-500">Sentirse parte de su obra</p>
        <p>
            Los niños, en esta creación artística, apropian e impregnan
             el sentido de apego y afecto, no solo porque el motivo 
             contiene el proceso y esfuerzo de su elaboración sino por 
             la relación de identidad establecida por los niños artesanos
              con su creación.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
      </div>
    </ng-template>

    <ng-template #content2 let-c="close" let-d="dismiss">
      <div class="modal-header bg-info">
        <h4 class="modal-title white">{{title}}</h4>
        <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-bold-500">El Lenguaje corporal </p>
        <p>
            El acompañamiento en la elaboración de este motivo parte 
            de la sensibilización y dialogo con el ser artesano. A 
            partir de la creación del disfraz y su dramaturgia le 
            posibilita al niño su transformación en un personaje, 
            que le permite la interacción con un público a través 
            de su expresión corporal y vocal, desde lo que él quiere 
            representar y ser con ese personaje.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
      </div>
    </ng-template>

    <ng-template #content3 let-c="close" let-d="dismiss">
      <div class="modal-header bg-info">
        <h4 class="modal-title white">{{title}}</h4>
        <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-bold-500">Un legado generacional</p>
        <p>
            Al ser un trabajo que requiere la participación de pequeños 
            grupos para su elaboración, es quizá la modalidad que se 
            acerca más al taller del maestro y a las prácticas del hacer 
            del CNB, con técnicas de moldeado, escultura, empapelado, 
            decorado y pintura; que originalmente, se ubican en sus 
            propias casas o sitios de trabajo. 
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
      </div>
    </ng-template>


 <!-- El hacer del carnaval en el sistema educativo content-->

    <ng-template #content4 let-c="close" let-d="dismiss">
      <div class="modal-header bg-info">
        <h4 class="modal-title white">{{title}}</h4>
        <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-bold-500">Creatividad e identidad</p>
        <p>
            Para la elaboración del disfraz individual se ha de pensar 
            en movilizar la creación de la idea desde los personajes, 
            pensamientos, sentimientos, intereses y referentes que 
            despierten en los niños y jóvenes artesanos su capacidad 
            creativa y disfrute.  Pero también, la relación con lo 
            identificado como lo andino, aquellas raíces consideradas
             constituyentes de la región.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
      </div>
    </ng-template>

    <ng-template #content5 let-c="close" let-d="dismiss">
      <div class="modal-header bg-info">
        <h4 class="modal-title white">{{title}}</h4>
        <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-bold-500">Licencia para divertirse</p>
        <p>
            A través del disfraz individual el humor pastuso, que
             tiene unas características de reconocerse nariñense 
             desde el doble sentido y la crítica, sale a relucir 
             en libertad y sin temor durante el desfile. Por otro
              lado, el humor que fue reprimido y sacado de la escuela 
              a través del señalamiento sobre quien hace uso de él como 
              indisciplinado, con el disfraz individual en las 
              instituciones educativas se manifiesta como  un acto 
              de devolver el humor al reconocerle su lugar crítico y 
              de transformación. 
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
      </div>
    </ng-template>

    <!-- Cuerpo y carnaval content-->

    <ng-template #content6 let-c="close" let-d="dismiss">
      <div class="modal-header bg-info">
        <h4 class="modal-title white">{{title}}</h4>
        <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-bold-500">Transmutación</p>
        <p>
            La elaboración del disfraz le permite al niño simbolizar y
             considerar que aquello que hace parte de un vestuario o de
              parafernalia constituye una pieza artística. El encuentro
               con las texturas y la simbología con el vestuario y dar 
               vida a otros personajes e historias. Perder esa idea del 
               cuerpo material para convertirse en ese motivo creado y 
               dejarse habitar por él y responder a sus exigencias.
        </p>
        <p>
          
          Fundamentalmente, se asume que el cuerpo del carnaval desea 
          expresarse por sí mismo y es capaz de manifestar sentimientos
           y emociones desde actividades artísticas.

        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
      </div>
    </ng-template>

    <ng-template #content7 let-c="close" let-d="dismiss">
      <div class="modal-header bg-info">
        <h4 class="modal-title white">{{title}}</h4>
        <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-bold-500">Sin temores</p>
        <p>
            El disfraz, por su característica de mascaron, le permite
             a los niños y jóvenes participantes, que evitan ser 
             observados o expuestos, asumir un momento expresivo
              con mayor seguridad, pues el disfraz les ayuda a 
              enfrentar sus temores e interactuar en público. 
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
      </div>
    </ng-template>

    <ng-template #content8 let-c="close" let-d="dismiss">
      <div class="modal-header bg-info">
        <h4 class="modal-title white">{{title}}</h4>
        <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-bold-500">Placer natural</p>
        <p>
            El efecto que causa portar una máscara es simbólico,
             pues genera una transformación corporal y una puerta 
             de entrada para la liberación, donde es evidente el 
             gozo en el juego del Carnaval.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
      </div>
    </ng-template>

    <!--Aporte pedagogico End-->


    <!--Datos Historicos Starts -->

    <div class="card card-munay mt-5"
      style="background-image: url('../../../assets/img/munay/textura/sintilla_foother_card.png'); background-repeat: repeat-x; background-position: bottom;">

      <div class="card-img overlap animated fade-in-up">
        <div class="row justify-content-center">
          <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4 mx-auto">
            <img alt="element 06" class="img-fluid" src="assets/img/munay/titulos/datos.png">
          </div>
        </div>
      </div>

      <div class="card-body">

        <div class="card-block">
          <p>
            Desde los inicios del Carnaval, en el Festival estudiantil de 1926, se reconoce
            la presencia de disfraces, en conjunto con las comparsas. Pero es en 1939 cuando
            por primera vez se califica y premia al mejor disfraz individual (Muñoz, 1991).
          </p>
          <p>
            En los inicios del carnaval los motivos estaban inspirados en animales y
            personajes cómicos provenientes de los referentes televisivos principalmente
            mexicanos y norteamericanos, como Cantinflas, los piel roja, pato Donald, entre otros.

          </p>

          <p>El 6 de enero es el día en que desfilan los disfraces individuales “día central:
            concentración de murgas, comparsas, disfraces y desfiles de carros ataviados”
            (Muñoz, 1991, p. 42), organización que actualmente se mantiene.
          </p>

          <p>
            En general el disfraz es un elemento presente en diferentes momentos de las festividades
            en Nariño, es el caso de la viuda, del año viejo, chur o cuisillos, los personajes de
            las comparsas, el desfile de la Familia Castañeda y las murgas, que al principio eran
            identificadas como una comparsa de disfraces con música.

            <p>
              En la descripción histórica realizada por Muñoz, L (1991) se identifica que existía
              el disfraz individual a caballo y en bicicleta, situación similar a los orígenes de la comparsa.
            </p>

            <p>
              La inspiración para la construcción del motivo, durante el tiempo de existencia del carnaval,
              se ha transformado de un momento de representación naturalista a un proceso de significación
              fantástica y de no-representación mimética. Lo anterior, se puede reconocer en los últimos 15
              años del Carnaval, donde los disfraces individuales realizan sus propuestas plásticas y de
              movimiento inspirados en una estética de manifestación espiritual, lo identitario, lo festivo
              y el humor desde la caricaturización del cuerpo cotidiano
            </p>

        </div>

      </div>

    </div>

    <!--Datos Historicos End-->


    <!--Estadisticas Starts -->
    <div class="card card-munay mt-5"
      style="background-image: url('../../../assets/img/munay/textura/sintilla_foother_card.png'); background-repeat: repeat-x; background-position: bottom;">

      <div class="card-img overlap animated fade-in-up">
        <div class="row justify-content-center">
          <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4 mx-auto">
            <img alt="element 06" class="img-fluid" src="assets/img/munay/titulos/estadisticas.png">
          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="card-block">

          <div class="container">
            <div class="row">
              <div class="col-md-12 mb-4">
                <canvas height="400" baseChart class="chart" [datasets]="lineChartData" [labels]="lineChartLabels"
                  [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                  [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
          </div>

          <div class="container mt-3">
            <div class="row">
              <div class="col-md-12 mb-4">
                <canvas height="400" baseChart class="chart" [datasets]="lineChartData2" [labels]="lineChartLabels2"
                  [options]="lineChartOptions2" [colors]="lineChartColors2" [legend]="lineChartLegend"
                  [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
    <!--EstadisticasEnd-->
  </div>
</div>
