<div class="row mt-4">
  <div class="col-12">
    <!-- definicion -->
    <div class="card card-munay"
      style="background-image: url('../../../assets/img/munay/recursos/banner-sintillaRecurso-8.png'); background-repeat: repeat-x;">

      <div class="card-img overlap animated fade-in-up">
        <div class="row justify-content-center">
          <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6 mx-auto">
            <img alt="element 06" class="img-fluid" src="assets/img/munay/titulos/COLECTIVO_COREOGRAFICO.png">
          </div>
        </div>
      </div>

      <div class="card-body px-3 pb-4 animated fade-in-down">
        <div class="container">

          <div class="row mt-3">
            <div class="col-md-12">
              <ngb-carousel>
                <ng-template ngbSlide>
                  <img src="assets/img/banner/COLECTIVO_1.JPG" alt="Random first slide">
                  <div class="carousel-caption">

                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img src="assets/img/banner/COLECTIVO_2.JPG" alt="Random second slide">
                  <div class="carousel-caption">

                  </div>
                </ng-template>
              </ngb-carousel>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-12">
              <p class="text-justify">
                Esta modalidad, es de las más implementadas por las Instituciones Educativas,
                dada la magia del movimiento y el color para llenar los espacios y ambientes
                de figuras coordinadas, además de aprovechar las posibilidades de involucrar
                a un buen número de participantes, se define como:
                <i> Grupos de niños
                  (músicos, danzantes, zanqueros), quienes realizan danzas itinerantes de
                  temas musicales del repertorio popular y tradicional andino latinoamericano;
                  se danza a lo largo de la senda del carnaval realizando coreografías con
                  vestuario acorde al tema de carnaval definido por el Colectivo Coreográfico.
                  La música del Colectivo Coreográfico será interpretada por los músicos-danzantes
                  con instrumentos musicales propios de la organología de la música popular y
                  tradicional andina latinoamericana (Corpocarnaval, 2018). </i>




              </p>
              <p class="text-justify">
                En este caso, generalmente se presentan grupos con acompañamiento musical en vivo,
                lo cual también, es un atractivo para los proyectos educativos porque permite la
                fusión de modalidades y de los procesos formativos.
              </p>
            </div>
          </div>

        </div>
      </div>

    </div>



    
    <div class="card card-munay mt-5"
      style="background-image: url('../../../assets/img/munay/textura/sintilla_foother_card.png'); background-repeat: repeat-x; background-position: bottom;">

      <div class="card-img overlap animated fade-in-up">
        <div class="row justify-content-center">
          <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4 mx-auto">
            <img alt="element 06" class="img-fluid" src="assets/img/munay/titulos/aporte.png">
          </div>
        </div>
      </div>

      </div>

      <!--Aporte pedagogico Starts -->


      <div class="row">

      <!-- el saber del carnaval Starts-->
      <div class="col-xl-4 col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="ft-bell font-large-1 float-left mr-2"></i>
            <h4 class="card-title mb-0">El saber del carnaval</h4>

          </div>
          <div class="card-content">
            <div class="card-body">
              <ul class="list-group">
                <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'El saber del carnaval')">
                  <span class="badge bg-primary float-left mr-2">
                    <i class="ft-file-text text-white"></i>
                  </span> Valor territorial
                </li>
                <li class="list-group-item cursor-pointer" (click)="GetDetails(content2, 'El saber del carnaval')">
                  <span class="badge bg-primary float-left mr-2">
                    <i class="ft-file-text text-white"></i>
                  </span> Exploración e interés
                </li>
                <li class="list-group-item cursor-pointer" (click)="GetDetails(content3, 'El saber del carnaval')">
                  <span class="badge bg-primary float-left mr-2">
                    <i class="ft-file-text text-white"></i>
                  </span> Independencia emancipadora 
                </li>
                <li class="list-group-item cursor-pointer" (click)="GetDetails(content4, 'El saber del carnaval')">
                  <span class="badge bg-primary float-left mr-2">
                    <i class="ft-file-text text-white"></i>
                  </span> Escuela de identidad
                </li>
                
              </ul>
            </div>
          </div>

        </div>
      </div>
      <!-- fin el saber del carnaval Starts-->

      <!-- El hacer del carnaval en el sistema educativo Starts-->
      <div class="col-xl-4 col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="ft-star font-large-1 float-left mr-2"></i>
            <h4 class="card-title mb-0">El hacer del carnaval en el sistema educativo</h4>

          </div>
          <div class="card-content">
            <div class="card-body">
              <ul class="list-group">
                <li class="list-group-item cursor-pointer" (click)="GetDetails(content5, 'El hacer del carnaval en el sistema educativo')">
                  <span class="badge bg-danger float-left mr-2">
                    <i class="ft-file-text text-white"></i>
                  </span> El arte de crear
                </li>
                <li class="list-group-item cursor-pointer" (click)="GetDetails(content6, 'El hacer del carnaval en el sistema educativo')">
                  <span class="badge bg-danger float-left mr-2">
                    <i class="ft-file-text text-white"></i>
                  </span> Lo realmente significativo
                </li>
                <li class="list-group-item cursor-pointer" (click)="GetDetails(content7, 'El hacer del carnaval en el sistema educativo')">
                  <span class="badge bg-danger float-left mr-2">
                    <i class="ft-file-text text-white"></i>
                  </span> Creación colectiva
                </li>
                <li class="list-group-item cursor-pointer" (click)="GetDetails(content8, 'El hacer del carnaval en el sistema educativo')">
                  <span class="badge bg-danger float-left mr-2">
                    <i class="ft-file-text text-white"></i>
                  </span> Un juego axiológico
                </li>
                <li class="list-group-item cursor-pointer" (click)="GetDetails(content9, 'El hacer del carnaval en el sistema educativo')">
                  <span class="badge bg-danger float-left mr-2">
                    <i class="ft-file-text text-white"></i>
                  </span> La interdisciplinariedad
                </li>
                
                
              </ul>
            </div>
          </div>

        </div>
      </div>
      <!-- fin El hacer del carnaval en el sistema educativo-->


      <!-- Cuerpo y carnaval Starts-->
      <div class="col-xl-4 col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="ft-award font-large-1 float-left mr-2"></i>
            <h4 class="card-title mb-0">Cuerpo y carnaval</h4>

          </div>
          <div class="card-content">
            <div class="card-body">
              <ul class="list-group">
                <li class="list-group-item cursor-pointer" (click)="GetDetails(content10, 'Cuerpo y carnaval')">
                  <span class="badge bg-warning float-left mr-2">
                    <i class="ft-file-text text-white"></i>
                  </span> Cuerpo y arte
                </li>
                <li class="list-group-item cursor-pointer" (click)="GetDetails(content11, 'Cuerpo y carnaval')">
                  <span class="badge bg-warning float-left mr-2">
                    <i class="ft-file-text text-white"></i>
                  </span> Cuerpo colectivo 
                </li>
                <li class="list-group-item cursor-pointer" (click)="GetDetails(content12, 'Cuerpo y carnaval')">
                  <span class="badge bg-warning float-left mr-2">
                    <i class="ft-file-text text-white"></i>
                  </span> Grupo heterogéneo con propósitos comunes
                </li>
                <li class="list-group-item cursor-pointer" (click)="GetDetails(content13, 'Cuerpo y carnaval')">
                  <span class="badge bg-warning float-left mr-2">
                    <i class="ft-file-text text-white"></i>
                  </span> Somos sur
                </li>
                
                
              </ul>
            </div>
          </div>

        </div>
      </div>
      <!-- fin Cuerpo y carnaval -->



      <!--Aporte pedagogico End-->

    </div>

        <!-- el saber del carnaval content-->

        <ng-template #content let-c="close" let-d="dismiss">
          <div class="modal-header bg-info">
            <h4 class="modal-title white">{{title}}</h4>
            <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="text-bold-500">Valor territorial</p>
            <p>
              Desde lo patrimonial, se convierte en una escuela de la
               vida, porque enseña a identificar y comprender los
                referentes andinos y la relación con la identificación 
                con el territorio del Sur de Colombia.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
          </div>
        </ng-template>
    
        <ng-template #content2 let-c="close" let-d="dismiss">
          <div class="modal-header bg-info">
            <h4 class="modal-title white">{{title}}</h4>
            <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="text-bold-500">Exploración e interés </p>
            <p>
              Esta modalidad permite que los niños y los jóvenes se
               interesen por profundizar en los procesos de diseño,
                al participar en este paso de la idea y del proceso 
                de investigación.  Así, buscan referentes  a través 
                de entrevistas a personajes,  contacto con músicos
                 reconocidos, visitas al territorio, que configuran 
                 el espacio extramural como su aula de aprendizaje.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
          </div>
        </ng-template>
    
        <ng-template #content3 let-c="close" let-d="dismiss">
          <div class="modal-header bg-info">
            <h4 class="modal-title white">{{title}}</h4>
            <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="text-bold-500">Independencia emancipadora </p>
            <p>
              A través de la búsqueda de los referentes locales para 
              la creación, desde los diálogos informales que establecen 
              los danzantes y líderes de proceso, logran consolidar su 
              participación activa con aquello que nos hace particulares
               geopolíticamente en tiempos de globalización.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
          </div>
        </ng-template>
    
        <ng-template #content4 let-c="close" let-d="dismiss">
          <div class="modal-header bg-info">
            <h4 class="modal-title white">{{title}}</h4>
            <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="text-bold-500">Escuela de identidad</p>
            <p>
              La participación en el proceso de creación va dando un 
              resultado que se puede visualizar  a través de la historia,
               pues en cada propuesta se puede reconocer que una gran 
               cantidad de niños y jóvenes se involucraron en una muestra 
               de rasgos indentitarios regionales del Departamento de 
               Nariño
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
          </div>
        </ng-template>
    
       
    
       
    
    
     <!-- El hacer del carnaval en el sistema educativo content-->
    
        <ng-template #content5 let-c="close" let-d="dismiss">
          <div class="modal-header bg-info">
            <h4 class="modal-title white">{{title}}</h4>
            <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="text-bold-500">El arte de crear </p>
            <p>
              Participar al interior de la modalidad es una oportunidad 
              de reconocer las capacidades y habilidades del corpus o 
              temática investigada para la creación artística, así como
               la interacción en una experiencia significativa que tiene
                un objetivo común, que les gusta y llama su atención.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
          </div>
        </ng-template>
    
        <ng-template #content6 let-c="close" let-d="dismiss">
          <div class="modal-header bg-info">
            <h4 class="modal-title white">{{title}}</h4>
            <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="text-bold-500">Lo realmente significativo </p>
            <p>
              El factor de socialización de la idea del motivo, busca 
              propiciar la comprensión y de reconocer la existencia de
               un aprendizaje significativo que da soporte a la estructura
                general de la propuesta coreográfica. Cada movimiento 
                adquiere un sentido en tanto se articula a la propuesta 
                de investigación generadora de la creación artística. 
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
          </div>
        </ng-template>
    
        <ng-template #content7 let-c="close" let-d="dismiss">
          <div class="modal-header bg-info">
            <h4 class="modal-title white">{{title}}</h4>
            <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="text-bold-500">Creación colectiva</p>
            <p>
              Se puede reconocer que en el proceso de creación, es
               visible la vivencia de la participación como un
                ejercicio democrático dentro de un interés de 
                bienestar colectivo.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
          </div>
        </ng-template>
    
        <ng-template #content8 let-c="close" let-d="dismiss">
          <div class="modal-header bg-info">
            <h4 class="modal-title white">{{title}}</h4>
            <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="text-bold-500">Un juego axiológico</p>
            <p>
              En cuanto a lo Lúdico, es un proceso que requiere una
               preparación, retos y compromisos para poder ser parte 
               del goce o festejo. Sacar provecho a un momento de ocio
                donde se puede cambiar por una forma de cultivo de su ser, 
                del cuidado de sí y de encuentro de una interacción social.
                 Es un ocio productivo en el aprovechamiento del tiempo para 
                 la creación, genera unas relaciones consigo mismo para su 
                 bienestar. 
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
          </div>
        </ng-template>
    
        <ng-template #content9 let-c="close" let-d="dismiss">
          <div class="modal-header bg-info">
            <h4 class="modal-title white">{{title}}</h4>
            <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="text-bold-500">La interdisciplinariedad</p>
            <p>
              Con relación a otras áreas del conocimiento comprendidas 
              en el currículo se reconocen aportes como el manejo de 
              direcciones, la identificación de los ángulos, proporciones, 
              identificación del espacio, lateralidad, dimensiones.
            </p>
            <p>
              En cuanto al funcionamiento orgánico, desde lo anatómico y de la física.
            </p>
            <p>
              La posibilidad de abordar hábitos de vida saludable, 
              a través de su puesta en práctica en el campo nutricional 
              y de bienestar orgánico.
            </p>
            <p>
              En la formación ciudadana, a partir del ejercicio 
              democrático para la consolidación y elaboración de la 
              propuesta artística
            </p>
            <p>
              Y sobre el componente axiológico, desde el trabajo en equipo,
               respeto por el cuerpo del otro, superación del pudor e 
               identificación de los límites del espacio personal e íntimo. 
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
          </div>
        </ng-template>

        <!-- Cuerpo y carnaval content-->
    
        <ng-template #content10 let-c="close" let-d="dismiss">
          <div class="modal-header bg-info">
            <h4 class="modal-title white">{{title}}</h4>
            <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="text-bold-500">Cuerpo y arte</p>
            <p>
              Sin duda esta modalidad propicia el reconocimiento sobre 
              su corporeidad; en el caso del niño danzante, le enseña a 
              generar gran sensibilidad y a hacer visible las competencias
               axiológicas, que permiten valorar y empoderar posibilidades
                y potencialidades de su cuerpo como una ontología,
                 completa y compleja, en los diferentes roles y contextos 
                 escolares, sociales y culturales.  
          
            </p>
            <p>
              
              Fundamentalmente, se asume que el cuerpo del carnaval desea 
              expresarse por sí mismo y es capaz de manifestar sentimientos
               y emociones desde actividades artísticas.
    
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
          </div>
        </ng-template>
    
        <ng-template #content11 let-c="close" let-d="dismiss">
          <div class="modal-header bg-info">
            <h4 class="modal-title white">{{title}}</h4>
            <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="text-bold-500">Cuerpo colectivo</p>
            <p>
              La formación integral se puede reconocer en esta modalidad, 
              teniendo presente el objetivo en común de fortalecer sus 
              habilidades, pues a través del reconocimiento de lo diverso 
              se busca que cada participante en condiciones de equidad pueda
               ser parte del cuerpo colectivo.  Esta experiencia marca una 
               diferencia con la rivalidad que puede llegar a generar la competencia.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
          </div>
        </ng-template>
    
        <ng-template #content12 let-c="close" let-d="dismiss">
          <div class="modal-header bg-info">
            <h4 class="modal-title white">{{title}}</h4>
            <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="text-bold-500">Grupo heterogéneo con propósitos comunes</p>
            <p>
              En el trabajo en equipo, requerido para el proceso de 
              montaje del motivo, se generan espacios para el fomento 
              de las relaciones interpersonales a partir de proyectos 
              comunes y diversos que se caracterizan por la participación
               voluntaria, rangos de edad, identificación étnica, vocación
                religiosa. 
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
          </div>
        </ng-template>
    
        <ng-template #content13 let-c="close" let-d="dismiss">
          <div class="modal-header bg-info">
            <h4 class="modal-title white">{{title}}</h4>
            <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="text-bold-500">Somos sur</p>
            <p>
              Hacer parte de un Colectivo, posibilita al danzante 
              reconocerse como parte un proceso histórico que es 
              representativo y conecta su Ser y Hacer en el territorio 
              de Nariño, el Sur. 
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
          </div>
        </ng-template>


    <!--Datos Historicos Starts -->

    <div class="card card-munay mt-5"
      style="background-image: url('../../../assets/img/munay/textura/sintilla_foother_card.png'); background-repeat: repeat-x; background-position: bottom;">

      <div class="card-img overlap animated fade-in-up">
        <div class="row justify-content-center">
          <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4 mx-auto">
            <img alt="element 06" class="img-fluid" src="assets/img/munay/titulos/datos.png">
          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="card-block">
          <p class="text-justify">
            El Colectivo Coreográfico Fundación Cultural Indoamericanto ha sido uno de
            los principales actores en la consolidación del Canto a la Tierra, por tanto,
            referir sobre la historia de esta modalidad requiere mencionar los inicios
            de este colectivo que datan de 1995.
          </p>
          <p class="text-justify">
            Se puede afirmar que de esta modalidad es de la más recientes en el Carnaval,
            aproximadamente inició en 1995 (Coral citado en Pasichana, 2014, p. 41),
            a partir de una integración de grupos de música andina identificado como
            Latinoamérica Canta. Su intención, más allá de la imitación de otros carnavales
            de gran escala, era dar un lugar de importancia a la música Andina de mayor
            influencia en la región, para que lograra una presencia significativa en el
            Carnaval de Negros y Blancos, pues en los años anteriores la música en el
            Carnaval estaba más relacionada con bandas, conjuntos musicales, orquestas y papayeras.
          </p>
          <p class="text-justify">
            Antes del año 2000, la participación en el carnaval no tenía una formalización
            como se reconoce en la actualidad, este contexto permitía que cualquier
            agrupación con interés en las diferentes modalidades, pudiera ingresar y
            ser parte de la senda sin ningún otro trámite que su interés y propuesta.
            Ante tal acogida y gran participación, la normatización de participación
            fue una estrategia para el control y regulación de los diferentes desfiles.
          </p>

          <p class="text-justify">
            Hacer mención sobre aspectos históricos de la modalidad, remite directamente
            a la consolidación del “Canto a la Tierra”, día en el que los diferentes
            procesos artísticos de colectivo coreográfico realizan su desfile. Es a
            partir de 2005 cuando se institucionaliza este desfile organizado en la tarde del 3 de enero.
          </p>
          <p class="text-justify">
            El Canto a la Tierra es el único desfile que inicia en el sector norte, Avenida
            de los Estudiantes y finaliza en el Estadio Libertad ubicado al sur de Pasto,
            esta particularidad respondió a una necesidad organizativa y logística de los
            desfiles; por cuanto, en ese mismo día se desarrollaba en la mañana el Carnavalito,
            que finalizaba en el Parque Infantil. Hoy en día, los artistas del Canto a la Tierra
            le han asignado a esta dirección en la senda un significado especial, dirigir el
            desfile hacía el Estadio Libertad, sitúa el Sur como fundamental en la construcción
            identitaria de los pastusos.
          </p>

          <p class="text-justify">
            A partir del impulso generado en los juegos nacionales de 2000, donde Nariño fue una
            de las sedes, la iniciativa en danza de Indoamericanto, hoy en día reconocido como
            colectivo coreográfico, tuvo la oportunidad de participar en la ceremonia inaugural,
            este evento involucró más de 900 integrantes entre músicos y danzantes. A la postre,
            esta gran acogida por parte de los artistas generó otras iniciativas de organización
            de colectivos coreográficos, dado que en la senda del carnaval existía un límite de
            integrantes por cada propuesta.
          </p>

          <p class="text-justify">
            Hoy en día, en esta movilización de la danza y la música concentrada en el Canto a la Tierra,
            permite destacar los procesos de los colectivos coreográficos Raza Libertad, Danzantes del
            Cerrillo, Sindamanoy, Ciudad de Pasto, Proyección Goretti, Zarandearte, Ayawasca, Minga Andina,
            Raíces de Jongovito, y más recientemente, Amaru, Surcunina, la Guanga y Hatun Llacta.
          </p>

          <p class="text-justify">
            Así como Indoamericanto en la historia de esta modalidad es importante, también se debe
            reconocer la participación de algunos colectivos que ya no continuaron o cambiaron
            su identificación, pero que dejaron huella, entre ellos: Valle de Atríz, Indidansur
            y De La Misma Tierra.
          </p>
          <p class="text-justify">
            En el carnavalito, la presencia de la modalidad es una de las más acogidas,
            por cuanto en los últimos 8 años cuenta con una destacada participación de
            fundaciones e instituciones educativas, como es el caso del Colegio San Juan Bosco,
            Institución Educativa Guadalupe, Racita libertad, Institución Educativa Obonuco,
            Musurunakuna, entre otros.
          </p>
          <p class="text-justify mb-3">
            El Carnaval de la Alegría también cuenta con una participación representativa de
            la modalidad Colectivo Coreográfico, cada año es posible reconocer la ampliación
            de iniciativas en esta modalidad con una alta participación de niños, jóvenes y docentes.
          </p>
        </div>
      </div>
    </div>
    <!--Datos Historicos End-->

    <!--Estadisticas Starts -->


    <div class="card card-munay mt-5"
      style="background-image: url('../../../assets/img/munay/textura/sintilla_foother_card.png'); background-repeat: repeat-x; background-position: bottom;">

      <div class="card-img overlap animated fade-in-up">
        <div class="row justify-content-center">
          <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4 mx-auto">
            <img alt="element 06" class="img-fluid" src="assets/img/munay/titulos/estadisticas.png">
          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="card-block">

          <div class="container">
            <div class="row">
              <div class="col-md-12 mb-4">
                <canvas height="400" baseChart class="chart" [datasets]="lineChartData" [labels]="lineChartLabels"
                  [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                  [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
          </div>

          <div class="container mt-3">
            <div class="row">
              <div class="col-md-12 mb-4">
                <canvas height="400" baseChart class="chart" [datasets]="lineChartData2" [labels]="lineChartLabels2"
                  [options]="lineChartOptions2" [colors]="lineChartColors2" [legend]="lineChartLegend"
                  [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
    <!--EstadisticasEnd-->

  </div>
</div>
