<div id="cuerpo">
  <div id="fondobody">
    <img src="assets/img/our_carnaval/fondonuestrocarnaval.svg" alt="Imagen body" />
  </div>
  <div class="contenedor">
    <img src="assets/img/our_carnaval/baner.png" alt="baner" id="banner" />
    <a href="#">
      <img src="assets/img/our_carnaval/botonhome.svg" alt="Boton home" id="botonhome" />
    </a>
  </div>

  <a href="#">
    <img src="assets/img/our_carnaval/botoninscribete.png" alt="Boton inscribete" id="btninscribete" />
  </a>

  <div id="nuestroCarnaval">
    <img src="assets/img/our_carnaval/nuestrocarnaval.svg" alt="Nuestro carnaval" id="imgnuestrocarnaval" />
    <div id="parrafo">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque,
        quisquam eum at iste quia labore architecto magnam, quidem eligendi
        maiores blanditiis commodi, non fugit mollitia. Explicabo error soluta
        laudantium nam!
      </p>
    </div>
  </div>

  <div class="container">
    <div class="content"></div>
    <div class="footer">
      <img src="assets/img/our_carnaval/mapaartesanos.svg" alt="Mapa artesanos" />
      <img src="assets/img/our_carnaval/listaartesanos.svg" alt="Lista artesanos" />
    </div>
    <div class="barrafooter">
      <img src="assets/img/our_carnaval/barraazul.svg" alt="barraazul" />
    </div>
    <div class="imgfooter">
      <img src="assets/img/our_carnaval/fooder.svg" alt="Imagen MUNAYYACHAY" />
    </div>
    <div class="parrafofooter">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi labore
        accusantium pariatur quo, aliquid consequatur doloribus suscipit eum
        eius cum dolore dolorum facilis ullam nihil ducimus unde! Voluptatibus,
        id temporibus.
      </p>
    </div>
    <div class="logosfooter">
      <p class="iconfooter">
        <i class="uil uil-facebook-f"></i>
        <i class="uil uil-twitter"></i>
        <i class="uil uil-instagram"></i>
        <i class="uil uil-youtube"></i>
      </p>
    </div>
    <div class="finfofooter">
      <p><b>@MUNAYYACHAY</b></p>
    </div>
  </div>
</div>