<div class="row">
  <div class="col-12">

    <!-- Intro -->
    <div class="card card-munay mt-4"
      style="background-image: url('../../../assets/img/munay/recursos/banner-sintillaRecurso-8.png'); background-repeat: repeat-x;">

      <div class="card-img overlap animated fade-in-up">
        <div class="row justify-content-center">
          <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6 mx-auto">
            <img alt="element 06" class="img-fluid" src="../../../assets/img/munay/titulos/modalidades.png">
          </div>
        </div>
      </div>

      <div class="card-body px-3 pb-4 animated fade-in-down">
        <div class="container">

          <div class="row mt-3">
            <!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <ngb-carousel>
                <ng-template ngbSlide>
                  <img src="assets/img/banner/INTRO_2.JPG" alt="Random first slide">
                  <div class="carousel-caption">

                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img src="assets/img/banner/INTRO_4.JPG" alt="Random second slide">
                  <div class="carousel-caption">

                  </div>
                </ng-template>
              </ngb-carousel>
            </div> -->

            <div class="col-10 mx-auto">
              <div class="container">
                <div class="row">

                  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <figure class="figure">
                      <img alt="Intro" class="figure-img img-fluid rounded"
                        src="assets/img/munay/imagenes/modalidades/intro_mod_head.png">
                      <figcaption class="figure-caption text-right">A caption for the above image.</figcaption>
                    </figure>
                  </div>

                  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 my-auto">
                    <blockquote class="blockquote-reverse border-right-danger border-right-3 pr-2">
                      <p>Lo que se vive en la infancia se vuelve un andamiaje para la vida.</p>
                    </blockquote>
                  </div>

                </div>
              </div>
            </div>
          </div>


          <div class="row mt-2">
            <div class="mt-2 col-12">

              <p class="text-justify">
                San Juan de Pasto tiene dos momentos donde la participación de los niños es significativa a partir del
                Carnaval de Negros y Blancos, el Carnavalito y el Carnaval de la Alegría, en estas dos experiencias se
                encuentra la más grande expresión de nuestros niños para que puedan participar, crear, disfrutar y
                encontrarse con lo festivo.
              </p>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <strong class="text-primary">
                EL CARNAVALITO ES:
              </strong>
              <p class="text-justify mt-2">
                <i>
                  “Aquello que comenzó como un juego de niños imitando a sus mayores,
                  recreando el Desfile del día de Blancos, se ha convertido en un evento
                  con identidad y dinámica propia dentro de las fiestas de Negros y Blancos,
                  con intenso arraigo popular y apoyo de todos los sectores comprometidos en
                  el Carnaval. Desde hace unos 40 años, el día 2 de enero los niños realizan
                  su propio Desfile de Carrozas en escala infantil, concebidas y elaboradas
                  por ellos mismos, en aquello que para muchos es una iniciación en la
                  actividad artesanal y artística, en elaborar carrozas y alegorías ambulantes.
                  Con el correr del tiempo ese juego se transformará paralelamente con el
                  crecimiento físico e intelectual del pequeño artista y jugador, que culmina,
                  alcanzada su edad adulta, con su participación en el gran Desfile Magno del
                  6 de enero.” (Corpocarnaval, 2018, p.2)
                </i>
              </p>

              <strong class="text-primary mt-3 d-none d-sm-none d-md-none d-lg-none d-xl-block">
                CARNAVAL DE LA ALEGRÍA ESTUDIANTIL
              </strong>
              <p class="text-justify mt-2 d-none d-sm-none d-md-none d-lg-none d-xl-block">
                Si bien la definición propuesta contextualiza la participación de los niños en el CNB, es
                importante mencionar que existe otro proyecto, el Carnaval de la Alegría Estudiantil,
                gestionado por la Secretaría de Educación Municipal. En el Carnaval de Alegría se
                encuentran Instituciones Educativas oficiales del Municipio de Pasto, a partir de los
                procesos formativos y proyectos para el manejo del tiempo libre, el fomento de la
                identidad cultural y fundamentado en la creatividad de los docentes y estudiantes. Esta
                festividad es realizada anualmente al final del año escolar, el cual asume algunas
                modalidades del CNB y también se convierte en el semillero de las expresiones
                artísticas y culturales que forman parte del Carnavalito.
              </p>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
              <figure class="figure mt-4">
                <img alt="Intro" class="figure-img img-fluid rounded" width="400"
                  src="assets/img/munay/imagenes/modalidades/intro_mod_body.png">
                <figcaption class="figure-caption text-right">A caption for the above image.</figcaption>
              </figure>
            </div>
          </div>

          <div class="row mt-2 d-block d-sm-block d-md-block d-lg-block d-xl-none">
            <div class="col-12">
              <strong class="text-primary">
                CARNAVAL DE LA ALEGRÍA ESTUDIANTIL
              </strong>
              <p class="text-justify">
                Si bien la definición propuesta contextualiza la participación de los niños en el CNB, es
                importante mencionar que existe otro proyecto, el Carnaval de la Alegría Estudiantil,
                gestionado por la Secretaría de Educación Municipal. En el Carnaval de Alegría se
                encuentran Instituciones Educativas oficiales del Municipio de Pasto, a partir de los
                procesos formativos y proyectos para el manejo del tiempo libre, el fomento de la
                identidad cultural y fundamentado en la creatividad de los docentes y estudiantes. Esta
                festividad es realizada anualmente al final del año escolar, el cual asume algunas
                modalidades del CNB y también se convierte en el semillero de las expresiones
                artísticas y culturales que forman parte del Carnavalito.
              </p>
            </div>
          </div>

        </div>
      </div>

    </div>
    <!-- Fin intro -->
  </div>
</div>



<!--datos historicos Starts-->

<div class="card card-munay"
  style="background-image: url('../../../assets/img/munay/textura/sintilla_foother_card.png'); background-repeat: repeat-x; background-position: bottom;">

  <div class="card-img overlap animated fade-in-up">
    <div class="row justify-content-center">
      <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4 mx-auto">
        <img alt="element 06" class="img-fluid" src="assets/img/munay/titulos/datos.png">
      </div>
    </div>
  </div>
  <div class="card-body p-3">
    <div class="card-block">
      <p>
        Para la ubicación de datos de esta Línea en el Tiempo, se tomaron fuentes de información en textos, documentos y
        entrevistas con los siguientes autores:
        <li> LYDIA INÉS MUÑOZ CORDERO</li>
        <li>JORGE ARTURO BRAVO</li>
        <li> SANDRA ERASO VILLOTA</li>
        <li>YENNY MARCELA LÓPEZ V.</li>
        <li>ARCHIVO CORPOCARNAVAL</li>
        <li>ARCHIVO SECRETARÍA DE EDUCACIÓN MUNICIPAL, Subsecretaría de Calidad Educativa </li>

      </p>
      <horizontal-timeline [timelineElements]="timelineHistoricos" [showContent]="true"></horizontal-timeline>
    </div>
  </div>
</div>
<!--datos historicos End-->


<!--Estadisticas Starts -->


<div class="card card-munay mt-5"
  style="background-image: url('../../../assets/img/munay/textura/sintilla_foother_card.png'); background-repeat: repeat-x; background-position: bottom;">

  <div class="card-img overlap animated fade-in-up">
    <div class="row justify-content-center">
      <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4 mx-auto">
        <img alt="element 06" class="img-fluid" src="assets/img/munay/titulos/estadisticas.png">
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="card-block">

      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-4">
            <canvas height="400" baseChart class="chart" [datasets]="lineChartData" [labels]="lineChartLabels"
              [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
              [chartType]="lineChartType" (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
<!--EstadisticasEnd-->
