<section id="timeline" class="timeline-center timeline-wrapper">
  <div class="card card-munay"
    style="background-image: url('../../../assets/img/munay/recursos/banner-sintillaRecurso-8.png'); background-repeat: repeat-x;">

    <div class="card-img overlap animated fade-in-up">
      <div class="row justify-content-center">
        <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6 mx-auto">
          <img alt="element 06" class="img-fluid" src="assets/img/munay/titulos/MOVIMIENTO.png">
        </div>
      </div>
    </div>

    <!----------------------------------------- Card taller  ---------------------------------------->
    <div class="card-body animated fade-in-down">
      <div class="card-block">
        <p class="card-text ">
          Descubre como las estructuras coreográficas y el trabajo corporal
          para lo escénico, parten de una orientación básica en esquemas de movimiento, posturas,
          ritmo, coordinación y la ejecución de pasos básicos del Bambuco Sonsureño y el Sanjuanito,
          como los ritmos predilectos para el carnaval.
        </p>
      </div>

      <div class="row ">
        <div class="col-xs-9 col-md-9 my-auto">
          <img alt="element 06" class="img-fluid" src="assets/img/munay/recursos/VIDEO_TALLER.png">
        </div>
      </div>

      <div class="embed-responsive embed-responsive-4by3 col-xs-9 col-md-9 mx-auto">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/nbBhFo2ATGE" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div class="card-block">
        <p class="card-text text-center">
          El maestro investigador Luis Antonio Eraso Caicedo comparte
          sus orientaciones sobre el desarrollo del taller de Movimiento para La Danza de Carnaval.
        </p>
      </div>
    </div>
    <!----------------------------------------- Card taller  ---------------------------------------->



    <!-------------------------------------------------- MARCADOR  ------------------------------------------------->
    <ul class="timeline">
      <li class="timeline-line"></li>
      <li class="timeline-group">
        <a href="" class="col-xs-9 col-md-9 my-auto"> <img alt="element 06" class="img-fluid"
            src="assets/img/munay/botones/taller_movimiento.PNG"></a>
      </li>
      <li class="timeline-group">
        <a href="assets/pdf/guiones/movimiento.pdf" target="blank" class="col-xs-9 col-md-9 my-auto" id="btn-download">
          <img alt="element 06" class="img-fluid" src="assets/img/munay/botones/DESCARGA.png">
        </a>
      </li>
    </ul>
    <!-------------------------------------------------- MARCADOR  ------------------------------------------------->

    <!----------------------------------------- Card tutorial  ---------------------------------------->
    <div class="row ">
      <div class="col-xs-9 col-md-9 my-auto">
        <img alt="element 06" class="img-fluid" src="assets/img/munay/recursos/VIDEO_TUTORIAL.png">
      </div>
    </div>

    <div class="embed-responsive embed-responsive-4by3 col-xs-9 col-md-9 mx-auto ">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/DeeHl8bUfYI" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="embed-responsive embed-responsive-4by3 col-xs-9 col-md-9 mx-auto my-5">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/CsSeVTuuwno" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="embed-responsive embed-responsive-4by3 col-xs-9 col-md-9 mx-auto my-2">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/gTQeraf6grQ" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="card-body">
      <div class="card-block">
        <p class="card-text text-center">
          El maestro investigador Luis Antonio Eraso Caicedo comparte
          sus orientaciones sobre el desarrollo del taller de Movimiento para La Danza de Carnaval.
        </p>
      </div>
    </div>
    <!----------------------------------------- Card tutorial  ---------------------------------------->

  </div>

  <!------------------------------------------- Card tips maestro -------------------------------------------->
  <div class="timeline-card card border-grey border-lighten-2">
    <div class="card-header">
      <div class="text-center">
        <p><i class="fa fa-bar-chart font-medium-4"></i></p>
        <h4>TIPS PARA EL MAESTRO</h4>


      </div>
      <div>
        <li>Es necesario contar y consumir frecuentemente agua durante las prácticas
          para mantener hidratado el cuerpo. </li>
        <li>
          Las condiciones físicas del lugar donde se realice el trabajo corporal es fundamental
          para evitar lesiones, para ello se recomienda el uso de pisos blandos como la madera
          o el uso de calzado deportivo para minimizar el impacto sobre pisos duros.
        </li>

        <li>
          La indumentaria de los participantes debe ser ligera, cómoda y acorde para realizar actividad física.
        </li>
        <li>
          Es fundamental trabajar desde las dos lateralidades por cada secuencia de
          movimiento por cuanto se requiere de movimientos homogéneos con cambios
          frecuentes de posición.

        </li>
        <li>
          Realizar el primer esquema con los ojos cerrados, permite que haya una mayor
          interiorización o conciencia de cada movimiento que promueve la cenestesia al
          reconocer el propio cuerpo.

        </li>
        <li>Para que los danzantes adquieran mayor habilidad en el manejo de cada esquema,
          se recomienda hacer variaciones de la música, para ello, es necesario empezar
          con ritmos suaves, como el san Juanito o rituales, luego pasar a ritmos rápidos,
          como los de costa. El cambio de ritmo exige una ejecución más ágil en los movimientos.

        </li>

        <li>Se recomienda que la propuesta de danza de carnaval para niños dure de 6 a 8 minutos,
          haciendo variaciones cada 2 minutos de acuerdo a los cuadros coreográficos y ritmos.
          Esto con el fin de evitar la rutinización y lo monorrítmico involucrando diferentes
          momentos en la estructura coreográfica.
        </li>
        <li>
          Siempre se recomienda ensayar con accesorios de la parafernalia, en el caso de no
          contar con ello desde el principio, se puede reemplazar por algún elemento que lo
          represente, de tal modo, cada integrante vivencie la relación con el objeto y evite
          tropiezos con sus compañeros.

        </li>
        <li>
          Es necesario involucrar siempre movimientos en progresión o desplazamiento, teniendo
          en cuenta que la senda es un escenario movible. Usualmente se forman líneas de cuatro
          (4) niños para los desplazamientos y figuras.
        </li>
        <li>
          Realizar algunos ensayos en calles, vías del barrio o parques, para empezar a reconocer
          el espacio público como aula es una fortaleza para la propuesta artística, pues realiza
          un simulacro de lo que se podría encontrar en la senda del carnaval.
        </li>
        <li>
          Se pueden involucrar algunas canciones que pueden ser interpretadas por los niños,
          canciones infantiles o rondas, involucrarlos vocalmente le va a dar mayor seguridad
          en el movimiento y relación con el público.
        </li>

      </div>

    </div>
    <div class="card-body">
    </div>
  </div>
  <!------------------------------------------- Card tips maestro-------------------------------------------->



</section>
