<section id="timeline" class="timeline-center timeline-wrapper">

  <div class="card card-munay"
    style="background-image: url('../../../assets/img/munay/recursos/banner-sintillaRecurso-8.png'); background-repeat: repeat-x;">

    <div class="card-img overlap animated fade-in-up">
      <div class="row justify-content-center">
        <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6 mx-auto">
          <img alt="element 06" class="img-fluid" src="assets/img/munay/titulos/MAQUILLAJE.png">
        </div>
      </div>
    </div>

    <!----------------------------------------- Card taller  ---------------------------------------->
    <div class="card-body animated fade-in-down">
      <div class="card-block">
        <p class="card-text">
          Presentamos ideas de diseño, materiales, cuidados y técnicas iniciales
          para lograr un maquillaje artístico que contribuya a mejorar el motivo, dando un contexto
          particular tanto a los personajes como al tema central de tus propuestas y un gran
          complemento a la parafernalia de los niños artistas.
        </p>
      </div>

      <div class="row ">
        <div class="col-xs-9 col-md-9 my-auto">
          <img alt="element 06" class="img-fluid" src="assets/img/munay/recursos/VIDEO_TALLER.png">
        </div>
      </div>

      <div class="embed-responsive embed-responsive-4by3 col-xs-9 col-md-9 mx-auto">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/QAPlw7FhuJc" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div class="card-block">
        <p class="card-text text-center">
          El maquillador profesional e instructor Andrés Portilla
          comparte sus orientaciones sobre el desarrollo del taller de Maquillaje para Danza de
          Carnaval.
        </p>
      </div>
    </div>
    <!----------------------------------------- Card taller  ---------------------------------------->


    <!-------------------------------------------------- MARCADOR  ------------------------------------------------->
    <ul class="timeline">
      <li class="timeline-line"></li>
      <li class="timeline-group">
        <a href="" class="col-xs-9 col-md-9 my-auto"> <img alt="element 06" class="img-fluid"
            src="assets/img/munay/botones/taller_maquillaje.PNG"></a>
      </li>
      <li class="timeline-group">
        <a href="assets/pdf/guiones/maquillaje.pdf" target="blank" class="col-xs-9 col-md-9 my-auto" id="btn-download">
          <img alt="element 06" class="img-fluid" src="assets/img/munay/botones/DESCARGA.png">
        </a>
      </li>
    </ul>
    <!-------------------------------------------------- MARCADOR  ------------------------------------------------->




    <!----------------------------------------- Card tutorial  ---------------------------------------->
    <div class="row ">
      <div class="col-xs-9 col-md-9 my-auto">
        <img alt="element 06" class="img-fluid" src="assets/img/munay/recursos/VIDEO_TUTORIAL.png">
      </div>
    </div>

    <div class="embed-responsive embed-responsive-4by3 col-xs-9 col-md-9 mx-auto">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ZrK80P485dk" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="card-body">
      <div class="card-block">
        <p class="card-text text-center">
          El maquillador profesional e instructor Andrés Portilla
          comparte sus orientaciones sobre el desarrollo del taller de Maquillaje para Danza de
          Carnaval.
        </p>
      </div>
    </div>
    <!----------------------------------------- Card tutorial  ---------------------------------------->

    <!----------------------------------------- Card taller  ---------------------------------------->
  </div>

  <!------------------------------------------- Card tips maestro -------------------------------------------->
  <div class="timeline-card card border-grey border-lighten-2">
    <div class="card-header">
      <div class="text-center">
        <p><i class="fa fa-bar-chart font-medium-4"></i></p>
        <h4>TIPS PARA EL MAESTRO</h4>


      </div>
      <div>
        <li>El maquillaje no necesariamente es una labor que la desarrolle un experto. </li>
        <li>
          El primer paso para el maquillaje de carnaval tiene que ver con definir el tema a
          trabajar para el diseño, puede ser la identificación de animales, personajes fantásticos,
          la naturaleza.
        </li>

        <li>
          Para la escogencia del motivo del maquillaje se puede partir de una lluvia de ideas
          a partir de los intereses de los niños.
        </li>
        <li>
          Es necesaria la definición de la zona corporal que se va a maquillar,
          para ello la cinta de enmascarar o cinta de papel ayuda a realizar está demarcación.
        </li>
        <li>
          Se debe partir con la aplicación de un fondo, generalmente se recomienda el uso
          de tonos claros como el blanco, esto con el fin de estandarizar el tono de piel
          teniendo en cuenta la diversidad de nuestros cuerpos.

        </li>
        <li>La aplicación de la pintura no debe ser demasiada, esto con el fin de conseguir
          un secado más rápido.
        </li>

        <li>Se inicia la aplicación con trazos lineales horizontales, es necesario dejar secar,
          para luego aplicar de manera vertical la pintura.
        </li>
        <li>
          Es recomendable contar con todos los colores preparados para empezar la aplicación y
          verificar la calidad de las pinturas, sobre todo que estén elaboradas con elementos
          que no afecten la piel (hacer pruebas de reacción y firmeza).
        </li>
        <li>
          Cuando se hace cambio de color es importante limpiar muy bien el pincel o cambiarlo.
        </li>
        <li>
          Tener en cuenta que los colores claros se sobreponen sobre los más oscuros.
        </li>
        <li>
          La pintura corporal requiere un disolvente, se recomienda usar agua para hacer este proceso.
        </li>
        <li>
          El uso de plantillas en acetato, sirven de molde para hacer un gran número de maquillajes.
          Para ello, es necesario probar la plantilla en un papel antes de pasar al maquillaje en la piel.

        </li>

        <li>Para hacer trazos a pulso es necesario probar estos trazos en un papel, para que se realice
          un trazo continuo y ágil.

        </li>

        <li>
          Es recomendable el uso de un fijador para el maquillaje para la danza, para evitar su
          deterioro por el sudor, se puede usar una mezcla de agua con un poco de glicerina o laca,
          cuidando el contacto con los ojos.
        </li>
        <li>
          Con el propósito de ser más efectivos en el uso de los materiales, se recomienda contar
          con los colores primarios como base para el maquillaje, pues se pueden mezclar para
          contar con otras gamas cromáticas.
        </li>

      </div>

    </div>

  </div>
  <!------------------------------------------- Card tips maestro-------------------------------------------->

</section>
