<!--links de interes-->
<div class="row">
    <div class="col-sm-12">

        <div class="card card-munay" style="background-image: url('../../../assets/img/munay/recursos/banner-sintillaRecurso-8.png'); background-repeat: repeat-x;">

          <div class="card-img overlap">
            <div class="row justify-content-center">
              <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6 mx-auto">
                <img alt="element 06" class="img-fluid" src="assets/img/munay/titulos/bibliografia.png">
              </div>
            </div>
          </div>
          <section id="hover-effects" class="card">
              <div class="card-body">
                <div class="card-block my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                  
                  <div class="row text-left">
                      <div class="col-12 mt-3 mb-1">
                        <div class="content-header">Referencias Bibliográficas</div>
                        
                      </div>
                    </div>
                  
                    <div class="row text-left" matchHeight="card">
                      <div class="col-xl-12 col-lg-6 col-12">
                        <div class="card">
                          <div class="card-body">
                            <div class="px-3 ">
                              <div class="media">
                                <div class="media-body text-left">
                                  <h3 class="mb-1 danger">1</h3>
                                  <span>
                                      Bravo, J (s.f). Carnavalito: Ingenio y creatividad infantil. N/a, Pasto.
                                      </span>
                                </div>
                                <div class="media-right align-self-center">
                                  <i class="icon-notebook danger font-large-2 float-right"></i>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-12 col-lg-6 col-12">
                        <div class="card">
                          <div class="card-body">
                            <div class="px-3 ">
                              <div class="media">
                                <div class="media-body text-left">
                                  <h3 class="mb-1 success">2</h3>
                                  <span>Corpocarnaval (2012). Reglamento Carnavalito. Reglamento del desfile del “carnavalito” de Negros y Blancos de Pasto 2012. (Documento sin publicar)</span>
                                </div>
                                <div class="media-right align-self-center">
                                  <i class="icon-notebook success font-large-2 float-right"></i>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  
                      <div class="col-xl-12 col-lg-6 col-12">
                        <div class="card">
                          <div class="card-body">
                            <div class="px-3 ">
                              <div class="media">
                                <div class="media-body text-left">
                                  <h3 class="mb-1 warning">3</h3>
                                  <span>Corpocarnaval (2018). Reglamento Carnavalito. Manual de participación del desfile del “carnavalito” de Negros y Blancos de Pasto 2018
                                      (Documento sin publicar)
                                      </span>
                                </div>
                                <div class="media-right align-self-center">
                                  <i class="icon-notebook warning font-large-2 float-right"></i>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-12 col-lg-6 col-12">
                        <div class="card">
                          <div class="card-body">
                            <div class="px-3 ">
                              <div class="media">
                                <div class="media-body text-left">
                                  <h3 class="mb-1 primary">4</h3>
                                  <span>Muñoz. Lydia Inés. Evolución histórica del Carnaval Andino de Negros y Blancos de San Juan de Pasto. IADAP, Ecuador. 1991
                                      Rodrizales, Javier. 2011. Pedagogía y Carnaval en Semiosis del Carnaval. Universidad de Nariño.
                                      </span>
                                </div>
                                <div class="media-right align-self-center">
                                  <i class="icon-notebook primary font-large-2 float-right"></i>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="row text-left" matchHeight="card">
                        <div class="col-xl-12 col-lg-6 col-12">
                          <div class="card">
                            <div class="card-body">
                              <div class="px-3">
                                <div class="media">
                                  <div class="media-body text-left">
                                    <h3 class="mb-1 danger">5</h3>
                                    <span>
                                        Pasichana, R. (2014). Sistematizacion de la experiencia investigación 2014 de la Fundacion Cultural Indoamericanto como manifestacion de la memoria andina ancestral comunicada en el desfile del canto a la tierra del Carnaval de Negros y Blancos. Universidad Mariana, San Juan de Pasto.
                                        </span>
                                  </div>
                                  <div class="media-right align-self-center">
                                    <i class="icon-notebook danger font-large-2 float-right"></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-xl-12 col-lg-6 col-12">
                          <div class="card">
                            <div class="card-body">
                              <div class="px-3 ">
                                <div class="media">
                                  <div class="media-body text-left">
                                    <h3 class="mb-1 success">6</h3>
                                    <span>Rodrizales, Javier. 2017. Aiesthesis del carnaval de negros y blancos.Universidad de Nariño.</span>
                                  </div>
                                  <div class="media-right align-self-center">
                                    <i class="icon-notebook success font-large-2 float-right"></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    
                        
                      </div>
                </div>
              </div>
            </section>
        
    </div>
</div>

<!--Gallery Hover Effect Starts-->
