<div id="boybanerini">
  <div class="boybaner">
    <div class="contenedor">
      <img src="../../../assets/img/canto-a-la-tierra/baner3.png" alt="baner" id="banner" />
      <img src="../../../assets/img/desfile-magno/carroRecurso 4.png" alt="logo header" id="logoheader" />


    </div>

    <div class="container-fluid">

      <!-- SECCIÓN UNO  DESCRIPCIÓN-->
      <div class="content d-flex flex-column mt-5" id="seccion1">
        <div class="imgDescripcion d-flex justify-content-center">
          <img
            src="../../../assets/img/desfile-magno/sections-titles/descripcion canto a la tierra canto a la tierraRecurso 102@mrkiss.svg"
            alt="" class="imageTitle">
        </div>

        <div class="contenidodescripcion d-flex justify-content-center align-items-center">
          <div class="descripcion w-50">
            <section class="textDesc text-center pt-4">
              <p>Llegamos a la Carroza, una modalidad que condensa las diversas
                manifestaciones dentro del Carnaval de Negros y Blancos, para ello los relatos de maestros nos amplian
                lo
                qué significa la Carroza.</p>

              <h3>Es la materialización de una idea que surge de la fantasía
              </h3>
              <p>“Una carroza es gran parte de un pensamiento, que nació como una idea y se reproduce en nuestra
                cabeza como algo fantástico, como algo que queremos hacerlo tridimensional y al mismo tiempo, queremos
                que sea una realidad.” </p>
            </section>
          </div>
        </div>

        <div class="row mt-3 m-0">

          <div class="col d-flex justify-content-center">
            <div class="contornoimg1Descripcion">
              <img class="imgOne" src="../../../assets/img/canto-a-la-tierra/img1derecha.jpg" alt="">
            </div>
          </div>

        </div>

        <div class="row mt-5 m-0">
          <div class="col-md-5">

            <div class="contornoimg2Descripcion">
              <img class="imgTwo" src="../../../assets/img/canto-a-la-tierra/img-cantoTierra.jpg" alt="">
            </div>
          </div>

          <div class="col d-flex justify-content-center">
            <div class="contText2">
              <section class="text2 text-justify">
                <h3>En la carroza se condensan las modalidades del Carnaval
                </h3>

                <p>“si hablamos de individuales lógicamente, si miramos figura por figura o de los elementos o de las
                  esculturas que están en la carroza, lógicamente tiene las carrozas las características de todas las
                  modalidades del carnaval, la música y lo demás.”</p> <br> <br>
                <p>“Una carroza en sí pienso que tiene que ver con todas las modalidades. Desde su inicios, porque
                  obviamente nosotros iniciamos con un diseño, con un prototipo. Pero al mismo tiempo estamos pensando
                  un vestuario que sea acorde con el motivo que vamos a realizar. Eso se relaciona mucho con la cuestión
                  de un disfraz individual. Que ahora se ha venido perdiendo un poquito el contexto, porque han venido
                  articulando mucho la cuestión de la escultura y cargan muchas figuras. Pero en sí, se tiene que volver
                  nuevamente a lo que se trata es un disfraz individual.
                  En cuanto a la comparsa, manejamos lo que es la alegoría en la parte de abajo, queremos vincular a las
                  personas, invitarlas a que miren el motivo, darles un papel donde nosotros explicamos a parte de la
                  visualidad de nuestra obra, de qué se trata. Las comparsas hacen mucho, interactúan con las personas.
                  Porque también van a pie, la cuestión musical y la cuestión de coreográficos, pienso que es parte de
                  su vida. Una carroza cuando ha salido sin música no es lo mismo, pierde parte de su vida escultórica,
                  su vida monumental. Pero la música es lo que hace la esencia que se viva ese espíritu del carnaval.”
                </p>
              </section>


            </div>
          </div>
        </div>


        <div class="row mt-5 m-0">
          <div class="col d-flex justify-content-center">
            <div class="contText2">
              <section class="text2 text-center">
                <h3>
                  <ul>
                    <li>Entre sus características se encuentran:
                    </li>
                  </ul>
                </h3>
                <p>Representación alegórica de grandes dimensiones, que va en un vehículo motorizado.
                  Lleva una figura central, enriquecida con otras figuras de grande, mediano y menor tamaño. <br> <br>
                  En la parte frontal lleva una figura, el nombre de la propuesta y el del o los autores; en la parte
                  <br> <br>
                  trasera van elementos que resaltan el tema de la carroza.
                  Los laterales del carro están recubiertos con bastidores que aportan elementos a la riqueza del
                  motivo. <br> <br>
                  Altura máxima de 6,20 mts
                </p>
              </section>
            </div>
          </div>
        </div>



        <div class="row m-0 mb-5">
          <div class="col d-flex justify-content-center">
            <img src="../../../assets/img/canto-a-la-tierra/contentPages/barra-Amarilla.png" alt="" width="30%">
          </div>
        </div>

      </div>
      <!-- FIN SECCIÓN UNO DESCRIPCIÓN -->


      <!-- SECCIÓN DOS  RESEÑA HISTORICA -->
      <div class="content d-flex flex-column" id="seccion2">
        <div class="imgDescripcion d-flex justify-content-center">
          <img src="../../../assets/img/desfile-magno/sections-titles/resena.png" alt="Reseña historica"
            class="imageTitleLarge" />
        </div>

        <div class="contenttext1 mt-5">
          <section class="text1resena">
            <ul>
              <li>El padre de Javier Camacho fue uno de los primeros promotores en 1958, salió en zancos por el batallón
                boyacá. A él se le hizo historia, el salió de 1958 hasta 1989. Todos los años era infaltable padre,
                nacimos sus hijos y entraron en el Carnaval.</li>
              <li>Las temáticas son lo más fuerte de las carrozas. Temáticas que se realizan partiendo desde el
                contexto.</li>
            </ul>
          </section>
        </div>
        <div class="container2resena">
          <div class="contenttext2">
            <section>
              <ul>
                <li>La modalidad de carrozas antes, se demoraba prácticamente unos 8 o 9 meses. empezando por el motivo
                  de conseguir la arcilla.</li>
                <li>La técnica que dió inicio a la carroza fue la arcilla. El maestro modelaba el barro.</li>
              </ul>
            </section>
          </div>
          <div class="contentimg1">
            <img src="../../../assets/img/canto-a-la-tierra/img-cantoTierra.jpg" alt="Personas" class="img2" />
          </div>
        </div>
        <div class="container2resena">
          <div class="contendioresena">
            <img src="../../../assets/img/canto-a-la-tierra/img-cantoTierra.jpg" alt="Personas" class="img4" />
          </div>
          <div class="contenttext2">
            <section>
              <ul>
                <li>El carnaval ahora se hace en grupos, se maneja la técnica del icopor, y se distribuyen las tareas.
                </li>
                <li>Los grandes referentes de maestro se encuentran el maestro Arley, el maestro Otero, el maestro
                  Insuasty.</li>
              </ul>
            </section>
          </div>
        </div>
        <div class="containerfinalresena">
          <section class="textfinalresena">
            <ul>
              <li>También se resaltan los maestros Erazo, que en paz descanse, el maestro Chicaiza, los hermanos
                Ordóñez, grandes personajes.</li>
              <li>La carroza ahora tiene dimensiones más largas, se usan técnicas diferentes. Un gran apoyo del diseño
                gráfico y de elementos como el icopor y las mismas resinas. </li>
              <li>Gracias al maestro Otero trajo la modalidad del icopor, que fue una innovación.</li>
            </ul>
          </section>
          <img src="../../../assets/img/canto-a-la-tierra/contentPages/reseña_historica/icon.svg" alt="Icon reseña"
            class="imgfinal" />
        </div>
      </div>
      <!-- FIN SECCIÓN DOS  RESEÑA HISTORICA-->


      <!-- SECCIÓN TRES  RELATOS-->
      <div class="content d-flex flex-column mb-5 mt-5" id="seccion3">
        <div class="imgDescripcion d-flex justify-content-center">
          <img src="../../../assets/img/desfile-magno/sections-titles/RELATOSRecurso 135@mrkiss.png" alt=""
            class="imageTitle">
        </div>

        <div class="row m-0">
          <div class="col d-flex justify-content-center">
            <div class="pt-4 textInicioRelato w-50 text-center">
              <p>INCIO RELATOS Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Exercitationem
                quas ea
                perspiciatis? Delectus
                unde numquam eum sapiente nulla quae! Obcaecati incidunt nisi maxime modi officia ipsum! Aliquam numquam
                reiciendis neque.</p>
            </div>
          </div>
        </div>


        <div class="row m-0 mt-3 pl-5 pr-5">
          <div class="col video  position-relative d-flex justify-content-center align-items-center">

            <!-- DIV DONDE SALE LA REPRODUCCIÓN DE CADA VIDEO  -->
            <div class="videos" #youtubePlayer>
            </div>
          </div>


          <!-- INFORMACIÓN DEL VIDEO -->
          <div class="col-md-3 relato d-flex flex-column p-0">

            <div class="texturaArriba">
            </div>

            <div class="d-flex flex-column" *ngFor="let video of infVideos">
              <div class="contentInformacion d-flex flex-row m-2">
                <div class="contenedorCirculoImagen d-flex justify-content-center align-items-center">
                  <div class="cirlce">
                    <img class="imagenPersona" [src]="video.fotoPersona" alt="">
                  </div>
                </div>

                <div class="info d-flex flex-direction-column pl-1">
                  <div class="todaLaInfo">
                    <a (click)="playVideo(video.idVideo)">
                      <p class="nombrePersona m-0 p-0">{{video.nombrePersona}}</p>
                      <p class="tituloVideo m-0 p-0">{{video.nombreVideo}}</p>
                      <p class="tiempoVideo m-0 p-0">{{video.tiempo}}</p>
                    </a>

                  </div>
                </div>
              </div>
            </div>
            <!-- <div *ngFor="let video of infVideos" class="a">
              <a (click)="playVideo(video.idVideo)">{{video.nombre}}</a>
            </div> -->

          </div>




        </div>
      </div>
      <!-- FIN SECCIÓN TRES RELATOS -->


      <!-- SECCIÓN CUATRO REFLEXIONES-->
      <div class="content d-flex flex-column" id="seccion4">
        <div class="imgDescripcion mt-5 mb-5 d-flex justify-content-center">
          <img src="../../../assets/img/desfile-magno/sections-titles/reflexionesRecurso 117@mrkiss.svg"
            alt="Titulo reflexiones" class="imageTitle" />
        </div>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container mrgbottom">
                <div class="row">
                  <div class="col-12 col-md-6 col-lg-4 contentinf">
                    <img src="../../../assets/img/canto-a-la-tierra/contentPages/reflexiones/contorno.png"
                      class="card-img-top" alt="Contorno" />
                    <img src="../../../assets/img/canto-a-la-tierra/contentPages/reflexiones/perfil.JPG"
                      class="card-img-top" alt="Perfil" />
                    <p class="textotitulo">
                      Armando Galindez
                      <br />
                      <span class="textotitulocursiva">texto de cursiva</span>
                    </p>
                    <p class="textocontenido">
                      “El carnaval es muy importante, nos permite dispersar ideas, arrancar sueños y hacerlos realidad.
                      Yo diría que suelten un poquito esa tecnología de estar agarrados a su celular, porque ya no
                      sueñan y ya no quieren hacer algo manual. Despertemos un poquito a la mente, tengamos amor por el
                      arte, tengamos amor por nuestra cultura.”
                    </p>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4 contentinf">
                    <img src="../../../assets/img/canto-a-la-tierra/contentPages/reflexiones/contorno.png"
                      class="card-img-top" alt="Contorno" />
                    <img src="../../../assets/img/canto-a-la-tierra/contentPages/reflexiones/perfil.JPG"
                      class="card-img-top" alt="Perfil" />
                    <p class="textotitulo">
                      Javier Camacho Vallejo <br />
                      <span class="textotitulocursiva">texto de cursiva</span>
                    </p>
                    <p class="textocontenido">
                      “Colecciono las hojitas que entrega Corpocarnaval, los programas, los tengo todos enmarcados. No
                      hay donde pegar en la casa. Coleccionó todo, eso me gusta, coleccionar. Llevó en el alma el
                      corazón del carnaval y cuando hablo de carnaval, lo hago desde niño. Pienso que en el carnaval me
                      he envejecido.”
                    </p>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4 contentinf">
                    <img src="../../../assets/img/canto-a-la-tierra/contentPages/reflexiones/contorno.png"
                      class="card-img-top" alt="Contorno" />
                    <img src="../../../assets/img/canto-a-la-tierra/contentPages/reflexiones/perfil.JPG"
                      class="card-img-top" alt="Perfil" />
                    <p class="textotitulo">
                      Jairo Enrique Carvajal <br />
                      <span class="textotitulocursiva">texto de cursiva</span>
                    </p>
                    <p class="textocontenido">
                      “Hablar del carnaval es sentir la sensación, sentir el amor por él. Continúen con esto, siganlo
                      transmitiendo de generación en generación, esa es una situación única y me atrevería a decir, como
                      dice mi papá, esto es único en el mundo.”
                    </p>
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-12 col-md-6 col-lg-4 contentinf">
                    <img src="../../../assets/img/canto-a-la-tierra/contentPages/reflexiones/contorno.png"
                      class="card-img-top" alt="Contorno" />
                    <img src="../../../assets/img/canto-a-la-tierra/contentPages/reflexiones/perfil.JPG"
                      class="card-img-top" alt="Perfil" />
                    <p class="textotitulo">
                      Luis Alberto Erazo <br />
                      <span class="textotitulocursiva">texto de cursiva</span>
                    </p>
                    <p class="textocontenido">
                      “ Aprecien el carnaval, en sí es una de las manifestaciones más bonitas que tiene Pasto. Del
                      taller ha salido mucha gente que está trabajando en el carnaval, empezaron conmigo como aprendices
                      y ahora son maestros, porque ha habido escuela de nosotros para que ellos salgan al carnaval”
                    </p>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4 contentinf">
                    <img src="../../../assets/img/canto-a-la-tierra/contentPages/reflexiones/contorno.png"
                      class="card-img-top" alt="Contorno" />
                    <img src="../../../assets/img/canto-a-la-tierra/contentPages/reflexiones/perfil.JPG"
                      class="card-img-top" alt="Perfil" />
                    <p class="textotitulo">
                      Roberto Otero <br />
                      <span class="textotitulocursiva">texto de cursiva</span>
                    </p>
                    <p class="textocontenido">
                      “Es el entorno el que tenemos que cuidar, los padres de familia, los maestros, los profesores, la
                      infancia y la juventud es un ciclo importante en el que todos debemos participar. A las nuevas
                      generaciones, a los niños que son enamorados del carnaval, aprendan a amar lo que tenemos, lo que
                      nosotros somos, nuestras raíces y un respeto muy grande por nuestra cultura, que realmente eso es
                      lo que verdaderamente somos, hijos por lo que nos identificamos.”
                    </p>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                    <img src="../../../assets/img/canto-a-la-tierra/contentPages/reflexiones/contorno.png"
                      class="card-img-top" alt="Contorno" />
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container mrgbottom">
                <div class="row">
                  <div class="col-12 col-md-6 col-lg-4">
                    <img src="../../../assets/img/canto-a-la-tierra/contentPages/reflexiones/contorno.png"
                      class="card-img-top" alt="Contorno" />
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                    <img src="../../../assets/img/canto-a-la-tierra/contentPages/reflexiones/contorno.png"
                      class="card-img-top" alt="Contorno" />
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                    <img src="../../../assets/img/canto-a-la-tierra/contentPages/reflexiones/contorno.png"
                      class="card-img-top" alt="Contorno" />
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-12 col-md-6 col-lg-4">
                    <img src="../../../assets/img/canto-a-la-tierra/contentPages/reflexiones/contorno.png"
                      class="card-img-top" alt="Contorno" />
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                    <img src="../../../assets/img/canto-a-la-tierra/contentPages/reflexiones/contorno.png"
                      class="card-img-top" alt="Contorno" />
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                    <img src="../../../assets/img/canto-a-la-tierra/contentPages/reflexiones/contorno.png"
                      class="card-img-top" alt="Contorno" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <!-- FIN SECCIÓN CUATRO REFLEXIONES-->

      <!-- SECCIÓN CINCO  GALERÍA-->
      <div class="contentGaleria " id="seccion5">
        <div class="imgDescripcion mt-5 mb-5 d-flex justify-content-center">
          <img class=" imageTitle" src="../../../assets/img/desfile-magno/sections-titles/galeriaRecurso 121@mrkiss.svg"
            alt="">

        </div>


        <div class="contorno d-flex justify-content-center align-items-center">
          <div class="containerImages">
            <section class="sectionSliderImg d-flex">
              <img *ngFor="let item of imagenesGaleria" class="sliderGaleria" [src]="item.Img" alt="">
            </section>
          </div>
        </div>

      </div>
      <!-- FIN SECCIÓN CINCO  GALERÍA-->


      <!-- SECCIÓN SEIS  ENLACES DE INTERES-->
      <div class="contentEnlacesInteres" id="seccion6">

        <div class="imgDescripcion mt-5 mb-5 d-flex justify-content-center">

          <img class="mb-5" src="../../../assets/img/desfile-magno/sections-titles/enlacesRecurso 123@mrkiss.svg" alt=""
            class="imageTitleLarge">
        </div>



        <div class="contenedorT d-flex justify-content-center align-items-center">

          <div class="contentImagen d-flex flex-row flex-wrap">

            <div class="b pt-1" *ngFor="let interesImg of imagenesInteres">
              <img class="imagen" [src]="interesImg.Img" [alt]="interesImg.alt">

              <div class="textosA">
                <p class="m-0 p-0 nombrePersonaInteres">{{interesImg.nombre}}</p>
                <p class="m-0 p-0 tituloInteres">{{interesImg.titulo}}</p>
                <p class="m-0 p-0 tiempoInteres">{{interesImg.tiempo}}</p>
              </div>

            </div>







          </div>

        </div>


      </div>
      <!-- FIN SECCIÓN SEIS  ENLACES DE INTERES-->


      <div class="footer">
        <div class="contenidofooter mt-5">
          <img src="../../../assets/img/desfile-magno/sections-titles/munayRecursoWHITE.png" alt="footermunay"
            class="imgbodyfooter" />
          <!-- <p class="textfooter">Información de las modalidades colectivos coreográficos, su definición,
            características
            y datos históricos. A partir de los testimonios de protagonistas de nuestra fiesta.</p> -->
          <div class="iconfooter">
            <p><i class="uil uil-facebook-f"></i></p>
            <p><i class="uil uil-twitter"></i></p>
            <p><i class="uil uil-instagram"></i></p>
            <p><i class="uil uil-youtube"></i></p>
          </div>
          <p class="textfooterfinal"><b>@MUNAYYACHAY</b></p>
        </div>
      </div>

    </div>




  </div>
</div>

<app-sidenav-short [routes]="rutasA"></app-sidenav-short>