<!-- <div>
  <img class="position-fixed imgMain" src="../../../../assets/img/welcome/select-carnaval/fondo2.svg"
    alt="Imagen inicio">

  <div class="contenedorButton position-absolute">

    <div class="cont">
      <a routerLink="/pages/login"><img class="imgBtnAcceder"
          src="../../../../assets/img/welcome/select-carnaval/btnAcceder.png" alt="" srcset=""></a>
    </div>

  </div>

</div> -->


<div class="container-fluid">

  <div class="row row1 position-relative">

    <div class="col d-flex justify-content-end position-relative">
      <div class="conteinerOne d-flex justify-content-center align-items-end flex-column-reverse position-relative">
        <div class="contentOne">
        </div>
        <div>
          <a routerLink="/pages/login" class="btn" type="button"><img class="imgBtnAcceder"
              src="../../../../assets/img/welcome/select-carnaval/btnAcceder.png" alt="" srcset=""></a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <!-- columna2 -->
    </div>
  </div>


</div>