<div class="container-fluid">

  <div class="row row1 position-relative">

    <div class="col d-flex justify-content-end position-relative">
      <div class="conteinerOne d-flex justify-content-center align-items-end flex-column-reverse position-relative">
        <div class="contentOne">
        </div>
        <div>
          <a routerLink="/pages/login" class="btn" type="button"><img class="imgBtnAcceder"
              src="../../../../assets/img/welcome/select-carnaval/btnAcceder.png" alt="" srcset=""></a>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5 mb-5 position-relative d-flex a animate__animated animate__backInDown animate__delay-1s">
    <div class="col position-relative d-flex justify-content-around">
      <div class="mr-3 imgOne position-relative">
        <a href=""><img class="imagenBtns"
            src="../../../../assets/img/welcome/select-carnaval/boton memorias del ddcarnavalRecurso 58@mrkiss.svg"
            alt=""></a>
      </div>


      <div class="imgTwo position-relative">
        <a href=""><img class="imagenBtns"
            src="../../../../assets/img/welcome/select-carnaval/boton memorias del ddcarnavalRecurso 58@mrkiss.svg"
            alt=""></a>
      </div>

    </div>

  </div>

  <div class="row d-flex position-relative justify-content-center align-items-center">
    <div class="col-md-8 position-relative d-flex justify-content-around">

      <img class="" src="../../../../assets/img/welcome/barraAzul.svg" alt="" srcset="">
    </div>
  </div>


</div>