<div id="boybanerini">
  <div class="boybaner">
    <div class="contenedor">
      <img src="../../../assets/img/canto-a-la-tierra/baner3.png" alt="baner" id="banner" />
      <img src="../../../assets/img/canto-a-la-tierra/cantotierra.svg" alt="logo header" id="logoheader" />
    </div>

    <div class="container-fluid">

      <!-- SECCIÓN UNO  DESCRIPCIÓN-->
      <div class="content d-flex flex-column" id="seccion1">
        <div class="imgDescripcion d-flex justify-content-center">
          <img src="../../../assets/img/canto-a-la-tierra/contentPages/descripcion.svg" alt="" width="343px">
        </div>

        <div class="contenidodescripcion d-flex justify-content-center align-items-center">
          <div class="descripcion w-50">
            <p class="textDesc text-center pt-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit
              nesciunt
              atque fugiat
              tempore quo culpa ullam. Harum ipsa reprehenderit iure illum quibusdam natus aliquid, ab corporis aliquam
              mollitia non voluptatem.
            </p>



          </div>
        </div>

        <div class="row mt-3 m-0">

          <div class="col d-flex justify-content-center">
            <div class="contornoimg1Descripcion">
              <img class="imgOne" src="../../../assets/img/canto-a-la-tierra/img1derecha.jpg" alt="">
            </div>
          </div>

        </div>

        <div class="row mt-5 m-0">
          <div class="col-md-5">
            <div class="contornoimg2Descripcion">
              <img class="imgTwo" src="../../../assets/img/canto-a-la-tierra/img-cantoTierra.jpg" alt="">
            </div>
          </div>
          <div class="col d-flex justify-content-center">
            <div class="contText2">
              <p class="text2 text-justify">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo deleniti
                quo
                nesciunt
                quibusdam, eius culpa ipsa tempora sunt quaerat odio repellat dolorem in nemo minus unde, distinctio
                doloremque excepturi illo eum, eveniet quod reiciendis sit libero. Maiores vel in voluptates blanditiis
                neque modi nihil? Odit quia autem sapiente doloremque dolorum veritatis non quis, incidunt provident
                commodi sit soluta, sint accusantium? Officiis labore tempora mollitia numquam nostrum ad, voluptate
                possimus dignissimos animi. Doloremque suscipit ipsa fugiat. Dolor vero voluptatibus corrupti neque.</p>


            </div>
          </div>
        </div>


        <div class="row mt-5 m-0">
          <div class="col d-flex justify-content-center">
            <div class="contText2">
              <p class="text2 text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo deleniti
                quo
                nesciunt
                quibusdam, eius culpa ipsa tempora sunt quaerat odio repellat dolorem in nemo minus unde, distinctio
                doloremque excepturi illo eum, eveniet quod reiciendis sit libero. Maiores vel in voluptates blanditiis
                neque modi nihil? Odit quia autem sapiente doloremque dolorum veritatis non quis, incidunt provident
                commodi sit soluta, sint accusantium? Officiis labore tempora mollitia numquam nostrum ad, voluptate
                possimus dignissimos animi. Doloremque suscipit ipsa fugiat. Dolor vero voluptatibus corrupti neque.</p>
            </div>
          </div>
        </div>



        <div class="row m-0">
          <div class="col d-flex justify-content-center">
            <img src="../../../assets/img/canto-a-la-tierra/contentPages/barra-Amarilla.png" alt="" width="30%">
          </div>
        </div>

      </div>
      <!-- FIN SECCIÓN UNO DESCRIPCIÓN -->



      <section id="seccion2">
        <h2>Reseña historica</h2>
        <p>Contenido de la sección 2</p>
      </section>


      <!-- SECCIÓN TRES  RELATOS-->
      <div class="content d-flex flex-column" id="seccion3">
        <img src="../../../assets/img/canto-a-la-tierra/contentPages/relatos/relatos barraRecurso 114@mrkiss.svg" alt=""
          width="100%">

        <div class="row m-0">
          <div class="col d-flex justify-content-center">
            <div class="pt-4 textInicioRelato w-50 text-center">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quas ea perspiciatis? Delectus
                unde numquam eum sapiente nulla quae! Obcaecati incidunt nisi maxime modi officia ipsum! Aliquam numquam
                reiciendis neque.</p>
            </div>
          </div>
        </div>


        <div class="row m-0 mt-3">
          <div class="col">COLUMNA1</div>
          <div class="col-md-4">COLUMNS 2</div>
        </div>
      </div>
      <!-- FIN SECCIÓN TRES RELATOS -->


      <section id="seccion4">
        <h2>Sección 4 Reflexiones</h2>
        <p>Contenido de la sección 4</p>
      </section>

      <section id="seccion5">
        <h2>Sección 3 Galería</h2>
        <p>Contenido de la sección 5</p>
      </section>

      <section id="seccion6">
        <h2>Sección 6 Enlaces interés</h2>
        <p>Contenido de la sección 6</p>
      </section>


      <div class="footer">
        <div class="contenidofooter">
          <img src="../../../assets/img/canto-a-la-tierra/footer/footer.svg" alt="footermunay" class="imgbodyfooter" />
          <p class="textfooter">Información de las modalidades colectivos coreográficos, su definición, características
            y datos históricos. A partir de los testimonios de protagonistas de nuestra fiesta.</p>
          <div class="iconfooter">
            <p><i class="uil uil-facebook-f"></i></p>
            <p><i class="uil uil-twitter"></i></p>
            <p><i class="uil uil-instagram"></i></p>
            <p><i class="uil uil-youtube"></i></p>
          </div>
          <p class="textfooterfinal"><b>@MUNAYYACHAY</b></p>
        </div>
      </div>

    </div>




  </div>
</div>

<app-sidenav-short [routes]="rutasA"></app-sidenav-short>