<div>

  <img src="../../../../assets/img/welcome/welcome.png" alt="Imagen inicio">

  <div class="a animate__animated animate__backInDown animate__delay-1s">
    <a routerLink="/pages/login">
      <img class="logo" src="../../../../assets/img/welcome/logo.png" alt="Munay">
    </a>

  </div>


  <div class="containerOne">
    <img class="upImg" src="../../../../assets/img/welcome/up.png" alt="Arriba">
  </div>

  <div class="containerTwo">
    <img class="downImg" src="../../../../assets/img/welcome/down.png" alt="Abajo">
  </div>

</div>