<!--links de interes-->
<div class="row">
  <div class="col-sm-12">

    <div class="card card-munay"
      style="background-image: url('../../../assets/img/munay/recursos/banner-sintillaRecurso-8.png'); background-repeat: repeat-x;">

      <div class="card-img overlap">
        <div class="row justify-content-center">
          <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6 mx-auto">
            <img alt="element 06" class="img-fluid" src="assets/img/munay/titulos/links.png">
          </div>
        </div>
      </div>
      <section id="hover-effects" class="card">
        <div class="card-body">
          <div class="card-block my-gallery" itemscope itemtype="http://schema.org/ImageGallery">

            <!-- Minimal statistics with bg color section start -->
            <section id="minimal-statistics-bg">
              <div class="row text-left">
                <div class="col-12 mt-3 mb-1">
                  <div class="content-header">Links De Interes</div>
                  <p class="content-sub-header"></p>
                </div>
              </div>

              <div class="row text-left" matchHeight="card">
                <div class="col-xl-6 col-lg-6 col-12">
                  <div class="card bg-warning">
                    <a href="https://carnavaldepasto.org/ " target="_blank">
                      <div class="card-body">
                        <div class="px-3 py-3">
                          <div class="media">
                            <div class="media-body white text-left">
                              <h3>CARNAVAL DE PASTO</h3>
                              <span>haz clic aqui para ingresar a carnaval de pasto</span>
                            </div>
                            <div class="media-right align-self-center">
                              <i class="icon-paper-plane white font-large-2 float-right"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-12">
                  <div class="card bg-success">
                    <a href="https://danzaescrita.com/" target="_blank">
                      <div class="card-body">
                        <div class="px-3 py-3">
                          <div class="media">
                            <div class="media-body white text-left">
                              <h3>DANZA ESCRITA</h3>
                              <span>haz clic aqui para ingresar a danza escrita</span>
                            </div>
                            <div class="media-right align-self-center">
                              <i class="icon-book-open white font-large-2 float-right"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>



              </div>
              <div class="row text-left" matchHeight="card">
                <div class="col-xl-6 col-lg-6 col-12">
                  <div class="card bg-danger">
                    <a href="http://museocarnaval.xn--nario-rta.gov.co/  " target="_blank">
                      <div class="card-body">
                        <div class="px-3 py-3">
                          <div class="media">
                            <div class="media-body white text-left">
                              <h3>MUSEO DEL CARNAVAL</h3>

                              <span>haz clic aqui para ingresar a museo del carnaval</span>
                            </div>
                            <div class="media-right align-self-center">
                              <i class="icon-picture white font-large-2 float-right"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-12">
                  <div class="card bg-primary">
                    <a href="https://maguare.gov.co/ " target="_blank">
                      <div class="card-body">
                        <div class="px-3 py-3">
                          <div class="media">
                            <div class="media-body white text-left">
                              <h3>MAGUARE</h3>
                              <span>haz clic aqui para ingresar a juegos maguare</span>
                            </div>
                            <div class="media-right align-self-center">
                              <i class="icon-game-controller white font-large-2 float-right"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>



              </div>


            </section>
            <!-- // Minimal statistics with bg color section end -->



          </div>
        </div>
      </section>

    </div>
  </div>

  <!--Gallery Hover Effect Starts-->
