<!-- <div class="fondo">
  <div class="container-fluid">
    <div class="row position-relative ">
      <div class="col banner position-relative d-flex flex-column">
        <div class="containerBanner">
          <img class="imgBanner position-relative" src="../../../assets/img/canto-a-la-tierra/baner3.png"
            alt="Descripción de la imagen">
        </div>
        <div class="containerLetters d-flex justify-content-center">

          <div class="containerletra">
            <img class="letters position-relative" src="../../../assets/img/canto-a-la-tierra/cantotierra.svg" alt="">
          </div>



          <div class="colu-2 d-flex justify-content-center d-flex flex-column">

            <div class="content position-relative d-flex justify-content-center align-items-center">
              <h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, dolorum cum deserunt quisquam asperiores
                architecto ratione laudantium molestiae expedita dicta eius laboriosam exercitationem porro nihil
                adipisci
                accusamus! Delectus, laboriosam illo?</h4>
            </div>

            <div class="t">
              <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores sunt, a ducimus quisquam nulla fugiat
                eos saepe dolor laborum ab blanditiis amet molestias molestiae beatae cupiditate sequi ipsa similique.
                Voluptatibus!</h3>
            </div>


            <div class="t">
              <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores sunt, a ducimus quisquam nulla fugiat
                eos saepe dolor laborum ab blanditiis amet molestias molestiae beatae cupiditate sequi ipsa similique.
                Voluptatibus!</h3>
            </div>


          </div>

        </div>



      </div>

    </div>

  </div>
</div> -->


<!-- <app-sidenav-short></app-sidenav-short> -->

<!-- <img src="../../../assets/img/canto-a-la-tierra/btninscribetereDerecha.png" alt="Boton inscribete" id="btninscribete" /> -->

<div id="boybanerini">
  <div class="boybaner">
    <div class="contenedor">
      <img src="../../../assets/img/canto-a-la-tierra/baner3.png" alt="baner" id="banner" />
      <img src="../../../assets/img/canto-a-la-tierra/cantotierra.svg" alt="logo header" id="logoheader" />
    </div>

    <div class="container-fluid">
      <div class="content">
        <p class="text1">
          Cada año en San Juan de Pasto el 3 de enero se dan cita cientos, hasta miles de personas, para vivir el
          Carnaval de Negros y Blancos, expresado en una de sus máximas presencias, la magia de “El Canto a La Tierra”.
          A partir de propuestas coreográficas y musicales de gran formato, Colectivos Coreográficos se desplazan por
          la Senda del Carnaval (calles de la ciudad) para compartir con los festejantes las novedosas y auténticas
          creaciones en danza, música y color.

        </p>
      </div>
      <div class="content1">
        <div class="col1">
          <img class="imgcol1" src="../../../assets/img/canto-a-la-tierra/paraque.svg" alt="Para que" />
          <p class="text2">En esta sección encontrarás información sobre las propuestas artísticas para los momentos de
            inscripción,
            acreditación y de audición artística.
            Que además de sistematizar el proceso aportará a concentrar la información de la trayectoria de los
            colectivos coreográficos.
          </p>
        </div>
        <div class="col2 position-relative">
          <img src="../../../assets/img/canto-a-la-tierra/barraAzul.svg" alt="" class="pb-3">
          <div class="contorno">
            <img class="t" src="../../../assets/img/canto-a-la-tierra/img1derecha.jpg" alt="">
          </div>
        </div>
      </div>

      <div class="content2 mt-5 d-flex justify-content-center align-items-center flex-column">
        <img src="../../../assets/img/canto-a-la-tierra/paraquien.svg" alt="Para quien" class="imgparaquien" />
        <p class="text3">Gestores, artistas y creadores vinculados con las agrupaciones y organizaciones culturales
          interesadas en participar en el Canto a la Tierra a través de los colectivos coreográficos.</p>
      </div>





      <div class="footer">
        <img src="assets/img/nuestro_carnaval/mapaartesanos.svg" alt="Mapa artesanos" />
        <img src="assets/img/nuestro_carnaval/listaartesanos.svg" alt="Lista artesanos" />
      </div>
      <div class="barrafooter">
        <img src="assets/img/nuestro_carnaval/barraazul.svg" alt="barraazul" />
      </div>
      <div class="imgfooter">
        <img src="assets/img/nuestro_carnaval/fooder.svg" alt="Imagen MUNAYYACHAY" />
      </div>
      <div class="parrafofooter">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
          labore accusantium pariatur quo, aliquid consequatur doloribus
          suscipit eum eius cum dolore dolorum facilis ullam nihil ducimus
          unde! Voluptatibus, id temporibus.
        </p>
      </div>
      <div class="logosfooter">
        <p class="iconfooter">
          <i class="fab fa-facebook"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-youtube"></i>
        </p>
      </div>
      <div class="finfofooter">
        <p>@MUNAYYACHAY</p>
      </div>
    </div>




  </div>
</div>
<app-sidenav-short></app-sidenav-short>