/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.bg-purple-munay {
  background-color: #602577;
}


@font-face {
  font-family: "regular";
  src: url("./assets/fonts/FUENTES/SEGOE/segoeui.ttf");
}

@font-face {
  font-family: "bold";
  src: url("./assets/fonts/FUENTES/SEGOE/segoeuib.ttf");
}

@font-face {
  font-family: "italic";
  src: url("./assets/fonts/FUENTES/SEGOE/segoeuii.ttf");
}


.textocontenido {
  position: absolute;
  width: 56%;
  height: 20vh;
  top: 71%;
  left: 55%;
  transform: translate(-50%, -50%);
  font-size: 13px;
  font-family: "regular";
  line-height: 1.5;
  text-align: justify;
  overflow-y: scroll;
  padding-right: 10px;
}

.textocontenido::-webkit-scrollbar {
  width: 3px;
  padding: 10%;
  background-color: #f1f1f1;
}

.textocontenido::-webkit-scrollbar-thumb {
  background-color: #b20c80;
  border-radius: 10px;
  padding: 10%;
}