<div class="row">
  <div class="col-12">

    <!-- definicion -->
    <div class="card card-munay"
      style="background-image: url('../../../assets/img/munay/recursos/banner-sintillaRecurso-8.png'); background-repeat: repeat-x;">

      <div class="card-img overlap">
        <div class="row justify-content-center">
          <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6 mx-auto">
            <img alt="element 06" class="img-fluid" src="assets/img/munay/titulos/CONVOCATORIAS.png">
          </div>
        </div>
      </div>
      <div class="container">

        <div class="row">
          <div class="card-body ">
            <div class="card-block">
              <p class="text-justify">A continuación, encontrará una matriz que presenta convocatorias
                de carácter local y nacional en el cual puede presentar sus proyectos para la cofinanciación.
              </p>

            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="row">

        <!-- convocatoria 1 Starts-->
        <div class="col-xl-4 col-lg-12">
          <div class="card">
            <div class="card-header">
              <i class="font-large-1 float-left mr-2"></i>
              <h4 class="card-title mb-0">Programa Nacional de Estímulos del Ministerio de Cultura</h4>
              
              <p class="ft-corner-left-down font-large-1 float-left mr-2"><i>Quienes pueden participar:</i></p>
              <p>Organización con personería jurídica, instituciones 
                educativas, entidades públicas.</p>
  
            </div>
            <div class="card-content">
              <div class="card-body">
                <ul class="list-group">
                    <button class="btn btn-lg btn-outline-primary" (click)="GetDetails(content, 'Programa Nacional de Estímulos del Ministerio de Cultura')">Consulta aquí la convocatoria</button>

                </ul>
              </div>
            </div>
  
          </div>
        </div>
        <!-- convocatoria 1 fin-->
  
        <!-- convocatoria 2 Starts-->
        <div class="col-xl-4 col-lg-12">
          <div class="card">
            <div class="card-header">
              <i class="font-large-1 float-left mr-2"></i>
              <h4 class="card-title mb-0">Programa Nacional de Estímulos</h4>
              
              <p class="ft-corner-left-down font-large-1 float-left mr-2"><i>Quienes pueden participar:</i></p>
              <p>Personas naturales, grupos constituidos 
                y personerías jurídicas</p>
  
  
            </div>
            <div class="card-content">
                <div class="card-body">
                  <ul class="list-group">
                      <button class="btn btn-lg btn-outline-primary" (click)="GetDetails(content2, 'Programa Nacional de Estímulos')">Consulta aquí la convocatoria</button>
  
                  </ul>
                </div>
              </div>
  
          </div>
        </div>
        <!-- convocatoria 2 fin -->
 
        <!-- convocatoria 3 Starts-->
        <div class="col-xl-4 col-lg-12">
          <div class="card">
            <div class="card-header">
              <i class="font-large-1 float-left mr-2"></i>
              <h4 class="card-title mb-0">Cultural Convoca de la Gobernación de Nariño</h4>
              
              <p class="ft-corner-left-down font-large-1 float-left mr-2"><i>Quienes pueden participar:</i></p>
              <p>Personas naturales, grupos constituidos y personerías jurídicas,
                 alcaldías municipales, organizaciones étnicas</p>
  
  
  
            </div>
            <div class="card-content">
                <div class="card-body">
                  <ul class="list-group">
                      <button class="btn btn-lg btn-outline-primary" (click)="GetDetails(content3, 'Cultural Convoca de la Gobernación de Nariño')">Consulta aquí la convocatoria</button>
  
                  </ul>
                </div>
              </div>
  
          </div>
        </div>
        <!-- convocatoria 3 fin -->

        <!-- convocatoria 4 Starts-->
        <div class="col-xl-4 col-lg-12">
            <div class="card">
              <div class="card-header">
                <i class="font-large-1 float-left mr-2"></i>
                <h4 class="card-title mb-0">Carnaval de la Alegría</h4>
              
                <p class="ft-corner-left-down font-large-1 float-left mr-2"><i>Quienes pueden participar:</i></p>
                <p>Instituciones educativas públicas de Pasto</p>
    
    
    
              </div>
              <div class="card-content">
                  <div class="card-body">
                    <ul class="list-group">
                        <button class="btn btn-lg btn-outline-primary" (click)="GetDetails(content4, 'Carnaval de la Alegría')">Consulta aquí la convocatoria</button>
    
                    </ul>
                  </div>
                </div>
    
            </div>
          </div>
          <!-- convocatoria 4 fin -->

          <!-- convocatoria 5 Starts-->
        <div class="col-xl-4 col-lg-12">
            <div class="card">
              <div class="card-header">
                <i class="font-large-1 float-left mr-2"></i>
                <h4 class="card-title mb-0">IBERESCENA</h4>
              
                <p class="ft-corner-left-down font-large-1 float-left mr-2"><i>Quienes pueden participar:</i></p>
                <p>Profesionales de artes escénicas que residen en Colombia</p>
    
    
              </div>
              <div class="card-content">
                  <div class="card-body">
                    <ul class="list-group">
                        <button class="btn btn-lg btn-outline-primary" (click)="GetDetails(content5, 'IBERESCENA')">Consulta aquí la convocatoria</button>
    
                    </ul>
                  </div>
                </div>
    
            </div>
          </div>
          <!-- convocatoria 5 fin -->
  
      </div>
  
      <!-- convocatoria 1-->
  
      <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header bg-warning">
          <h4 class="modal-title white">{{title}}</h4>
          <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="text-bold-500">Tipo de proyectos:</p>
          <p>
            Concertación cuenta con tres líneas que pueden 
            ser las más cercanas para la financiación:
          </p>
          <li>Línea 2 – Actividades artísticas y culturales de duración limitada.</li>
          <li>Línea 3. Fortalecimiento de procesos artísticos y culturales. Duración de 6 a 9 meses.</li>
          <li>Línea 6 - Circulación artística a escala nacional.  </li>
          <p class="text-bold-500">Fecha de convocatoria</p>
          <p>Julio a septiembre </p>
          <p class="text-bold-500">Tener en cuenta</p>
          <p>La convocatoria recibe propuestas de entidades con personería jurídica. 
            No financia gastos administrativos, compra de activos o de elementos 
            de oficina, dotaciones en general.
              La convocatoria cofinancia, de acuerdo al porcentaje de cofinanciación
               se evalúa el proyecto.
              </p>
          <p class="text-bold-500">Link</p>
          <button class="btn btn-info btn-raised" type="button" onclick="window.location.href = 'http://www.mincultura.gov.co/planes-y-programas/programas/programa-nacional-de-concertaci%C3%B3n-cultural/Paginas/Programa%20Nacional%20de%20Concertaci%C3%B3n%20Cultural.aspx '" target="_blank">Click aqui para ingresar a la convocatoria</button>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
        </div>
      </ng-template>
  

  
   <!-- convocatoria 2-->
  
      <ng-template #content2 let-c="close" let-d="dismiss">
        <div class="modal-header bg-warning">
          <h4 class="modal-title white">{{title}}</h4>
          <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p class="text-bold-500">Tipo de proyectos:</p>
            <p>
                Apoya proyectos artísticos y culturas dentro 
                de las líneas de formación, investigación, creación y circulación. 
            </p>
            
            <p class="text-bold-500">Fecha de convocatoria</p>
            <p>Anual, la convocatoria generalmente es abierta
               a principios de semestre entre los meses de
                febrero y su cierre varía según el eje
                 temático</p>
            <p class="text-bold-500">Tener en cuenta</p>
            <p>Cada eje establece requerimientos 
              específicos de acuerdo si es beca, 
              pasantía, premio o residencia artística. 
                Solicita cofinanciación.
                Cofinancia proyectos culturales y artísticos .
                </p>
            <p class="text-bold-500">Link</p>
            <button class="btn btn-info btn-raised" type="button" onclick="window.location.href = 'http://www.mincultura.gov.co/planes-y-programas/programas/programa-nacional-estimulos/Paginas/default.aspx  '" target="_blank">Click aqui para ingresar a la convocatoria</button>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
        </div>
      </ng-template>
  
      
  
      <!-- convocatoria 3-->
  
      <ng-template #content3 let-c="close" let-d="dismiss">
        <div class="modal-header bg-warning">
          <h4 class="modal-title white">{{title}}</h4>
          <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p class="text-bold-500">Tipo de proyectos:</p>
            <p>
                Cuenta con una línea identificada como
                 estímulos a la creación, investigación,
                  circulación de procesos artísticos y 
                  culturales. En el componente de
                   investigación, creación y/o 
                   circulación grupales
            </p>
            
            <p class="text-bold-500">Fecha de convocatoria</p>
            <p>Anual, generalmente su apertura inicia entre 
              junio y tiene una duración de un mes.</p>
            <p class="text-bold-500">Tener en cuenta</p>
            <p>Cofinancia proyectos culturales y artísticos 
                </p>
            <p class="text-bold-500">Link</p>
            <button class="btn btn-info btn-raised" type="button" onclick="window.location.href = 'http://cultura.xn--nario-rta.gov.co/'" target="_blank">Click aqui para ingresar a la convocatoria</button>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
        </div>
      </ng-template>

      <!-- convocatoria 4-->
  
      <ng-template #content4 let-c="close" let-d="dismiss">
          <div class="modal-header bg-warning">
            <h4 class="modal-title white">{{title}}</h4>
            <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <p class="text-bold-500">Tipo de proyectos:</p>
              <p>
                  Apoyo a proyectos artísticos de Carnaval 
                  para la participación en el Carnaval de 
                  la Alegría Estudiantil.
              </p>
              
              <p class="text-bold-500">Fecha de convocatoria</p>
              <p>Entre agosto y septiembre</p>
              <p class="text-bold-500">Tener en cuenta</p>
              <p>Solo financia proyectos de carnaval 
                liderados por Instituciones Educativas
                  </p>
              <p class="text-bold-500">Link</p>
              <button class="btn btn-info btn-raised" type="button" onclick="window.location.href = 'http://www.educacionpasto.gov.co/  '" target="_blank">Click aqui para ingresar a la convocatoria</button>
    
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
          </div>
        </ng-template>
  
        
        <!-- convocatoria 5-->
  
      <ng-template #content5 let-c="close" let-d="dismiss">
          <div class="modal-header bg-warning">
            <h4 class="modal-title white">{{title}}</h4>
            <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <p class="text-bold-500">Tipo de proyectos:</p>
              <p>
                  Proyectos relacionados para promover
                   la creación, coproducción, distribución 
                   y circulación de espectáculos de las 
                   artes escénicas
              </p>
              
              <p class="text-bold-500">Fecha de convocatoria</p>
              <p>Permanente</p>
              <p class="text-bold-500">Tener en cuenta</p>
              <p>Las líneas de ayuda y fechas de convocatorias
                 que se realizan anualmente, en especial la 
                 relacionada con Creación Dramatúrgica y coreográfica
                  </p>
              <p class="text-bold-500">Link</p>
              <button class="btn btn-info btn-raised" type="button" onclick="window.location.href = 'http://www.iberescena.org/convocatorias/lineas-de-ayuda '" target="_blank">Click aqui para ingresar a la convocatoria</button>
    
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
          </div>
        </ng-template>
    
  
     
  </div>
</div>

