<section id="timeline" class="timeline-center timeline-wrapper">

  <div class="card card-munay"
    style="background-image: url('../../../assets/img/munay/recursos/banner-sintillaRecurso-8.png'); background-repeat: repeat-x;">

    <div class="card-img overlap">
      <div class="row justify-content-center">
        <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6 mx-auto">
          <img alt="element 06" class="img-fluid" src="assets/img/munay/titulos/equipo.png">
        </div>
      </div>
    </div>

    <!----------------------------------------- Card taller  ---------------------------------------->
    <div class="card-body">
      <div class="card-block">


        <!-- Team -->
        <section class="">
          <div class="container">

            <div class="row my-4">
              <div class="col-lg-12 text-center">
                <h2 class="section-heading"> <strong>Nuestro Equipo Investigador</strong></h2>
                <h3 class="section-subheading text-muted"></h3>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="team-member mx auto">
                  <img class="mx-auto rounded-circle" src="assets/img/munay/equipoTrabajo/Carolina_Avendanio.png"
                    alt="">
                  <h4>Carolina Avendaño Peña</h4>
                  <p class="text-muted"><a
                      href="http://scienti.colciencias.gov.co:8081/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0000095589">Investigador</a>
                  </p>

                  <p class="text-muted">
                    Correo: carolinavendao@gmail.com
                  </p>

                  <p class="text-muted">
                    Cel: 314 338 0761
                  </p>
                  <!-- <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-facebook-f"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-facebook-f"></i>
                      </a>
                    </li>
                  </ul> -->
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="team-member mx-auto">
                  <img class="mx-auto rounded-circle" src="assets/img/munay/equipoTrabajo/Luis_Erazo.png" alt="">
                  <h4>Luis Antonio Erazo Caicedo</h4>
                  <p class="text-muted"><a
                      href="https://scienti.colciencias.gov.co/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0000003099">Investigador</a>
                  </p>
                  <p class="text-muted">
                    Correo: laeraso@iucesmag.edu.co
                  </p>

                  <p class="text-muted">
                    Cel: 315 474 7021
                  </p>
                  <!-- <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-facebook-f"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-facebook-f"></i>
                      </a>
                    </li>
                  </ul> -->
                </div>
              </div>


            </div>

            <div class="row my-4">
              <div class="col-lg-12 text-center">
                <h2 class="section-heading"> <strong>Nuestro Equipo de Desarrollo</strong></h2>
                <h3 class="section-subheading text-muted"></h3>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="team-member mx auto">
                  <img class="mx-auto rounded-circle" src="assets/img/munay/equipoTrabajo/Kevin_Montufar.png" alt="">
                  <h4>Kevin Alejandro Montúfar Burbano</h4>
                  <p class="text-muted">Ing. de Sistemas</p>

                  <p class="text-muted">
                    Correo: kmb_9408@hotmail.com
                  </p>

                  <p class="text-muted">
                    Cel: 315 226 2595
                  </p>
                  <!-- <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-facebook-f"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-facebook-f"></i>
                      </a>
                    </li>
                  </ul> -->
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="team-member mx-auto">
                  <img class="mx-auto rounded-circle" src="assets/img/munay/equipoTrabajo/Felipe_Diaz.png" alt="">
                  <h4>Luis Felipe Diaz Rosas</h4>
                  <p class="text-muted">Ing. de Sistemas</p>

                  <p class="text-muted">
                    Correo: luisdiaz@umariana.edu.co
                  </p>

                  <p class="text-muted">
                    Cel: 316 2250610
                  </p>
                  <!-- <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-facebook-f"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-facebook-f"></i>
                      </a>
                    </li>
                  </ul> -->
                </div>
              </div>


            </div>

            <div class="row my-4">
              <div class="col-lg-12 text-center">
                <h2 class="section-heading"> <strong>Nuestro Equipo de Diseño Gráfico</strong></h2>
                <h3 class="section-subheading text-muted"></h3>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="team-member mx auto">
                  <img class="mx-auto rounded-circle" src="assets/img/munay/equipoTrabajo/Andres_Cabrera.png" alt="">
                  <h4>Andrés Cabrera Tello</h4>
                  <p class="text-muted">Diseñador Gráfico</p>

                  <p class="text-muted">
                    CONEXIÓN DEMENTE STUDIO CREATIVO
                  </p>

                  <p class="text-muted">
                    Cel: 321 844 4872
                  </p>
                  <!-- <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-facebook-f"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-facebook-f"></i>
                      </a>
                    </li>
                  </ul> -->
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="team-member mx-auto">
                  <img class="mx-auto rounded-circle" src="assets/img/munay/equipoTrabajo/Jonathan_Aguirre.png" alt="">
                  <h4>Jonathan Alejandro Aguirre Teran</h4>
                  <p class="text-muted">Diseñador Gráfico</p>

                  <p class="text-muted">
                    CONEXIÓN DEMENTE STUDIO CREATIVO
                  </p>

                  <p class="text-muted">
                    Cel: 317 521 9335
                  </p>
                  <!-- <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-facebook-f"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-facebook-f"></i>
                      </a>
                    </li>
                  </ul> -->
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="team-member mx-auto">
                  <img class="mx-auto rounded-circle" src="assets/img/munay/equipoTrabajo/Jhonnatan_Pantoja.png" alt="">
                  <h4>Jhonnatan Daniel Pantoja Alvarez</h4>
                  <p class="text-muted">Diseñador Gráfico</p>

                  <p class="text-muted">
                    CONEXIÓN DEMENTE STUDIO CREATIVO
                  </p>

                  <p class="text-muted">
                    Cel: 310 626 9520
                  </p>
                  <!-- <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-facebook-f"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-facebook-f"></i>
                      </a>
                    </li>
                  </ul> -->
                </div>
              </div>


            </div>

            <div class="row my-4">
              <div class="col-lg-12 text-center">
                <h2 class="section-heading"> <strong>Nuestro Equipo de Comunicación Social</strong></h2>
                <h3 class="section-subheading text-muted"></h3>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="team-member mx auto">
                  <img class="mx-auto rounded-circle" src="assets/img/munay/equipoTrabajo/Manuel_Ruiz.png" alt="">
                  <h4>Manuel Alejandro Ruiz Eraso</h4>
                  <p class="text-muted">Comunicador Social</p>

                  <p class="text-muted">
                    Correo: manuel.ruize105@gmail.com
                  </p>

                  <p class="text-muted">
                    Cel: 314 312 5358
                  </p>
                  <!-- <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-facebook-f"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-facebook-f"></i>
                      </a>
                    </li>
                  </ul> -->
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="team-member mx-auto">
                  <img class="mx-auto rounded-circle" src="assets/img/munay/equipoTrabajo/David_Betancourt.png" alt="">
                  <h4>David Fernando Betancourt Herrera</h4>
                  <p class="text-muted">Comunicador integral</p>

                  <p class="text-muted">
                    Correo: davidbetan16@gmail.com
                  </p>

                  <p class="text-muted">
                    Cel: 310 498 2984
                  </p>
                  <!-- <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-facebook-f"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-facebook-f"></i>
                      </a>
                    </li>
                  </ul> -->
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="team-member mx-auto">
                  <img class="mx-auto rounded-circle" src="assets/img/munay/equipoTrabajo/Jesus_Tupaz.png" alt="">
                  <h4>Jesús Nicolás Tupaz Tupaz</h4>
                  <p class="text-muted">Estudiante de Comunicación Social</p>

                  <p class="text-muted">
                    Correo: chuchonicolast@gmail.com
                  </p>

                  <p class="text-muted">
                    Cel: 3158084476
                  </p>
                  <!-- <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-facebook-f"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-facebook-f"></i>
                      </a>
                    </li>
                  </ul> -->
                </div>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="team-member mx-auto">
                  <img class="mx-auto rounded-circle" src="assets/img/munay/equipoTrabajo/Karold_Santacruz.png" alt="">
                  <h4>Karold Sthefanny Santacruz Riascos</h4>
                  <p class="text-muted">Comunicadora Social</p>

                  <p class="text-muted">
                    Correo: karoldsthefanny@gmail.com
                  </p>

                  <p class="text-muted">
                    Cel: 317 524 2865
                  </p>
                  <!-- <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                          <a href="#">
                            <i class="fa fa-twitter"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a href="#">
                            <i class="fa fa-facebook-f"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a href="#">
                            <i class="fa fa-facebook-f"></i>
                          </a>
                        </li>
                      </ul> -->
                </div>
              </div>
            </div>

            <!-- <div class="row">
              <div class="col-lg-8 mx-auto text-center">
                <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque,
                  laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
              </div>
            </div> -->
          </div>
        </section>



      </div>
    </div>
    <!----------------------------------------- Card taller  ---------------------------------------->
  </div>


</section>
