<section id="timeline" class="timeline-center timeline-wrapper">


  <div class="card card-munay"
    style="background-image: url('../../../assets/img/munay/recursos/banner-sintillaRecurso-8.png'); background-repeat: repeat-x;">

    <div class="card-img overlap animated fade-in-up">
      <div class="row justify-content-center">
        <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6 mx-auto">
          <img alt="element 06" class="img-fluid" src="assets/img/munay/titulos/CARTOGRAFIA.png">
        </div>
      </div>
    </div>

    <!----------------------------------------- Card taller  ---------------------------------------->
    <div class="card-body animated fade-in-down">
      <div class="card-block">
        <p class="card-text ">
          El reconocimiento del cuerpo, de ese ser que se forma, permite
          comprender la verdadera función o rol que como niños o adultos podemos cultivar en
          la creación de personajes para una propuesta artística. Descubre aquí, algunas
          experiencias y conceptos sobre la dimensión que cobra una idea desde el mundo
          fantástico de los niños artistas del Carnaval.
        </p>
      </div>

      <div class="row">
        <div class="col-xs-9 col-md-9 my-auto">
          <img alt="element 06" class="img-fluid" src="assets/img/munay/recursos/VIDEO_TALLER.png">
        </div>
      </div>

      <div class="embed-responsive embed-responsive-4by3 col-xs-9 col-md-9 mx-auto">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/p1Xg645K6wU" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
      </div>
      <div class="card-body">
        <div class="card-block">
          <p class="card-text text-center">La investigadora Carolina Avendaño Peña comparte sus
            orientaciones sobre el desarrollo de la herramienta-taller de investigación:
            Cartografía Corporal.
          </p>
        </div>
      </div>
      <!----------------------------------------- Card taller  ---------------------------------------->

      <!-------------------------------------------------- MARCADOR  ------------------------------------------------->
      <ul class="timeline">
        <li class="timeline-line"></li>
        <li class="timeline-group">
          <a href="" class="col-xs-9 col-md-9 my-auto"> <img alt="element 06" class="img-fluid"
              src="assets/img/munay/botones/taller_cartografia.PNG"></a>
        </li>
        <li class="timeline-group">
          <a href="assets/pdf/guiones/cartografia.pdf" target="blank" class="col-xs-9 col-md-9 my-auto" id="btn-download">
            <img alt="element 06" class="img-fluid" src="assets/img/munay/botones/DESCARGA.png">
          </a>
        </li>
      </ul>
      <!-------------------------------------------------- MARCADOR  ------------------------------------------------->

      <!----------------------------------------- Card tutorial  ---------------------------------------->

      <div class="row ">
        <div class="col-xs-9 col-md-9 my-auto">
          <img alt="element 06" class="img-fluid" src="assets/img/munay/recursos/VIDEO_TUTORIAL.png">
        </div>
      </div>

      <div class="embed-responsive embed-responsive-4by3 col-xs-9 col-md-9 mx-auto">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/GF4bzEqa4d4" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      </div>
      <div class="card-body">
        <div class="card-block">
          <p class="card-text text-center">La investigadora Carolina Avendaño Peña comparte sus
            orientaciones sobre el desarrollo de la herramienta-taller de investigación:
            Cartografía Corporal. </p>

        </div>
      </div>
      <!----------------------------------------- Card tutorial  ---------------------------------------->
    </div>

    <!----------------------------------------- Card taller  ---------------------------------------->

  </div>

  <!------------------------------------------- Card tips maestro -------------------------------------------->
  <div class="timeline-card card border-grey border-lighten-2 fade-in-down">
    <div class="card-header">
      <div class="text-center">
        <p>
          <i class="fa fa-bar-chart font-medium-4"></i>
        </p>
        <h4>TIPS PARA EL MAESTRO</h4>
      </div>
      <div>
        <li>Es una herramienta de investigación, adaptada por Munay Yachay, para abordar
          los aportes del Carnaval de Negros y Blancos en configuración de corporalidades,
          en el reconocimiento de la formación.</li>
        <li>
          Es un ejercicio de mapeo donde se pueden reconocer aprendizajes desde la narrativa
          de experiencias, significaciones y aportes de los participantes en cada modalidad de carnaval.
        </li>

        <li>
          Es necesario empezar el ejercicio de cartografía desde una activación corporal y
          de reconocimiento de cómo se encuentran los participantes con su propio ser,
          una forma de conexión con su cuerpo.
        </li>
        <li>
          Los referentes de los niños y las niñas son fundamentales a la hora de
          cartografiar, para ello se invita a escribir o dibujar, a fin de lograr
          una expresión libre sobre los temas que son de mayor identificación para los niños.
        </li>
        <li>
          La creación de personajes permite una mayor socialización y comunicación de los niños,
          porque el personaje fantástico se vuelve una excusa para hablar de sí mismo, de
          sus aspiraciones y retos.

        </li>
        <li>Los estudiantes deben tener un mínimo conocimiento sobre agarre de baquetas,
          postura y algunos ritmos musicales tanto en el bombo, como en el redoblante y percusión menor.

        </li>

        <li>Lo que surja de las interpretaciones del maestro, es necesario que se socialice
          con los participantes, esto puede ayudar a la creación de personajes, historias y
          la orientación pedagógica de la propuesta artística.
        </li>

      </div>

    </div>
    <div class="card-body">
    </div>
  </div>
  <!------------------------------------------- Card tips maestro-------------------------------------------->



</section>
