<div class="row" >
    <div class="col-12">


      <!-- definicion -->
<div class="card card-munay" style="background-image: url('../../../assets/img/munay/recursos/banner-sintillaRecurso-8.png'); background-repeat: repeat-x;">

  <div class="card-img overlap animated fade-in-up">
    <div class="row justify-content-center">
      <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6 mx-auto">
        <img alt="element 06" class="img-fluid" src="assets/img/munay/titulos/apedagogicos.png">
      </div>
    </div>
  </div>
  

    </div>

    <div class="row">

     <!--el saber del carnaval Starts-->
<div class="col-xl-4 col-lg-12">
  <div class="card">
    <div class="card-header">
      <i class="ft-bell font-large-1 float-left mr-2"></i>
      <h4 class="card-title mb-0">El saber del carnaval</h4>
 
    </div>
    <div class="card-content">
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'El saber del carnaval')">
            <span class="badge bg-primary float-left mr-2">
              <i class="ft-file-text text-white"></i>
            </span> El carnaval como escuela
          </li>
          <li class="list-group-item cursor-pointer" (click)="GetDetails(content2, 'El saber del carnaval')">
            <span class="badge bg-primary float-left mr-2">
              <i class="ft-file-text text-white"></i>
            </span> Encuentro de saberes 
          </li>
          <li class="list-group-item cursor-pointer" (click)="GetDetails(content3, 'El saber del carnaval')">
            <span class="badge bg-primary float-left mr-2">
              <i class="ft-file-text text-white"></i>
            </span> El carnaval como pedagogía
          </li>
          <li class="list-group-item cursor-pointer" (click)="GetDetails(content4, 'El saber del carnaval')">
            <span class="badge bg-primary float-left mr-2">
              <i class="ft-file-text text-white"></i>
            </span> El Carnaval como acontecimiento
          </li>
          <li class="list-group-item cursor-pointer" (click)="GetDetails(content5, 'El saber del carnaval')">
            <span class="badge bg-primary float-left mr-2">
              <i class="ft-file-text text-white"></i>
            </span> El potencial de la infancia
          </li>
          <li class="list-group-item cursor-pointer" (click)="GetDetails(content6, 'El saber del carnaval')">
            <span class="badge bg-primary float-left mr-2">
              <i class="ft-file-text text-white"></i>
            </span> La experiencia de la infancia en el carnaval
          </li>

          <li class="list-group-item cursor-pointer" (click)="GetDetails(content7, 'El saber del carnaval')">
            <span class="badge bg-primary float-left mr-2">
              <i class="ft-file-text text-white"></i>
            </span>	Jugando se aprende
          </li>
          <li class="list-group-item cursor-pointer" (click)="GetDetails(content8, 'El saber del carnaval')">
            <span class="badge bg-primary float-left mr-2">
              <i class="ft-file-text text-white"></i>
            </span> El saber propio
          </li>
        </ul>
      </div>
    </div>
  
  </div>
</div>

<!--el saber del carnaval Ends--> 

 <!-- El hacer del carnaval en el sistema educativo Starts-->
 <div class="col-xl-4 col-lg-12">
  <div class="card">
    <div class="card-header">
      <i class="ft-star font-large-1 float-left mr-2"></i>
      <h4 class="card-title mb-0">El hacer del carnaval en el sistema educativo</h4>

    </div>
    <div class="card-content">
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item cursor-pointer" (click)="GetDetails(content9, 'El hacer del carnaval en el sistema educativo')">
            <span class="badge bg-danger float-left mr-2">
              <i class="ft-file-text text-white"></i>
            </span> En el currículo escolar 
          </li>
          <li class="list-group-item cursor-pointer" (click)="GetDetails(content10, 'El hacer del carnaval en el sistema educativo')">
            <span class="badge bg-danger float-left mr-2">
              <i class="ft-file-text text-white"></i>
            </span> Como resiliencia 
          </li>
          <li class="list-group-item cursor-pointer" (click)="GetDetails(content11, 'El hacer del carnaval en el sistema educativo')">
            <span class="badge bg-danger float-left mr-2">
              <i class="ft-file-text text-white"></i>
            </span> Como puente de comunicación
          </li>
          <li class="list-group-item cursor-pointer" (click)="GetDetails(content12, 'El hacer del carnaval en el sistema educativo')">
            <span class="badge bg-danger float-left mr-2">
              <i class="ft-file-text text-white"></i>
            </span> Aprendizajes significativos a partir de experiencias reales
          </li>
          <li class="list-group-item cursor-pointer" (click)="GetDetails(content13, 'El hacer del carnaval en el sistema educativo')">
            <span class="badge bg-danger float-left mr-2">
              <i class="ft-file-text text-white"></i>
            </span> Innova las prácticas educativas
          </li>
          <li class="list-group-item cursor-pointer" (click)="GetDetails(content14, 'El hacer del carnaval en el sistema educativo')">
            <span class="badge bg-danger float-left mr-2">
              <i class="ft-file-text text-white"></i>
            </span> el espíritu del juego
          </li>
          <li class="list-group-item cursor-pointer" (click)="GetDetails(content15, 'El hacer del carnaval en el sistema educativo')">
            <span class="badge bg-danger float-left mr-2">
              <i class="ft-file-text text-white"></i>
            </span> Pensamiento didáctico sobre el Carnaval 
          </li>
          
          
        </ul>
      </div>
    </div>

  </div>
</div>
<!-- fin El hacer del carnaval en el sistema educativo-->


<!-- Cuerpo y carnaval Starts-->
<div class="col-xl-4 col-lg-12">
  <div class="card">
    <div class="card-header">
      <i class="ft-award font-large-1 float-left mr-2"></i>
      <h4 class="card-title mb-0">Cuerpo y carnaval</h4>

    </div>
    <div class="card-content">
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item cursor-pointer" (click)="GetDetails(content16, 'Cuerpo y carnaval')">
            <span class="badge bg-warning float-left mr-2">
              <i class="ft-file-text text-white"></i>
            </span> Crítica al afán y la individualidad 
          </li>
          <li class="list-group-item cursor-pointer" (click)="GetDetails(content17, 'Cuerpo y carnaval')">
            <span class="badge bg-warning float-left mr-2">
              <i class="ft-file-text text-white"></i>
            </span> El territorio como parte del cuerpo 
          </li>
          <li class="list-group-item cursor-pointer" (click)="GetDetails(content18, 'Cuerpo y carnaval')">
            <span class="badge bg-warning float-left mr-2">
              <i class="ft-file-text text-white"></i>
            </span> Motivaciones del hacer 
          </li>
          <li class="list-group-item cursor-pointer" (click)="GetDetails(content19, 'Cuerpo y carnaval')">
            <span class="badge bg-warning float-left mr-2">
              <i class="ft-file-text text-white"></i>
            </span> La entrega
          </li>
          <li class="list-group-item cursor-pointer" (click)="GetDetails(content20, 'Cuerpo y carnaval')">
            <span class="badge bg-warning float-left mr-2">
              <i class="ft-file-text text-white"></i>
            </span> El cuerpo en la transmisión de saberes
          </li>
          <li class="list-group-item cursor-pointer" (click)="GetDetails(content21, 'Cuerpo y carnaval')">
            <span class="badge bg-warning float-left mr-2">
              <i class="ft-file-text text-white"></i>
            </span> El aprendizaje a través del movimiento
          </li>
          
          
          
        </ul>
      </div>
    </div>

  </div>
</div>
<!-- fin Cuerpo y carnaval -->

</div>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header bg-info">
    <h4 class="modal-title white">{{title}}</h4>
    <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" id="">
    <p class="text-bold-500">El carnaval como escuela</p>
    <p>
      Los productos artísticos de los niños se consideran como la primera escuela 
      taller del Carnaval o el semillero de los futuros artistas o maestros tanto
       para el Carnaval de Negros y Blancos como para el Carnaval de la alegría, 
       donde se prepara el relevo generacional como una garantía para la continuidad
        de la manifestación. 
      </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>

<ng-template #content2 let-c="close" let-d="dismiss">
  <div class="modal-header bg-info">
    <h4 class="modal-title white">{{title}}</h4>
    <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" id="">
    <p class="text-bold-500">Encuentro de saberes </p>
    <p>
      La participación de la infancia y la juventud en el carnaval, permite a los participantes 
      conocer un tejido de saberes producidos desde Nariño, a partir del juego, la fiesta, 
      el goce y la creación como parte de la experiencia formativa.
      </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>

<ng-template #content3 let-c="close" let-d="dismiss">
  <div class="modal-header bg-info">
    <h4 class="modal-title white">{{title}}</h4>
    <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" id="">
    <p class="text-bold-500">El carnaval como pedagogía </p>
    <p>
      Abordar el Carnaval implica reconocerlo como un lugar donde sucede lo pedagógico, 
      en él, se puede reconocer una idea de formación y de futuro de los pobladores de 
      San Juan de Pasto, a partir de experiencias significativas de interacción con sus 
      hechos culturales.
      </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>

<ng-template #content4 let-c="close" let-d="dismiss">
  <div class="modal-header bg-info">
    <h4 class="modal-title white">{{title}}</h4>
    <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" id="">
    <p class="text-bold-500">El Carnaval como acontecimiento</p>
    <p>
      Vincula el encuentro entre los habitantes de la ciudad y los visitantes, 
      es una oportunidad para que los participantes de los motivos entretejan un
       dialogo intercultural desde su propio lugar de identificación. Por tanto,
        las competencias comunicativas son promovidas ampliamente en los niños y 
        niñas, al asumir el rol de artista, donde el  saludo, el contacto visual,
         la expresión corporal y vocal se convierten en lenguajes de conexión en la senda.
      </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>

<ng-template #content5 let-c="close" let-d="dismiss">
  <div class="modal-header bg-info">
    <h4 class="modal-title white">{{title}}</h4>
    <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" id="">
    <p class="text-bold-500">El potencial de la infancia </p>
    <p>
      La participación de los niños en el Carnaval tiene que seguir siendo el reflejo del
       mundo de los niños, no el reflejo o imposición de las prácticas del adulto. Pues el 
       mundo de los niños está lleno de fantasía, exploración y descubrimiento. Que a partir
        de allí se logre conectar con el territorio, su propio contexto y temas que requieran 
        un aprendizaje, es el reto pedagógico.   
      </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>

<ng-template #content6 let-c="close" let-d="dismiss">
  <div class="modal-header bg-info">
    <h4 class="modal-title white">{{title}}</h4>
    <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" id="">
    <p class="text-bold-500">La experiencia de la infancia en el carnaval </p>
    <p>
      Imponer ideas del adulto resulta contraproducente frente a la exploración, 
      construcción de sentido, disfrute y confianza de los niños y niñas. Formular 
      una propuesta artística de acuerdo a las modalidades requiere de unos referentes 
      en la participación de la infancia, sus intereses y motivaciones. 
      </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>

<ng-template #content7 let-c="close" let-d="dismiss">
  <div class="modal-header bg-info">
    <h4 class="modal-title white">{{title}}</h4>
    <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" id="">
    <p class="text-bold-500">Jugando se aprende </p>
    <p>
      El carnaval genera la posibilidad de aprender a disfrutar el juego de 
      manera natural e intencional, así como soslayar sus temores porque no 
      sesga ni limita al más alegre o al tímido del convite.
      </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>

<ng-template #content8 let-c="close" let-d="dismiss">
  <div class="modal-header bg-info">
    <h4 class="modal-title white">{{title}}</h4>
    <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" id="">
    <p class="text-bold-500">El saber propio </p>
    <p>
      El saber estaría reflejado en la manipulación de elementos, en la 
      identificación con temas culturales, manejo de técnicas artesanales,
       combinación de colores. Interpretación de instrumentos y ritmos musicales
      </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>
  

  <ng-template #content9 let-c="close" let-d="dismiss">
    <div class="modal-header bg-info">
      <h4 class="modal-title white">{{title}}</h4>
      <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" id="">
      <p class="text-bold-500">En el currículo escolar </p>
      <p>
        Es una oportunidad para la construcción de conocimiento desde 
        los saberes locales, a través del cual, es posible abordar
         diferentes áreas del conocimiento de manera transdisciplinaria, 
         para el alcance de propósitos formativos contemplados en planes 
         y proyectos. 
        </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
    </div>
  </ng-template>
  
  <ng-template #content10 let-c="close" let-d="dismiss">
    <div class="modal-header bg-info">
      <h4 class="modal-title white">{{title}}</h4>
      <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" id="">
      <p class="text-bold-500">Como resiliencia  </p>
      <p>
        en procesos formativos de infancia y adolescencia, se ha de 
        manejar como una experiencia perdurable en el tiempo que puede 
        tener incidencia en relación con el fortalecimiento de factores
         protectores frente a problemáticas que afectan a la comunidad 
         educativa, especialmente de sectores con mayor vulnerabilidad. 
        </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
    </div>
  </ng-template>
  
  <ng-template #content11 let-c="close" let-d="dismiss">
    <div class="modal-header bg-info">
      <h4 class="modal-title white">{{title}}</h4>
      <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" id="">
      <p class="text-bold-500">Como puente de comunicación</p>
      <p>
        La inclusión del Carnaval como parte de los procesos internos 
        en las instituciones educativas fortalece la relación de las 
        escuelas formales con lo local, el barrio, la comuna y la ciudad, 
        al generar lazos de solidaridad y de identificación con el 
        territorio. Sin proponérselo cumple con propósitos del sistema y modelo educativo, destacando la vivencia real.
        </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
    </div>
  </ng-template>
  
  <ng-template #content12 let-c="close" let-d="dismiss">
    <div class="modal-header bg-info">
      <h4 class="modal-title white">{{title}}</h4>
      <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" id="">
      <p class="text-bold-500">Aprendizajes significativos a partir de experiencias reales</p>
      <p>
        En correspondencia con el reto del sistema educativo global de 
        lograr indicadores de calidad, se puede reconocer que contar con 
        procesos de carnaval en la escuela aporta a la formación de los
         niños y niñas, al generar conexiones directas con capacidades 
         ciudadanas, relaciones de solidaridad y de inclusión de los 
         saberes locales. 
        </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
    </div>
  </ng-template>
  
  <ng-template #content13 let-c="close" let-d="dismiss">
    <div class="modal-header bg-info">
      <h4 class="modal-title white">{{title}}</h4>
      <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" id="">
      <p class="text-bold-500">Innova las prácticas educativa</p>
      <p>
        Por los requerimientos propios de la producción de motivos de 
        carnaval, los espacios áulicos requeridos rompen con la estructura 
        tradicional intramural de la escuela tradicional; en este sentido, 
        un parque, la calle, el barrio se convierte en un espacio de 
        aprendizaje intencionado, destacando la presencia de la sociedad 
        y sus propios pares para validar el producto final en sus creaciones.   
        </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
    </div>
  </ng-template>
  
  <ng-template #content14 let-c="close" let-d="dismiss">
    <div class="modal-header bg-info">
      <h4 class="modal-title white">{{title}}</h4>
      <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" id="">
      <p class="text-bold-500">el espíritu del juego</p>
      <p>
        Incluir el carnaval dentro de un establecimiento educativo, 
        tiene la posibilidad de articularse como parte de los proyectos
         de uso del tiempo libre, de lo lúdico, como proyecto transversal
          e interdisciplinario. Se debe incluir carnaval en la estructura 
          curricular, pues es a través de lo lúdico donde se manifiesta el 
          aprendizaje, la creación y la conexión con la manifestación. 
        </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
    </div>
  </ng-template>
  
  <ng-template #content15 let-c="close" let-d="dismiss">
    <div class="modal-header bg-info">
      <h4 class="modal-title white">{{title}}</h4>
      <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" id="">
      <p class="text-bold-500">Pensamiento didáctico sobre el Carnaval </p>
      <p>
        En procesos de enseñanza aprendizaje, el juego y la creación 
        del carnaval, se convierten en un soporte de conexión entre 
        la manifestación cultural, las intenciones del sistema 
        educativo específico y la producción de conocimiento
        </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
    </div>
  </ng-template>
  
  <ng-template #content16 let-c="close" let-d="dismiss">
    <div class="modal-header bg-info">
      <h4 class="modal-title white">{{title}}</h4>
      <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" id="">
      <p class="text-bold-500">Crítica al afán y la individualidad </p>
      <p>
        La formación a partir de la experiencia del Carnaval implica 
        procesos de pensamiento que defiendan una posición crítica 
        frente a la construcción de corporalidades centradas en la razón.
        
        </p>
        <p>Fundamentalmente, se asume que el cuerpo del carnaval desea
          expresarse por sí mismo y es capaz de manifestar sentimientos 
          y emociones desde actividades artísticas</p>
          
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
    </div>
  </ng-template>
    
    <ng-template #content17 let-c="close" let-d="dismiss">
      <div class="modal-header bg-info">
        <h4 class="modal-title white">{{title}}</h4>
        <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="">
        <p class="text-bold-500">El territorio como parte del cuerpo </p>
        <p>
          El modelo socio económico y político imperante muestra una sociedad dividida 
          y concentrada en el interés particular, que reclama con urgencia 
          establecer lazos de confianza en el otro y en el lugar. El Carnaval 
          como una manifestación del sur de Colombia, es un escenario formativo 
          que aporta a esa identificación de un cuerpo social, un cuerpo
           colectivo, un cuerpo conformado por ciudadanos y por el territorio.   
          </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
      </div>
    </ng-template>
    
    <ng-template #content18 let-c="close" let-d="dismiss">
      <div class="modal-header bg-info">
        <h4 class="modal-title white">{{title}}</h4>
        <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="">
        <p class="text-bold-500">Motivaciones del hacer </p>
        <p>
          En el carnaval el cuerpo competitivo aparece en las interacciones
           del mundo adulto, como una motivación y garantía para la calidad
            de las muestras artísticas. Sin embargo, ese cuerpo en la 
            participación de los niños se transforma porque es a partir 7
            del goce y el disfrute donde se deben concentrar las
             motivaciones para la participación, sin dejar de lado,
              lo significativo que es para el niño recibir un
               reconocimiento simbólico.
          </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
      </div>
    </ng-template>
    
    <ng-template #content19 let-c="close" let-d="dismiss">
      <div class="modal-header bg-info">
        <h4 class="modal-title white">{{title}}</h4>
        <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="">
        <p class="text-bold-500">La entrega</p>
        <p>
          La consolidación de la propuesta artística, manifestada en cada
           una de las modalidades del Carnaval, manifiesta un cuerpo que 
           dona. Es un legado de las capacidades personales al servicio 
           del Carnaval para favorecer su preservación, y que a la vez,
            es un cuerpo que disfruta estar presente, exigirse y 
            entregarse pleno a la manifestación. 
          </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
      </div>
    </ng-template>
    
    <ng-template #content20 let-c="close" let-d="dismiss">
      <div class="modal-header bg-info">
        <h4 class="modal-title white">{{title}}</h4>
        <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="">
        <p class="text-bold-500">El cuerpo en la transmisión de saberes</p>
        <p>
          El mundo de fantasía e imaginación es para los niños su mayor referencia, 
          sin embargo, se reconoce que en la actualidad existe una fuerte 
          influencia de medios comunicativos con contenidos masivos. 
          Es menester situar el saber de quienes los antecedieron como
           parte de sus referentes.  Solo lo que se ha aprendido 
           significativamente se reconoce como una marca indeleble 
           que se expande en el cuerpo y en la construcción de futuro.
          </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
      </div>
    </ng-template>

    <ng-template #content21 let-c="close" let-d="dismiss">
      <div class="modal-header bg-info">
        <h4 class="modal-title white">{{title}}</h4>
        <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="">
        <p class="text-bold-500">El aprendizaje a través del movimiento</p>
        <p>
          Abordar el carnaval desde lo pedagógico, requiere una propuesta 
          de pensamiento didáctico que posibilite investigar, preparar, 
          producir y generar aprendizajes a partir del cuerpo y el 
          movimiento en las modalidades de carroza, murga, comparsa,
           colectivo coreográfico y disfraz individual.
          </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Cerrar</button>
      </div>
    </ng-template>
     
  </div>